<div class='col-sm-10 col-sm-offset-1'>
  <h4>{{t "A Little About Core" key='a_little_about_core'}}</h4>
</div>
<div class='col-sm-5 col-sm-offset-1'>
  <img src={{path 'walkthrough/core_words.gif'}} style='width: 100%;' />
</div>
<div class='col-sm-5'>
  <p>{{t "One important consideration with AAC is the idea of \"core\" words. Core words are words we use frequently in everyday communication, and often have multiple meanings. It's important for any developing communicator to have access to core words, so they can learn to use their vocabulary generally, instead of just in one or two situations." key='core_1'}}</p>

  <p>{{t "Imagine if all you could say is predefined phrases like \"I'm hungry\", \"I'm tired\", or \"Let's do that again.\" How would you ask someone about their day? How would you say you didn't like something? Instead of trying to think of all possible phrases a communicator might need, we can instead teach them to build their own phrases using core words." key='core_2'}}</p>

  <p>{{t "Remember to plan with the end in mind, and find a vocabulary set with enough core words for the communicator to grow into." key='core_3'}}</p>
</div>