<div class='col-sm-6 col-sm-offset-3'>
  <h4>{{t "You're All Set!" key='youre_all_set'}}</h4>
  <p>{{t "Now you're set up! If you ever want to go through this setup again, you'll find a link under \"My Account\"." key='done_setup'}}</p>

  <p>{{t "If you'd like to learn a little more about how to use CoughDrop, you can continue to our tutorial, or feel free to try things out on your own." key='continue_to_training'}}</p>

  <div class='setup_setting'>
    <div class="btn-group-vertical" style="width: 100%;">
      <a href="#" class='btn btn-lg btn-default' {{action 'extra'}}>{{t "Continue the Tutorial" key='continue_tutorial'}}</a>
      <a href="#" class='btn btn-lg btn-default' {{action 'home'}}>{{t "Return to the Dashboard" key='back_to_dashboard'}}</a>
      <a href="#" class='btn btn-lg btn-default' {{action 'home' true}}>{{t "Watch the Training Video" key='watch_video'}}</a>
    </div>
  </div>
</div>