<div class='col-sm-6 col-sm-offset-3'>
  <h4>{{t "You're All Set (Again)!" key='youre_all_set_again'}}</h4>
  <p>{{t "Now you should know everything you need to get started using %app_name%! If you ever get stumped, you can always hit the \"Support\" link on the dashboard to access your YouTube channel or How-To Guides. Good luck!" key='done_setup_2'}}</p>

  <div class='setup_setting'>
    <div class="btn-group-vertical" style="width: 100%;">
      <a href="#" class='btn btn-lg btn-default' {{action 'home'}}>{{t "Return to the Dashboard" key='return_to_dashboard'}}</a>
      <a href="#" class='btn btn-lg btn-default' {{action 'home' true}}>{{t "Watch the Training Video" key='watch_video'}}</a>
    </div>
  </div>
</div>