<div class='col-sm-10 col-sm-offset-1'>
  <h4>{{t "%app_name% Dashboard" key='coughdrop_dashboard'}}</h4>
</div>
<div class='col-sm-5 col-sm-offset-1'>
  <img src={{path 'walkthrough/dashboard.gif'}} style='width: 100%;' />
</div>
<div class='col-sm-5'>
  <p>{{t "Now let's move on to how to get started using %app_name%!" key='dashboard_1'}}</p>

  <p>{{t "When you first log in to %app_name%, you'll start on the dashboard. Here you can see notifications, access your profile and preferences, and browse through the available home boards." key='dashboard_2'}}</p>

  <p>{{t "Supervisor accounts always see the dashboard when they first log in, but communicator accounts to opt to skip the dashboard and go straight to the home board when enabled." key='communicators_skip_dashboard'}}</p>
</div>
