<div class='col-sm-10 col-sm-offset-1'>
  <h4>{{t "AAC Modeling" key='aac_modeling'}}</h4>
</div>
<div class='col-sm-5 col-sm-offset-1'>
  <img src={{path 'walkthrough/modeling.gif'}} style='width: 100%;' />
</div>
<div class='col-sm-5'>
  <p>{{t "When someone is learning to communicate (whether by speaking or using AAC), it's important that they have lots of supporting communicators helping them see good examples and learn correctly." key='modeling_1'}}</p>

  <p>{{t "In the AAC world many people call this \"modeling\", and it's important that people around AAC users are showing them examples of how to effectively use their device (\"You want a cookie? Let me show you, you could say *want* and then *cookie*\")." key='modeling_2'}}</p>

  <p>{{t "In %app_name% if you triple-tap the clear button, you'll see a finger icon indicating \"Modeling Mode\". When in Modeling Mode %app_name% tracks buttons pressed as modeling actions so they don't show up in a communicator's usage reports. Tap \"Clear\" again to leave Modeling Mode." key='modeling_3'}}</p>
</div>
