<div class='col-sm-10 col-sm-offset-1'>
  <h4>{{t "Exiting Speak Mode" key='exiting_speak_mode'}}</h4>
</div>
<div class='col-sm-5 col-sm-offset-1'>
  <img src={{path 'walkthrough/speak_mode_exiting.gif'}} style='width: 100%;' />
</div>
<div class='col-sm-5'>
  <p>{{t "You can exit out of Speak Mode by hitting the user menu in the top right corner. If you're worried about a user accidentally exiting Speak Mode on their own, you can set up a PIN in the user's preferences." key='exit_speak_mode_1'}}</p>
  <label>
    {{t "Optionally set a 4-digit pin to prevent exiting Speak Mode:" key='pin_for_exiting_speak_mode'}}
    <span style='display: inline-block; width: 200px;'>
      {{input type='text' value=pin placeholder='4-digit PIN' class='form-control input-lg'}}
    </span>
  </label>
</div>
