<div class='col-sm-10 col-sm-offset-1'>
  <h4>{{t "Usage Logging and Reports" key='usage_logging_and_reports'}}</h4>
</div>
<div class='col-sm-5 col-sm-offset-1'>
  <img src={{path 'walkthrough/reports.gif'}} style='width: 100%;' />
</div>
<div class='col-sm-5'>
  <p class='prompt'>{{t "%app_name% has powerful built-in reporting tools that allow caregivers, therapists and supporters to see things like what time of day the device is being used, most common words and progress toward goals. To use these helpful features, just enable logging." key='reports_1'}}</p>
  {{#if app_state.currentUser}}
    <p style='margin-top: 20px;'><button class='btn btn-default btn-lg' {{action 'set_preference' 'logging' true}}>
      {{#if app_state.currentUser.preferences.logging}}
        {{t "Logging is Enabled" key='logging_is_enabled'}}
      {{else}}
        {{t "Enable Logging" key='enable_logging'}}
      {{/if}}
    </button></p>
  {{/if}}
</div>
<div class='col-sm-10 col-sm-offset-1'>
  <h4>{{t "Reporting Notifications" key='reporting_notifications'}}</h4>
</div>
<div class='col-sm-5 col-sm-offset-1'>
  {{#if app_state.currentUser.supporter_role}}
    <p class='prompt'>{{t "As a supervisor, you'll have access to boards and usage reports for the communicators you work with. If you'd like, you can also turn on notifications, and receive regular updates on communicator progress, or even opt-in to receiving text messages from communicators that have added you as a supervisor." key='notifications_settings'}}</p>
  {{else}}
    <p class='prompt'>{{t "When logging is enabled, you can opt to receive regular emails with details on communication over time, including current goals and word usage. This can help keep everyone on the same page and can be a valuable tool is helping communicators make continual progress." key='communicator_notifications'}}</p>
  {{/if}}
  <p>{{t "You can change these and other notification preferences under the \"Profile\" section of \"My Account\" at any time." key='available_under_profile'}}</p>
</div>
<div class='col-sm-5'>
  <div class='setup_setting' style='margin-top: 0;'>
    <label>{{t "How often do you want summary emails?" key='browse_categories'}}</label>
    <div class="btn-group-vertical" style="width: 100%;">
      <a href="#" class={{if notification.1_week 'btn btn-lg btn-primary' 'btn btn-lg btn-default'}} {{action 'set_preference' 'notification_frequency' '1_week'}}>{{t "Every Week" key='every_week'}}</a>
      <a href="#" class={{if notification.2_weeks 'btn btn-lg btn-primary' 'btn btn-lg btn-default'}} {{action 'set_preference' 'notification_frequency' '2_weeks'}}>{{t "Every Other Week" key='every_two_weeks'}}</a>
      <a href="#" class={{if notification.1_month 'btn btn-lg btn-primary' 'btn btn-lg btn-default'}} {{action 'set_preference' 'notification_frequency' '1_month'}}>{{t "Every Month" key='every_month'}}</a>
      <a href="#" class={{if notification.none 'btn btn-lg btn-primary' 'btn btn-lg btn-default'}} {{action 'set_preference' 'notification_frequency' ''}}>{{t "Never" key='never'}}</a>
    </div>
  </div>
  {{#if app_state.currentUser.supporter_role}}
    <div class='setup_setting'>
      <label>{{t "How would you like communicators to message you?" key='browse_categories'}}</label>
      <div class="btn-group-vertical" style="width: 100%;">
        <span class={{if notification.text 'btn btn-lg btn-primary' 'btn btn-lg btn-default'}} {{action 'set_preference' 'share_notifications' 'text'}}>
          {{t "As Text Messages" key='via_text'}}
          <br/>
          <span style='display: inline-block; width: 300px;'>{{input type='text' class='form-control input-lg' value=cell placeholder='cell #'}}</span>
        </span>
        <a href="#" class={{if notification.email 'btn btn-lg btn-primary' 'btn btn-lg btn-default'}} {{action 'set_preference' 'share_notifications' 'email'}}>{{t "As Email Messages" key='via_email'}}</a>
        <a href="#" class={{if notification.app 'btn btn-lg btn-primary' 'btn btn-lg btn-default'}} {{action 'set_preference' 'share_notifications' 'app'}}>{{t "As Dashboard Notifications" key='via_dashboard'}}</a>
      </div>
    </div>
  {{/if}}
</div>
