<div class='col-sm-10 col-sm-offset-1'>
  <p class='prompt'>{{t "In addition to selecting a board, there are some other settings that can change based on the communicator's situation. Keep in mind that you can always change these settings later under \"Preferences\"." key='start_deciding'}}</p>
</div>
<div class='row'>
  <div class='col-sm-5 col-sm-offset-1'>
    <div class='setup_setting'>
      <label>{{t "How do you want buttons to appear?" key='text_placement'}}</label>
      <div class="btn-group-vertical" style="width: 100%;">
        <a href="#" class={{if text_position.text_on_top 'btn btn-lg btn-primary' 'btn btn-lg btn-default'}} {{action 'set_preference' 'device.button_text_position' 'top'}} >{{t "Pictures with text above" key='text_above_pictures'}}</a>
        <a href="#" class={{if text_position.text_only 'btn btn-lg btn-primary' 'btn btn-lg btn-default'}} {{action 'set_preference' 'device.button_text_position' 'text_only'}} >{{t "Text only (no pictures)" key='no_pictures'}}</a>
        <a href="#" class={{if text_position.text_on_bottom 'btn btn-lg btn-primary' 'btn btn-lg btn-default'}} {{action 'set_preference' 'device.button_text_position' 'bottom'}} >{{t "Pictures with text below" key='text_below_pictures'}}</a>
      </div>
    </div>
  </div>
  <div class='col-sm-5' style='padding-top: 50px;'>
    <div style='width: 200px; height: 200px; border-radius: 10px; border: 3px solid rgb(0, 98, 246); text-align: center; margin: 0 auto; background-color: rgb(144, 189, 255); float: left; margin-right: 15px;'>
      {{#if text_position.text_only}}
        <div style='font-size: 25px; text-align: center; margin-top: 80px;'>
          {{t "happy" key='happy'}}
        </div>
      {{else}}
        {{#if text_position.text_on_top}}
          <div style='font-size: 25px; text-align: center;'>
            {{t "happy" key='happy'}}
          </div>
        {{/if}}
        <span class={{image_preview_class}}>
          {{#if symbols.twemoji}}
            <img src='https://d18vdu4p71yql0.cloudfront.net/libraries/twemoji/1f60a.svg' />
          {{else if symbols.noun_project}}
            <img src='https://d18vdu4p71yql0.cloudfront.net/libraries/noun-project/Happy_213_g.svg' />
          {{else if symbols.tawasol}}
            <img src='https://d18vdu4p71yql0.cloudfront.net/libraries/tawasol/Happy%20(M).png' />
          {{else if symbols.pcs}}
            <img src='https://d18vdu4p71yql0.cloudfront.net/libraries/pcs/00047/5fc50fd308c61df38e26e426845a6c055b9b900f2fec0936f916bf104172ab020da82c0a598c7df0d834310223644d93ffb2e802e0df75b6a6c0dcb61a6fe3f0/00047.svg' />
          {{else if symbols.lessonpix}}
            <img src='https://lessonpix.com/drawings/13748/150x150/13748.png' />
          {{else}}
            <img src='https://opensymbols.s3.amazonaws.com/libraries/arasaac/happy.png' />
          {{/if}}
          {{#if text_position.text_on_bottom}}
            <div style='font-size: 25px; text-align: center;'>
              {{t "happy" key='happy'}}
            </div>
          {{/if}}
        </span>
      {{/if}}
    </div>
    <p style='font-size: 16px;'>{{t "If you're not sure, having text above is a good option for starting with pictures but learning to read words over time." key='text_above_suggestion'}}</p>
  </div>
</div>
{{#unless text_position.text_only}}
<div class='row'>
  <div class='col-sm-5 col-sm-offset-1'>
    <div class='setup_setting'>
      <label>{{t "How do you want pictures to display?" key='symbol_background'}}</label>
      <div class="btn-group-vertical" style="width: 100%;">
        <a href="#" class={{if background.clear 'btn btn-lg btn-primary' 'btn btn-lg btn-default'}} {{action 'set_preference' 'device.symbol_background' 'clear'}} style='text-align: left;'>
          <span style='vertical-align: middle; display: inline-block; width: 32px; height: 32px; border-radius: 3px; border: 5px solid rgb(255, 189, 144); background: rgb(255, 189, 144);'>
            <span style='display: inline-block; width: 16px; height: 16px; margin: 3px; border-radius: 20px; border: 3px solid #800; background: #ffc;'></span>
          </span> 
          {{t "With a background matching the button" key='clear_background'}}
        </a>
        <a href="#" class={{if background.white 'btn btn-lg btn-primary' 'btn btn-lg btn-default'}} {{action 'set_preference' 'device.symbol_background' 'white'}} style='text-align: left;' >
          <span style='vertical-align: middle; display: inline-block; width: 32px; height: 32px; border-radius: 3px; border: 5px solid rgb(255, 189, 144); background:#fff;'>
            <span style='display: inline-block; width: 16px; height: 16px; margin: 3px; border-radius: 20px; border: 3px solid #800; background: #ffc;'></span>
          </span> 
          {{t "Always with a white background" key='white_background'}}
        </a>
        <a href="#" class={{if background.black 'btn btn-lg btn-primary' 'btn btn-lg btn-default'}} {{action 'set_preference' 'device.symbol_background' 'black'}} style='text-align: left;' >
          <span style='vertical-align: middle; display: inline-block; width: 32px; height: 32px; border-radius: 3px; border: 5px solid rgb(255, 189, 144); background: #000;'>
            <span style='display: inline-block; width: 16px; height: 16px; margin: 3px; border-radius: 20px; border: 3px solid #800; background: #ffc;'></span>
          </span> 
          {{t "Always with a black background" key='black_background'}}
        </a>
        <a href="#" class={{if background.black_with_high_contrast 'btn btn-lg btn-primary' 'btn btn-lg btn-default'}} {{action 'set_preference' 'device.symbol_background' 'black_with_high_contrast'}} style='text-align: left;' >
          <span style='vertical-align: middle; display: inline-block; width: 32px; height: 32px; border-radius: 3px; border: 5px solid rgb(255, 189, 144); background: #000;'>
            <span style='display: inline-block; width: 16px; height: 16px; margin: 3px; border-radius: 20px; border: 3px solid #f00; background: #f8fc03;'></span>
          </span> 
          {{t "High contrast with a black background" key='high_contrast_black_background'}}
        </a>
      </div>
    </div>

  </div>
  <div class='col-sm-5' style='padding-top: 50px;'>
    <div style='width: 200px; height: 200px; border-radius: 10px; border: 3px solid rgb(246, 98, 0); text-align: center; margin: 0 auto; background-color: rgb(255, 189, 144); float: left; margin-right: 15px;'>
      {{#if text_position.text_only}}
        <div style='font-size: 25px; text-align: center; margin-top: 80px;'>
          {{t "frog" key='frog'}}
        </div>
      {{else}}
        {{#if text_position.text_on_top}}
          <div style='font-size: 25px; text-align: center;'>
            {{t "frog" key='frog'}}
          </div>
        {{/if}}
        <span class={{image_preview_class}}>
          {{#if symbols.twemoji}}
            <img src='https://d18vdu4p71yql0.cloudfront.net/libraries/twemoji/1f438.svg' />
          {{else if symbols.noun_project}}
            <img src='https://d18vdu4p71yql0.cloudfront.net/libraries/noun-project/Green-frog_582_g.svg' />
          {{else if symbols.tawasol}}
            <img src='https://d18vdu4p71yql0.cloudfront.net/libraries/tawasol/Frog.png' />
          {{else if symbols.pcs}}
            <img src='https://d18vdu4p71yql0.cloudfront.net/libraries/pcs/02086/70f88a99a243736c9f554808cbff30c26a8b74a25f06d58e31dd392a89f6586ebe03d6ff2d617e71e98c3901689c833d56e96e5e48dbb1cf51da8336d46b5728/02086.svg' />
          {{else if symbols.lessonpix}}
            <img src='https://lessonpix.com/drawings/1283/150x150/1283.png' />
          {{else}}
            <img src='https://opensymbols.s3.amazonaws.com/libraries/arasaac/frog.png' />
          {{/if}}
          {{#if text_position.text_on_bottom}}
            <div style='font-size: 25px; text-align: center;'>
              {{t "frog" key='frog'}}
            </div>
          {{/if}}
        </span>
      {{/if}}
    </div>
    <p style='font-size: 16px;'>{{t "For most users, matching the button color works well, but for some communicators having a white background can help with contrast and recognition." key='background_suggestion'}}</p>
  </div>
</div>
<div class='row'>
  <div class='col-sm-5 col-sm-offset-1'>
    <div class='setup_setting'>
      <label>{{t "Which symbols do you prefer?" key='text_placement'}}</label>
      <div class="btn-group-vertical" style="width: 100%; text-align: left;">
        <a href="#" style='text-align: left; padding: 14px 20px;' class={{if symbols.original 'btn btn-lg btn-primary' 'btn btn-lg btn-default'}} {{action 'set_preference' 'preferred_symbols' 'original'}} >
          <img src="https://d18vdu4p71yql0.cloudfront.net/libraries/twemoji/2b50.svg" style='height: 40px; width: 40px; margin: -20px 0;'/>
          {{t "Use the board's original symbols" key='original'}}
        </a>
        <a href="#" style='text-align: left; padding: 14px 20px;' class={{if symbols.opensymbols 'btn btn-lg btn-primary' 'btn btn-lg btn-default'}} {{action 'set_preference' 'preferred_symbols' 'opensymbols'}} >
          <img src="https://www.opensymbols.org/find.png" style='height: 40px; width: 40px; margin: -20px 0;'/>
          {{t "Opensymbols.org free symbol libraries" key='opensymbols'}}
        </a>
        <a href="#" style='text-align: left; padding: 14px 20px;' class={{if symbols.lessonpix 'btn btn-lg btn-primary' 'btn btn-lg btn-default'}} {{action 'set_preference' 'preferred_symbols' 'lessonpix'}} >
          <img src="https://s3.amazonaws.com/coughdrop/icons/lessonpix.png" style='width: 40px; height: 40px; margin: -20px 0;' />
          {{t "LessonPix symbol library" key='lessonpix'}}
        </a>
        <a href="#" style='text-align: left; padding: 14px 20px;' class={{if symbols.pcs 'btn btn-lg btn-primary' 'btn btn-lg btn-default'}} {{action 'set_preference' 'preferred_symbols' 'pcs'}} >
          <img src="https://d18vdu4p71yql0.cloudfront.net/libraries/pcs/03601/773cfc7cdbfa6770803a334b3089deff6eafca6d003d81bb21b08ae6ea75665c898bccbb25e46eed03592ca2d9b3e471bcd54fc7b4395e06984357e1a0bd976e/03601.svg" style='width: 40px; height: 40px; margin: -20px 0;' />
          {{t "PCS Symbols by Tobii Dynavox" key='pcs'}}
        </a>
        {{#unless showing_more_symbols}}
          <a href="#" style='text-align: left; padding: 14px 20px;' class='btn btn-lg btn-default' {{action 'show_more_symbols'}} >
            <img src="https://d18vdu4p71yql0.cloudfront.net/libraries/noun-project/chevron-down_213_730207.svg" style='width: 40px; height: 40px; margin: -20px 0;' />
            {{t "Show more libraries" key='show_more_libraries'}}
          </a>
        {{else}}
          <a href="#" style='text-align: left; padding: 14px 20px;' class={{if symbols.twemoji 'btn btn-lg btn-primary' 'btn btn-lg btn-default'}} {{action 'set_preference' 'preferred_symbols' 'twemoji'}} >
            <img src="https://d18vdu4p71yql0.cloudfront.net/libraries/twemoji/1f33c.svg" style='height: 40px; width: 40px; margin: -20px 0;' />
            {{t "Emoji icons (authored by Twitter)" key='twemoji'}}
          </a>
          <a href="#" style='text-align: left; padding: 14px 20px;' class={{if symbols.noun_project 'btn btn-lg btn-primary' 'btn btn-lg btn-default'}} {{action 'set_preference' 'preferred_symbols' 'noun-project'}} >
            <img src="https://d18vdu4p71yql0.cloudfront.net/libraries/noun-project/News-a876209382.svg" style='width: 40px; height: 40px; margin: -20px 0;' />
            {{t "The Noun Project black outlines" key='noun_project'}}
          </a>
          <a href="#" style='text-align: left; padding: 14px 20px;' class={{if symbols.arasaac 'btn btn-lg btn-primary' 'btn btn-lg btn-default'}} {{action 'set_preference' 'preferred_symbols' 'arasaac'}} >
            <img src="https://d18vdu4p71yql0.cloudfront.net/libraries/arasaac/hello_1.png" style='width: 40px; height: 40px; margin: -20px 0;' />
            {{t "ARASAAC free symbols" key='arasaac'}}
          </a>
          <a href="#" style='text-align: left; padding: 14px 20px;' class={{if symbols.tawasol 'btn btn-lg btn-primary' 'btn btn-lg btn-default'}} {{action 'set_preference' 'preferred_symbols' 'tawasol'}} >
            <img src="https://d18vdu4p71yql0.cloudfront.net/libraries/tawasol/142-to%20hug.png" style='width: 40px; height: 40px; margin: -20px 0;' />
            {{t "Tawasol symbol library" key='tawasol'}}
          </a>
        {{/unless}}
      </div>
    </div>
  </div>
  <div class='col-sm-5' style='padding-top: 50px;'>
    <div style='width: 200px; height: 200px; border-radius: 10px; border: 3px solid rgb(102, 221, 0); text-align: center; margin: 0 auto; background-color: rgb(204, 255, 170); float: left; margin-right: 15px;'>
      {{#if text_position.text_only}}
        <div style='font-size: 25px; text-align: center; margin-top: 80px;'>
          {{t "like" key='like'}}
        </div>
      {{else}}
        {{#if text_position.text_on_top}}
          <div style='font-size: 25px; text-align: center;'>
            {{t "like" key='like'}}
          </div>
        {{/if}}
        <span class={{image_preview_class}}>
          {{#if symbols.twemoji}}
            <img src='https://d18vdu4p71yql0.cloudfront.net/libraries/twemoji/1f499.svg' />
          {{else if symbols.noun_project}}
            <img src='https://d18vdu4p71yql0.cloudfront.net/libraries/noun-project/like_9767_dd14ee88-7789-43b7-958d-c8d44a3e1458.svg' />
          {{else if symbols.tawasol}}
            <img src='https://d18vdu4p71yql0.cloudfront.net/libraries/tawasol/65-Play.png' />
          {{else if symbols.pcs}}
            <img src='https://d18vdu4p71yql0.cloudfront.net/libraries/pcs/03250/1d9b330d61e2802a0ba74277fadf21c73d0454e943b1d2bed18f262066feba269e190591f375152e82a0041642988c930e06b370474aef29d375643af1c92d1b/03250.svg' />
          {{else if symbols.lessonpix}}
            <img src='https://lessonpix.com/drawings/113947/150x150/113947.png' />
          {{else}}
            <img src='https://opensymbols.s3.amazonaws.com/libraries/arasaac/to%20like.png' />
          {{/if}}
          {{#if text_position.text_on_bottom}}
            <div style='font-size: 25px; text-align: center;'>
              {{t "like" key='like'}}
            </div>
          {{/if}}
        </span>
      {{/if}}
    </div>
    {{#if premium_but_not_allowed}}
      <p class='text-warning' style='font-size: 16px;'>{{t "NOTE: You will need to purchase the premium symbols upgrade on your billing page before you can use these symbols." key='premium_upgrade_required'}}</p>
    {{else if lessonpix_but_not_allowed}}
      <p class='text-warning' style='font-size: 16px;'>{{t "NOTE: You will need to connect your LessonPix account to your %app_name% account on your Profile page before you can use these symbols." key='lessonpix_upgrade_required'}}</p>
    {{else}}
      <p style='font-size: 16px;'>{{t "Some communicators already know a symbol library or can benefit from a certain style, and %app_name% can be set to use they're familiar with. Using the board's original symbols is also fine." key='symbols_suggestion'}}</p>
    {{/if}}
  </div>
</div>
{{/unless}}