<div class='col-sm-10 col-sm-offset-1'>
  <h4>{{t "Using %app_name%" key='using_coughdrop'}}</h4>
</div>
<div class='col-sm-5 col-sm-offset-1'>
  <img src={{path 'walkthrough/aac_intro.gif'}} style='width: 100%;' />
  {{#unless app_state.no_linky}}
    <div style='text-align: center; opacity: 0.8; margin-top: 10px; margin-bottom: 20px;'>
      {{#if app_state.domain_settings.ios_store_url}}
        <a href={{app_state.domain_settings.ios_store_url}} target="_blank">
          <img src={{path "images/ios_app_store.svg"}} alt="ios app store" style="height: 40px; margin-top: 5px;"/>
        </a>
      {{/if}}
      {{#if app_state.domain_settings.play_store_url}}
        <a href={{app_state.domain_settings.play_store_url}} target="_blank">
          <img src={{path "images/google_play.png"}} alt="google play" style="height: 40px; margin-top: 5px;"/>
        </a>
      {{/if}}
      {{#if app_state.domain_settings.kindle_store_url}}
        <a href={{app_state.domain_settings.kindle_store_url}} target="_blank">
          <img src={{path "images/amazon.png"}} alt="amazon" style="height: 40px; margin-top: 5px;"/>
        </a>
      {{/if}}
      <a href="https://app.mycoughdrop.com/download" target="_blank">
        <img src={{path "images/windows.svg"}} alt="windows" style="height: 40px; margin-top: 5px;"/>
      </a>
    </div>
  {{/unless}}
</div>
<div class='col-sm-5'>
  <p class='prompt'>{{t "%app_name% is a tool for generating speech. You can hit buttons to speak words or sentences, or to spell words." key='usage_1'}}</p>

  <p class='prompt'>{{t "%app_name% isn't just for nonverbal communicators. Some communicators are still learning, or need help only some of the time, and having an AAC \"crutch\" like %app_name% can be a great support tool." key='usage_2'}}</p>

  <p class='prompt'>{{t "%app_name% can run on any system. You can find it in the major app stores as a free download, or install the Windows app or use it in your web browser. Use whatever device you like." key='usage_3'}}</p>

  <p class='prompt'>{{t "Some people worry that communicators who use AAC will never speak on their own. However, recent research has shown that many AAC users move on to vocal communication once they are more comfortable or proficient." key='usage_4'}}</p>
</div>