<div class='col-sm-10 col-sm-offset-1'>
  <h4>{{t "Using CoughDrop" key='using_coughdrop'}}</h4>
</div>
<div class='col-sm-5 col-sm-offset-1'>
  <img src={{path 'walkthrough/aac_intro.gif'}} style='width: 100%;' />
  <div style='text-align: center; opacity: 0.8; margin-top: 10px; margin-bottom: 20px;'>
    <a href="https://itunes.apple.com/us/app/coughdrop/id1021384570?ls=1&mt=8" target="_blank">
      <img src={{path "images/ios_app_store.svg"}} alt="ios app store" style="height: 40px; margin-top: 5px;"/>
    </a>
    <a href="https://play.google.com/store/apps/details?id=com.mycoughdrop.coughdrop" target="_blank">
      <img src={{path "images/google_play.png"}} alt="google play" style="height: 40px; margin-top: 5px;"/>
    </a>
    <a href="http://www.amazon.com/CoughDrop-Inc-AAC/dp/B01BU8RUEY/ref=sr_1_1?s=mobile-apps&ie=UTF8&qid=1458589410&sr=1-1" target="_blank">
      <img src={{path "images/amazon.png"}} alt="amazon" style="height: 40px; margin-top: 5px;"/>
    </a>
    <a href="https://app.mycoughdrop.com/download" target="_blank">
      <img src={{path "images/windows.svg"}} alt="windows" style="height: 40px; margin-top: 5px;"/>
    </a>
  </div>
</div>
<div class='col-sm-5'>
  <p>CoughDrop is a tool for generating speech. You can hit buttons to speak words or sentences, or to spell words.</p>

  <p>CoughDrop isn't just for nonverbal communicators. Some communicators may still be developing, or have trouble only in certain circumstances, and having an AAC "crutch" like CoughDrop can be a valuable support tool.</p>

  <p>CoughDrop can run on any system. You can find it in the iOS, Google Play and Kindle app stores as a free download (login required), or install the Windows app or use it in your web browser, so you can use it on whatever hardware works best.</p>

  <p>Some people worry that communicators who use AAC will never speak on their own. However, recent research has shown that many AAC users move on to vocal communication once they are more comfortable or proficient.</p>
</div>