<div class='col-sm-6 col-sm-offset-3'>
  <p class='prompt'>{{t "Now let's pick a voice. This is what people will hear when the communicator hits buttons." key='select_voice'}}
  {{#if app_state.currentUser.grace_period}}
    {{t "<strong>Keep in mind</strong>: you're still in the free trial, so currently you only have access to the device's built-in voices. After you purchase %app_name%, you can download one of over 90 premium voices." key='free_trial'}}
  {{else if app_state.currentUser.subscription.premium_supporter}}
    {{t "You are using a limited %app_name% account, so currently you only have access to the device's built-in voices. Paid communicator accounts can also download premium voices for use in Speak Mode." key='supporter_limited_voices'}}
  {{else if app_state.currentUser.subscription.modeling_only}}
    {{t "You are using a modeling-only %app_name% account, so currently you only have access to the device's built-in voices. Consider purchasing a paid communicator account if you need access to premium voices." key='supporter_limited_voices'}}
  {{else}}
    {{t "Remember, you can also browse the premium voices that can be downloaded to mobile and Windows apps for paid accounts." key='paid_voices'}}
  {{/if}}
  </p>

  <div class='setup_setting'>
    <label>{{t "Select a Voice" key='select_a_voice'}}</label>
    <div style='max-height: 300px; overflow: auto;'>
      <div class="btn-group-vertical" style="width: 100%;">
        {{#each user_voice_list as |voice|}}
          <a href="#" class={{if voice.selected 'btn btn-lg btn-primary' 'btn btn-lg btn-default'}} {{action 'set_preference' 'device.voice.voice_uri' voice.id}}>{{voice.name}}</a>
        {{/each}}
      </div>
    </div>
    <div style='margin-top: 15px;'>
      <button class='btn btn-lg btn-default' {{action 'test_voice'}}>{{t "Listen to This Voice" key='listen_to_this_voice'}}</button>
      <button class='btn btn-lg btn-default' {{action 'premium_voices'}}>{{t "Browse Premium Voices" key='browse_premium_voices'}}</button>
    </div>
  </div>

  <p>{{t "If you're planning to record messages, this voice will only be used for any buttons that don't have recordings attached to them, or for words that are manually spelled using the keyboard." key='voice_as_fallback'}}</p>
</div>