<div class='col-sm-6 col-sm-offset-3'>
  <p>{{t "Now let's pick a voice. This is the voice output that people will hear when the communicator hits buttons in their board set." key='select_voice'}}</p>
  {{#if app_state.currentUser.grace_period}}
    <p>{{t "<strong>Keep in mind</strong>: you're still in the free trial, so currently you only have access to the voices built into this device. After you purchase CoughDrop, you can download from our collection of over 90 premium voices." key='free_trial'}}</p>
  {{else if app_state.currentUser.free_premium}}
    <p>{{t "You are using a free CoughDrop account, so currently you only have access to the voices built into this device. Paid accounts have access to additional premium voices for use in Speak Mode" key='free_supporter'}}</p>
  {{else}}
    <p>{{t "Remember, you can also browse through the premium voices that can be downloaded to the mobile and Windows apps for use on paid accounts." key='paid_voices'}}</p>
  {{/if}}

  <div class='setup_setting'>
    <label>{{t "Select a Voice" key='select_a_voice'}}</label>
    <div style='max-height: 300px; overflow: auto;'>
      <div class="btn-group-vertical" style="width: 100%;">
        {{#each user_voice_list as |voice|}}
          <a href="#" class={{if voice.selected 'btn btn-lg btn-primary' 'btn btn-lg btn-default'}} {{action 'set_preference' 'device.voice.voice_uri' voice.id}}>{{voice.name}}</a>
        {{/each}}
      </div>
    </div>
    <div style='margin-top: 15px;'>
      <button class='btn btn-lg btn-default' {{action 'test_voice'}}>{{t "Listen to This Voice" key='listen_to_this_voice'}}</button>
      <button class='btn btn-lg btn-default' {{action 'premium_voices'}}>{{t "Browse Premium Voices" key='browse_premium_voices'}}</button>
    </div>
  </div>

  <p>{{t "If you're planning to record messages, this voice will only be used for any buttons that don't have recordings attached to them, or for words that are manually spelled using the keyboard." key='voice_as_fallback'}}</p>
</div>