<div id="intro_header" class="col-sm-12 full_back" style="position: relative; color: #fff; text-align: center; padding: 170px 10px 200px; line-height: 30px;">
  {{#unless app_state.no_linky}}
    {{#if app_state.domain_settings.full_domain}}
      <div style='position: absolute; top: 0; left: 0; width: 100%;'>
        <div style='width: 400px; margin: 0 auto; background: rgba(255, 255, 255, 0.7); color: #000; line-height: 22px; padding: 10px; border-bottom-right-radius: 10px; border-bottom-left-radius: 10px;'>
          {{t "Did you know? %app_name% is now available as a" key='did_you_know'}}<br/><span style='font-size: 20px; text-shadow: -1px -1px 2px #fff, 1px 1px 2px #fff, -1px 1px 2px #fff, 1px -1px 2px #fff;'>{{#link-to 'pricing'}}{{t "lifetime purchase" key='lifetime_purpose'}}{{/link-to}}</span>!
        </div>
      </div>
    {{/if}}
  {{/unless}}
  <div style="margin-bottom: 30px;">
    <img src={{if app_state.domain_settings.logo_url app_state.domain_settings.logo_url (path "images/logo-big.png")}} style="width: 100px;"/>
  </div>
  <h2>{{t "Communication is for everyone. %app_name%" key='communication_is_for_everyone'}}
    <span id="header_line_2">{{t "empowers people to make their voices heard." key='empowers_hearing'}}</span>
    {{#unless app_state.no_linky}}
      <button {{action 'intro_video' 'ELNKXfvTDbA'}} class='btn btn-default' style='background-color: rgba(255, 255, 255, 0.5); margin-top: 50px; margin-bottom: -50px; font-size: 20px; min-width: 300px; text-align: center; padding-top: 15px; padding-bottom: 15px;'>
        <span class='glyphicon glyphicon-play-circle' style='font-size: 24px; vertical-align: bottom;'></span>
        {{t "What Is %app_name%?" key='what_is_coughdrop'}}
      </button>
    {{/unless}}
  </h2>
  <div>
  </div>
  <div style="position: absolute; bottom: 30px; text-align: center; color: #fff; width: 100%; font-size: 30px;">
    <span style="opacity: 0.7;">
      <span class="glyphicon glyphicon-chevron-down"></span>
    </span>
  </div>
</div>
<div class="col-sm-12 full_back" style="background: #fff; padding: 50px 10px; margin-bottom: 10px; border-top: 30px solid #49c7e8;">
  <div class="col-sm-5 col-sm-offset-1">
    <h2 style="font-size: 30px;">
      {{t "Every voice should be heard" key='every_voice_should_be_heard'}}
    </h2>
    <div style="line-height: 28px; font-size: 18px;">
    <p>{{t "Some people are hard to hear -- through no fault of their own. Disabilities like autism, cerebral palsy, Down syndrome, Angelman syndrome and Rett syndrome make it harder for many individuals to communicate on their own. Powerful software called Augmentative and Alternative Communication (AAC) can fill the gaps and make every voice heard." key='coughdrop_lets_you'}}</p>
    <br/>
    <p>{{t "At %app_name% we work to help bring out the voices of those with complex communication needs through powerful open-source technology that easily adapts to the individual and supports everyone around them trying to help them succeed." key='coughdrop_lets_you_2'}}</p>
    </div>
    {{#unless app_state.no_linky}}
      {{#link-to "about"}}{{t "Learn More" key='learn_more'}}{{/link-to}}
    {{/unless}}
  </div>
  {{#unless app_state.no_linky}}
    <div class="col-sm-5">
      <a href="https://blog.mycoughdrop.com/new-well-known-image-library-within-coughdrop/" target='_blank' style='position: absolute; top: -39px; right: 60px;'>
        <img src={{path 'images/pcs-coughdrop.png'}} style='height: 90px;' />
      </a>
      <img src={{path 'images/preview.png'}} style="width: 100%; margin-top: 40px;"/>
    </div>
  {{/unless}}
  {{#unless app_state.installed_app}}
    {{#unless app_state.no_linky}}
      <div class="col-sm-12" style="text-align: center; margin-top: 30px; margin-bottom: -40px;">
        {{#if app_state.domain_settings.ios_store_url}}
          <a href={{app_state.domain_settings.ios_store_url}} target="_blank">
            <img src={{path "images/ios_app_store.svg"}} alt="ios app store" style="height: 50px; margin-top: 5px;"/>
          </a>
        {{/if}}
        <img src={{path "images/web_version.svg"}} alt="web version" style="height: 50px; margin-top: 5px;"/>
        {{#if app_state.domain_settings.play_store_url}}
          <a href={{app_state.domain_settings.play_store_url}} target="_blank">
            <img src={{path "images/google_play.png"}} alt="google play" style="height: 50px; margin-top: 5px;"/>
          </a>
        {{/if}}
        {{#if app_state.domain_settings.kindle_store_url}}
          <a href={{app_state.domain_settings.kindle_store_url}} target="_blank">
            <img src={{path "images/amazon.png"}} alt="amazon" style="height: 50px; margin-top: 5px;"/>
          </a>
        {{/if}}
        {{#if app_state.domain_settings.windows_64_bit_url}}
          {{#link-to 'download'}}
            <img src={{path "images/windows.svg"}} alt="windows" style='height: 50px; margin-top: 5px;'/>
          {{/link-to}}
        {{/if}}
        <div style='margin-top: 10px;'>
          {{#link-to 'download'}}{{t "more download options" key='more_download_options'}}{{/link-to}}
        </div>
      </div>
    {{/unless}}
  {{/unless}}
</div>
<div class="col-sm-12 full_back" style="background: #eee; padding: 40px 10px 60px; border-top: 30px solid #f2b367;">
  <div class="col-sm-12" style="text-align: center; margin-bottom: 30px;">
    <h2>with <span style="font-weight: 200;">{{t "%app_name_upper%" key='coughdrop_upper'}}</span> you can:</h2>
  </div>
  <div class="col-sm-4 icon_column">
    <span class="glyphicon glyphicon-comment big_icon" style="color: #49c7e8;"></span>
    <span class="icon_under">
    <strong>{{t "Personalize" key='personalize'}}</strong>
    {{t "communication and access across multiple devices. Grow your vocabulary over time with a simple interface backed up by lots of help and training." key='personalize_text'}}
    </span>
  </div>
  <div class="col-sm-4 icon_column">
    <span class="glyphicon glyphicon-cloud big_icon" style="color: #f2b367;"></span>
    <span class="icon_under">
    <strong>{{t "Work Offline" key='work_offline'}}</strong>
    {{t "with backup in the cloud so it's painless to switch devices if something breaks. You can also share boards with others and open-license them for anyone to use." key='offline_text'}}
    </span>
  </div>
  <div class="col-sm-4 icon_column">
    <span class="glyphicon glyphicon-signal big_icon" style="color: #e86060;"></span>
    <span class="icon_under">
    <strong>{{t "Empower the team" key='empower_the_team'}}</strong>
    {{t "with reports that help everyone improve. Teams can collaborate and modify boards for each individual without having to take their device away." key='insights_text'}}
    </span>
  </div>
</div>
{{#unless app_state.no_linky}}
  <div class="col-sm-12 full_back" style="background: #fff; padding: 40px 10px 60px; border-top: 30px solid #49c7e8;">
    <div class="col-sm-12" style="text-align: center;">
      <h2>Get the Whole Team Involved</h2>
    </div>
    <div class=" col-sm-5 col-md-4 col-lg-4 col-lg-offset-1">
      <div style="width: 100%; padding-bottom: 43%; position: relative;">
        <div class="reveal reveal_1" style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: url(images/stats.png) no-repeat 0 0; background-size: cover;"></div>
        <div class="reveal reveal_2" style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: url(images/stats.png) no-repeat 0 33%; background-size: cover;"></div>
        <div class="reveal reveal_3" style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: url(images/stats.png) no-repeat 0 66%; background-size: cover;"></div>
        <div class="reveal reveal_4" style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: url(images/stats.png) no-repeat 0 100%; background-size: cover;"></div>
      </div>
    </div>
    <div class="col-sm-7 col-md-8 col-lg-6" style="margin-bottom: 20px;">
      <p style="font-size: 17px;">
        {{t "%app_name% is priced per-communicator, so parents, therapists, and teachers can all sign up for free and use the powerful reporting and communication features on their own devices without breaking the bank." key='pricing_per_communicator'}}
      </p><p style="font-size: 17px;">
        Plus there's a free, full-featured <strong><span style="white-space: nowrap;">2-month</span> evaluation period</strong> to make sure everything's working well. After that, you can choose the purchase option that works best for you.
      </p><p style="font-size: 17px;">
        Working with an organization? We have built-in administrative tools to make your life easier, and we support bulk purchases, PCards and purchase orders. {{#link-to 'contact'}}Contact our sales team for more information{{/link-to}}.
      </p>
    </div>
    <div style="clear: left;"></div>
    <div class=" col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1" style="margin-top: 30px;">
      <div class="row">
        <div class="col-sm-4 col-sm-offset-1" style="text-align: center;">
          <div style="font-size: 50px; white-space: nowrap;">lifetime</div>
          <div style="margin-top: -10px;">
            <span style="font-size: 15px; vertical-align: middle;">$</span><span style="font-size: 25px; vertical-align: middle;">200</span>
            <span class="text-muted" style="margin-top: -10px;">{{t "+cloud extras" key='cloud_extras_credit'}}</span>
          </div>
        </div>
        <div class="col-sm-2 text-muted" style="font-size: 30px; padding-top: 15px; text-align: center;">
          - or -
        </div>
        <div class="col-sm-4" style="text-align: center;">
          <div style="font-size: 50px;">monthly</div>
          <div style="margin-top: -10px;">
            <span style="font-size: 15px; vertical-align: middle;">$</span><span style="font-size: 25px; vertical-align: middle;">6</span>
            <span class="text-muted" style="margin-top: -10px;">per month</span>
          </div>
        </div>
      </div>
    </div>
    {{#if app_state.domain_settings.full_domain}}
      <div class="col-sm-8 col-sm-offset-2" style="text-align: center; margin-bottom: 20px;">
        {{#if subscription.sale}}
          <span class='label label-danger'>{{t "SALE NOW" key='sale_now'}}</span>
        {{/if}}
        {{#link-to 'pricing'}}
          {{t "see our pricing details." key='whats_it_cost'}}
        {{/link-to}}
      </div>
    {{/if}}
  </div>
{{/unless}}
{{#if app_state.no_linky}}
  <div class="col-sm-12 full_back" style="padding: 20px 10px; background: #fafafa; border-top: 30px solid #49c7e8; border-bottom: 30px solid #e86060;">
    <div style="text-align: center; margin-top: 50px; margin-bottom: 40px;">
      <h2>{{#link-to "login"}}{{t "Back to Login" key='back_to_login'}}{{/link-to}}</h2>
    </div>
  </div>
{{else}}
  {{#unless app_state.no_linky}}
    <div class="col-sm-12 full_back" style="background: #eee; padding: 40px 10px 60px; border-top: 30px solid #f2b367;">
      <div class="col-sm-12" style="text-align: center; margin-bottom: 30px;">
        <h2>{{t "see how people are using" key='see_how'}} <span style="font-weight: 200;">{{t "%app_name_upper%" key='coughdrop_upper'}}</span> {{t "right now" key='right_now'}}</h2>
      </div>
      <div class="col-sm-6" style='text-align: center;'>
        <h3>{{t "For Families" key='for_families'}}</h3>
        <a {{action 'intro_video' 'eoiScclYEX4'}} href='#' class='dim_glyph_until_hover' style='position: relative;'>
          <img src='https://img.youtube.com/vi/S_6lh5d0cco/maxresdefault.jpg' style='width: 420px; height: 235px; border: 2px solid #888; padding: 6px; border-radius: 5px;'/>
          <span class='glyphicon glyphicon-play-circle' style='font-size: 80px;position: absolute;left: 168px;top: -32px;color: #fff; text-shadow: 2px 2px 5px #444, -2px -2px 5px #444, 2px -2px 5px #444, -2px 2px 5px #444;'></span>
        </a>
      </div>
      <div class="col-sm-6" style='text-align: center;'>
        <h3>{{t "For Schools" key='for_schools'}}</h3>
        <a {{action 'intro_video' 'S_6lh5d0cco'}} href='#' style='position: relative;' class='dim_glyph_until_hover'>
          <img src='https://img.youtube.com/vi/eoiScclYEX4/maxresdefault.jpg' style='width: 420px; height: 235px; border: 2px solid #888; padding: 6px; border-radius: 5px;'/>
          <span class='glyphicon glyphicon-play-circle' style='font-size: 80px;position: absolute;left: 168px;top: -32px;color: #444; text-shadow: 2px 2px 5px #fff, -2px -2px 5px #fff, 2px -2px 5px #fff, -2px 2px 5px #fff;'></span>
        </a>
      </div>
    </div>
  {{/unless}}
  {{#if app_state.domain_settings.full_domain}}
    <div class="col-sm-12 full_back" style="padding: 40px 10px 40px; background-image: url(/images/bg.jpg); background-repeat: no-repeat; background-position: center bottom; background-size: cover; border-top: 30px solid #e86060;">
      <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
      <div class="well with_bg">
      <div class="row">
        <div>
          <h2>{{t "Try <span style='font-weight: 200;'>%app_name_upper%</span> for yourself" key='try_coughdrop'}}</h2>
          <p>
            {{t "Ready to see more? Sign up now to get started!" key='sign_up_for_free'}}
          </p>
        </div>
        {{#if stashes.enabled}}
          <form class="col-sm-12 form-horizontal" {{action "saveProfile" on="submit"}}>
            <div class="form-group">
              {{input value=user.name class="form-control" id="name" title="Full Name" placeholder="Full Name"}}
            </div>
            <div class="form-group">
              {{input value=user.user_name class="form-control" id="user_name" title="user name" placeholder="User name (optional, we can pick for you)"}}
              {{#if noSpacesName}}
                <span class='text-danger'>{{t "user names can't have spaces, dots or quotes" key='no_spaces_user_name'}}</span>
              {{else if user.user_name_check.checking}}
              {{else if user.user_name_check.exists}}
                <span class='text-danger'>{{t '"%{user_name}" already exists' user_name=user.user_name}}</span>
              {{else if noName}}
                <span class='text-danger'>{{t "name or username is required" key='name_or_username_required'}}</span>
              {{/if}}
            </div>
            <div class="form-group">
              {{input value=user.email class="form-control" id="email" title="Email" placeholder="Email"}}
              {{#if badEmail}}
                <span class='text-danger'>{{t "email required" key='email_required'}}</span>
              {{/if}}
            </div>
            <div class="form-group">
              {{input type="password" value=user.password class="form-control" id="password" title="password" placeholder="Password"}}
              {{#if shortPassword}}
                <span class='text-danger'>{{t "password must be at least 6 characters" key='min_password_lower'}}</span><br/>
              {{/if}}
            </div>
            <div class="form-group">
              {{bound-select select_class="form-control" select_id="registration_type" content=registration_types selection=user.preferences.registration_type action=(action (mut user.preferences.registration_type)) }}
            </div>
            <div class="form-group">
              <div class="checkbox big_checkbox">
                <label style="font-weight: normal;">
                  {{input type="checkbox" checked=user.preferences.cookies}}
                  {{t "Send usage data to %app_name% for analytics, error tracking and feature improvements" key='allow_cookies'}}
                </label>
              </div>
              <div class="checkbox big_checkbox" style='margin-bottom: 10px;'>
                <label style="font-weight: normal;">
                  {{input type="checkbox" checked=user.terms_agree}}
                  By registering or using the product, you are agreeing that you have read and understood the <a href="/terms">Terms of Use and License Agreement</a>, and are capable of binding to a legal contract.
                </label>
              </div>
              {{#if persistence.online}}
                <button type="submit" class="btn btn-primary" disabled={{registering.saving}} style="width: 100px;">
                  {{#if registering.saving}}
                    {{t "Signing Up..." key='signing_up'}}
                  {{else}}
                    {{t "Sign Up" key='sign_up'}}
                  {{/if}}
                </button>
              {{else}}
                <button type='submit' class='btn btn-primary' disabled='true' style='width: 100px;'>
                  {{t "Not Online" key='not_online'}}
                </button>
              {{/if}}
              <a href="#" {{action "authenticateSession"}} class="text" style="padding-left: 10px;">{{t "Already Registered?" key="already_registered"}}</a>
              {{#if registering.error}}
                <p class='text-danger'>
                  {{#if registering.error.email_blocked}}
                    {{t "The email address provided has been blocked, please try a different address" key='email_blocked'}}
                  {{else}}
                    {{t "There was an unexpected error while registering" key='error_registering'}}
                  {{/if}}
                </p>
              {{/if}}
            </div>
          </form>
        {{else}}
          {{partial "bad-privacy-settings"}}
        {{/if}}
      </div>
      </div>
      </div>
    </div>
  {{/if}}
  <div class="col-sm-12 full_back" style="padding: 20px 10px; background: #fafafa; border-top: 30px solid #49c7e8; border-bottom: 30px solid #e86060;">
    <div style="text-align: center; margin-bottom: -10px;">
      <h2>{{t "...or check out some publicly-shared boards" key='see_exmaples'}}</h2>
    </div>
    <div class="col-sm-4 col-sm-offset-1" style="text-align: center; display: none;">
      <h3 style="font-size: 20px;">{{t "Popular boards" key="popular_boards"}}</h3>
      <div class="row">
        {{#if popularBoards.loading}}
          <div class="col-sm-4">
            {{t "Loading..." key='loading'}}
          </div>
        {{else if popularBoards.error}}
          <div class="col-sm-4">
            {{t "Failed to load" key='failed_to_load'}}
          </div>
        {{else if popularBoards}}
          {{#each popularBoards as |board|}}
            {{#if board.key}}
              <div class="col-xs-4 simple_board_holder">
                {{board-icon board=board}}
              </div>
            {{/if}}
          {{/each}}
        {{else}}
          <div class="col-xs-4">
            {{#if loading_popular_boards}}
              {{t "Loading..." key='loading'}}
            {{else}}
              {{t "None found" key='none_found'}}
            {{/if}}
          </div>
        {{/if}}
      </div>
    </div>
    <div class="col-sm-4 col-sm-offset-4" style="text-align: center;">
      <h3 style="font-size: 20px;">Home boards</h3>
      <div class="row">
        {{#if homeBoards.loading}}
          <div class="col-sm-4">
            {{t "Loading..." key='loading'}}
          </div>
        {{else if homeBoards.error}}
          <div class="col-sm-4">
            {{t "Failed to load" key='failed_to_load'}}
          </div>
        {{else if homeBoards}}
          {{#each homeBoards as |board|}}
            {{#if board.key}}
              <div class="col-xs-4 simple_board_holder">
                {{board-icon board=board}}
              </div>
            {{/if}}
          {{/each}}
        {{else}}
          <div class="col-xs-4">
            {{t "None found" key='none_found'}}
          </div>
        {{/if}}
      </div>
    </div>
  </div>
{{/if}}