{{#button-listener compute_height='compute_height' button_event='button_event'}}
{{#if model.integration}}
  {{#unless app_state.sessionUser.currently_premium_or_premium_supporter}}
    <!-- only show integrations for currently-premium users, or supervisors with at least one premium user? -->
    <p class='text-danger'>{{t "Installed tools will only work correctly for currently-active premium accounts" key='premium_required_for_tools'}}</p>
  {{else}}
    {{#if teaser_description}}
      <div id="board_description">
        <span>{{model.integration_name}}</span>
      </div>
    {{/if}}
    {{#if model.embed_url}}
      {{embed-frame board_style=board_style code=model.action embed_url=model.embed_url user_token=model.user_token}}
    {{else}}
      <p class='text-danger'>{{t "There was an error loading the tool's page, it appears to not be configured properly" key='misconfigured_integration'}}</p>
    {{/if}}
  {{/unless}}
{{else if model.id}}
  {{#if teaser_description}}
    <div id="board_description">
      <span {{action "boardDetails"}}>
        {{#unless model.public}}
          {{#if model.protected_material}}
            <span class="glyphicon glyphicon-lock"></span>
          {{else}}
            <span class='glyphicon glyphicon-sunglasses'></span>
          {{/if}}
        {{/unless}}
        {{#if cc_license}}
          <img src={{path "images/cc.png"}} alt="cc license" style="opacity: 0.5;"/>
        {{else if pd_license}}
            <img src={{path "images/pd.png"}} alt="public domain" style="opacity: 0.5;"/>
        {{/if}}
        {{teaser_description}}
      </span>
    </div>
  {{/if}}
  <div id="stash_hover" style="position: absolute;">
    <div {{action 'stash_button'}} class='option'>
      <span class="glyphicon glyphicon-copy"></span>
      {{t "Button<br/>Stash" key='copy_to_button_stash'}}
      <span style="clear: left;"></span>
    </div>
    <div {{action 'word_data'}} class='option'>
      <span class="glyphicon glyphicon-book"></span>
      {{t "Word<br/>Data" key='view_word_data'}}
      <span style="clear: left;"></span>
    </div>
  </div>
  {{#if show_word_suggestions}}
    <div id="word_suggestions" class={{suggestion_class}}>
      {{#if suggestions.pending}}
      {{else if suggestions.ready}}
        {{#each suggestions.list as |suggestion|}}
          <a href="#" class="suggestion" {{action "complete_word" suggestion}}>
            {{#if show_word_suggestion_images}}
              <span class='image_holder'>
                {{#if suggestion.image}}
                  <img src={{suggestion.image}} class={{if suggestion.hc_image 'hc'}} data-fallback={{suggestion.fallback_image}} onerror='button_broken_image(this);' />
                {{/if}}
              </span>
            {{/if}}
            {{suggestion.word}}
          </a>
        {{/each}}
      {{else if suggestions.error}}
        {{t "Word suggestions failed to load" key='word_suggestions_failed'}}
      {{else}}
        {{t "Loading word suggestions..." key='loading_word_suggestions'}}
      {{/if}}
    </div>
  {{/if}}
  {{#with model as |board|}}
  <div style={{board_style}} class={{display_class}} data-id={{board.id}}>
    {{#if board.has_background}}
      <div style={{bg_style}} id='board_bg' class={{bg_class}}>
        {{#if board.background.text}}
          <div class='text'><span>{{board.background.text}}</span></div>
        {{/if}}
        {{#if board.background.image}}
          {{#if board.background.image_exclusion}}
            <div class='exclude'></div>
          {{/if}}
          <img src={{board.background_image_url_with_fallback}} style={{bg_img_style}}/>
        {{/if}}
      </div>
    {{/if}}
    {{#if nothing_visible_not_edit}}
      <div class="board_status">
        <p>{{t "This board hasn't been set up yet, or doesn't have any visible buttons." key='no_visible_buttons'}}</p>
        {{#if board.permissions.edit}}
          {{#unless app_state.speak_mode}}
            <button class='btn btn-default btn-lg' {{action "toggleEditMode" }}>{{t "Edit this Board" key='edit_this_board'}}</button>
          {{/unless}}
        {{/if}}
      </div>
    {{else}}
      {{#if board.grid}}
        {{#if board.fast_html.html}}
          {{board.fast_html.html}}
        {{else if ordered_buttons}}
          {{#if app_state.edit_mode}}
            {{#each ordered_buttons as |row|}}
              <div class="button_row">
                {{#each row as |button|}}
                  {{partial "button"}}
                {{/each}}
              </div>
            {{/each}}
          {{else}}
            {{#if app_state.currentUser.preferences.device.canvas_render}}
              {{board-canvas id="board_canvas" redraw='redraw' tabindex='0'}}
            {{else}}
              {{#each ordered_buttons as |row|}}
                <div class="button_row">
                  {{#each row as |button|}}
                    {{button.fast_html}}
                  {{/each}}
                </div>
              {{/each}}
              {{fast-html-grabber}}
            {{/if}}
          {{/if}}
        {{else}}
          <span class="board_status">
            {{t "Loading..." key='loading'}}
          </span>
        {{/if}}
      {{else}}
        <span class="board_status">
          {{t "Grid not defined!" key='grid_not_defined'}}
        </span>
      {{/if}}
    {{/if}}
    <div style="clear: left;"></div>
  </div>
  {{/with}}
{{else}}
  <p>{{error_message}}</p>
  {{#if model.retrying}}
    {{t "Trying again..." key='trying_again'}}
  {{else}}
    <a href="#" {{action 're_transition'}}>{{t "Try again." key='try_again'}}</a>
  {{/if}}
{{/if}}
{{/button-listener}}
