{{#modal-dialog action='close' opening='opening' closing='closing'}}
  <div class="modal-header">
    <button type="button" class="close" {{action 'close'}}>&times;</button>
    <h3>
      {{t "Eval Settings" key='assessment_settings'}}
    </h3>
  </div>
  <div class="modal-body">
    <form class="form-horizontal">
      <div class='form-group'>
        <label class='control-label col-sm-3'>{{t "For" key='for'}}</label>
        <div class='col-sm-6'>
          {{#if settings.saved}}
            <b>{{settings.user_name}}</b>
          {{else if settings}}
            {{user-select select_id="for_user_id" selection=settings.for_user.user_id action=(action (mut settings.for_user.user_id)) }}
          {{/if}}
        </div>
      </div>
      <div class='form-group'>
        <label class='control-label col-sm-3'>{{t "Title" key='title'}}</label>
        <div class='col-sm-6'>
          {{input type='text' value=settings.name class="form-control" placeholder=name_placeholder}}
        </div>
      </div>
      {{#unless save_option}}
        <div class='form-group'>
          <label class='control-label col-sm-3'>{{t "Promt Symbol(s)" key='prompt_symbols'}}</label>
          <div class='col-sm-6'>
            {{bound-select select_class="form-control" select_id="default_symbols" content=symbol_libraries selection=settings.default_library action=(action (mut settings.default_library)) }}
          </div>
        </div>
        <div class='form-group'>
          <label class='control-label col-sm-3'>{{t "Search Target" key='search_target'}}</label>
          <div class='col-sm-6'>
            <span class="dropdown" style="display: inline-block; width: 100%;">
              <button class='btn btn-default symbol_target small' data-toggle="dropdown" style='width: 100%; text-align: left; white-space: nowrap; overflow: hidden;'>
                <span class='text'>
                  {{#each current_option.images as |url|}}
                    <img src={{url}} />
                  {{/each}}
                  {{current_option.label}}
                </span>
                <span class='caret' style='position: absolute; right: 5px; top: 15px;'></span>
              </button>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" style='max-height: 225px; overflow: auto;'>
                {{#each symbol_options as |option|}}
                  <li role="presentation">
                    <a role="menuitem" class='symbol_target' href="#" tabindex="-1" {{action "choose" option.id}}>
                      {{#each option.images as |url|}}
                        <img src={{url}} />
                      {{/each}}
                      {{option.label}}
                    </a>
                  </li>
                {{/each}}
              </ul>
            </span>
          </div>
        </div>
        <div class='form-group'>
          <label for="home" class="col-sm-3 control-label">{{t "Audible Prompt" key='audible_prompt'}}</label>
          <div class="col-sm-9">
            <label id='home'>
              {{input type='checkbox' checked=settings.prompts}}
              {{t "Speak prompts out loud" key='speak_prompts_out_loud'}}
            </label>
          </div>
        </div>
        <div class='form-group'>
          <div class="col-sm-9 col-sm-offset-3">
            <label id='home'>
              {{input type='checkbox' checked=settings.chimes}}
              {{t "Play a sound on correct actions" key='play_sound_on_success'}}
            </label>
          </div>
        </div>
      {{/unless}}
      <!-- 
        attempt_minimum, attempt_maximum, mastery_cutoff, target
        -->
      <div class='form-group'>
        <label class='control-label col-sm-3'>{{t "Notes" key='notes'}}</label>
        <div class='col-sm-9'>
          {{textarea class='form-control' value=settings.accommodations placeholder="any accommodations or supports provided that wouldn't be otherwise noted" rows=2}}
        </div>
        <div class='col-sm-9 col-sm-offset-3' style='margin-top: 10px;'>
          {{textarea class='form-control' value=settings.notes placeholder='additional notes' rows=4}}
        </div>
      </div>
    </form>
  </div>
  <div class='modal-footer'>
    {{#if aborting}}
      <p class='text-danger'>{{t "Are you sure you want to abort? All changed will be lost." key='confirm_abort'}}</p>
      <button class='btn btn-default btn-lg' {{action 'abort' true}}>{{t "Abort" key='abort'}}</button>
      <button class='btn btn-default btn-lg' {{action 'close'}}>{{t "Cancel" key='cancel'}}</button>
    {{else}}
      <button class='btn btn-primary btn-lg' {{action 'confirm'}}>
        {{#if save_option}}
          {{t "Save" key='save'}}
        {{else}}
          {{t "Update" key='update'}}
        {{/if}}
      </button>
      {{#if save_option}}
        <button class='btn btn-default btn-lg' {{action 'abort'}}>{{t "Abort" key='abort'}}</button>
      {{/if}}
      <button class='btn btn-default btn-lg' {{action 'close'}}>{{t "Cancel" key='cancel'}}</button>
    {{/if}}
  </div>
{{/modal-dialog}}
