{{#modal-dialog action="close" opening='opening' closing='closing'}}
  <div class="modal-header">
    <button type="button" class="close" {{action 'close'}}>&times;</button>
    <h3>{{t "Current AAC Solution - %{un}" un=model.user.user_name key='current_aac_device'}}
</h3>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" {{action "nothing" on="submit"}}>
      <div class="form-group">
        <div class="col-sm-12">
          <p class='form-control-static'>
            {{t "Every communicator should use the solution that works best for them -- and %app_name% can help whether they're using the app or something else. Select the user's current primary AAC solution and access method to help keep everything up-to-date and accurate." key='select_device_pref'}}
          </p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label" for="primary_system">
          {{t "Primary Solution" key='primary_system'}}
        </label>
        <div class="col-sm-8">
          <div class='btn-group' style='width: 100%;'>
            <button type='button' style='max-width: 50%; overflow: hidden; text-overflow: ellipsis;' {{action 'set_system' 'default'}} class={{if default_system 'btn btn-primary btn-lg' 'btn btn-default btn-lg'}}>
              {{t "%app_name%" key='app_name'}}
            </button>
            <button type='button' style='max-width: 50%; overflow: hidden; text-overflow: ellipsis;' {{action 'set_system' 'other'}} class={{if other_system 'btn btn-primary btn-lg' 'btn btn-default btn-lg'}}>
              {{t "Something Else" key='something_else'}}
            </button>
          </div>
        </div>
      </div>
      {{#if default_system}}
        <div class="form-group">
          <div class="col-sm-12">
            <p class='form-control-static'>
              {{t "All other settings are controlled from the user's Preferences page" key='other_settings_on_preferences'}}
            </p>
            {{#if model.user.preferences.home_board}}
              <p>
                {{t "Current Home Board:" key='current_home_board_upper'}}
                <b>{{model.user.preferences.home_board.key}}</b>
              </p>
              <div style='margin-top: 20px;'>
                <button class='btn btn-default' {{action 'clear_home_board'}}>{{t "Clear Home Board" key='clear_home_board'}}</button>
              </div>
            {{/if}}
          </div>
        </div>
      {{else}}
        <div class="form-group">
          <label for="device_type" class="col-sm-4 control-label">{{t "App/Device" key='app_device'}}</label>
          <div class="col-sm-6">
            {{input value=external_device class="form-control" id="device_type" placeholder="third-party app or device name"}}
          </div>
          <div class="col-sm-1" style='margin-left: -35px;'>
            <div class='btn-group dropup'>
              <button class='btn btn-default dropdown-toggle' style='border-top-left-radius: 0; border-bottom-left-radius: 0;' data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{t "Device" key='device'}} <span class="caret"></span>
              </button>
              <ul class='dropdown-menu' style="right: 0; left: inherit; text-align: left; max-height: 183px; overflow: auto;">
                {{#each device_options as |option|}}
                  <li><a href='#' {{action 'set_device' option}}>{{option.name}}</a></li>
                {{/each}}
              </ul>
            </div>
          </div>
        </div>
        {{#if external_device}}
          <div class="form-group">
            <label for="vocabulary_type" class="col-sm-4 control-label">{{t "Vocabulary" key='vocabulary'}}</label>
            <div class="col-sm-6">
              {{input value=external_vocab class="form-control" id="vocabulary_type" placeholder="vocabulary used"}}
            </div>
            <div class="col-sm-1" style='margin-left: -35px;'>
              <div class='btn-group dropup' style='max-height: 183px;'>
                <button class='btn btn-default dropdown-toggle' style='border-top-left-radius: 0; border-bottom-left-radius: 0;' data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{t "Vocab" key='vocab'}} <span class="caret"></span>
                </button>
                <ul class='dropdown-menu' style="right: 0; left: inherit; text-align: left; max-height: 183px; overflow: auto;">
                  {{#each vocab_options as |option|}}
                    <li><a href='#' {{action 'set_vocab' option}}>{{option.name}}</a></li>
                  {{/each}}
                </ul>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="vocab_size" class="col-sm-4 control-label">{{t "Vocab Size" key='vocab_size'}}</label>
            <div class="col-sm-2">
              {{input type='number' value=external_vocab_size class="form-control" id="vocab_size" placeholder="typical buttons per board"}}
            </div>
            <div class='col-sm-4'>
              <p class='form-control-static'>{{t "average buttons per board" key='average_buttons_per_view'}}</p>
            </div>
          </div>
        {{/if}}
        <div class="form-group">
          <label for="external_access_method" class="col-sm-4 control-label">{{t "Access Method" key='access_method'}}</label>
          <div class="col-sm-6">
            {{bound-select select_class="form-control" select_id="external_access_method" content=access_methods selection=external_access_method action=(action (mut external_access_method)) }}
          </div>
        </div>
      {{/if}}
    </form>
  </div>
  <div class="modal-footer">
    <button class='btn btn-lg btn-primary' disabled={{status.loading}} {{action 'update'}}>
      {{#if status.loading}}
        {{t "Updating User..." key='updating_user'}}
      {{else if status.error}}
        {{t "Error Updating User" key='error_updating_user'}}
      {{else}}
        {{t "Update User" key='update_user'}}
      {{/if}}
    </button>
    <a href="#" class="btn btn-lg btn-default" {{action 'close'}}>{{t "Cancel" key='cancel'}}</a>
  </div>
{{/modal-dialog}}
