{{#modal-dialog action="close" opening='opening' closing='closing'}}
  <div class="modal-header">
    <button type="button" class="close" {{action 'close'}}>&times;</button>
    <h3>
      {{t "Masquerade as User" key='masquerade_as_user'}}
    </h3>
  </div>
  <div class="modal-body">
    <div class='row'>
      <div class='col-sm-12'>
        <img src={{model.user.avatar_url_with_fallback}} style='float: left; width: 50px; height: 50px; margin-right: 10px; object-fit: contain;'/>
        <p>{{t "Organization managers can temporarily log in as users within their organization without needing the user's password. But this resource should not be used lightly. Before you continue, remember to keep the user's private information protected, and to only use this tool for support or training purposes. When you are finished, you can hit \"Stop Masquerading\" in the menu to return to our own account." key='masquerade_rules'}}</p>
      </div>
      <div class='col-sm-12'>
        <div class="checkbox big_checkbox">
          <label>
            {{input checked=confirmed type="checkbox"}}
            {{t "I agree only to use this masquerading tool for support or training purposes, and to respect the privacy of the user's information." key='masquerade agreement'}}
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#" class='btn btn-lg btn-default' {{action 'confirm'}}>{{t "Continue" key='continue'}}</a>
    <a href="#" class="btn btn-lg btn-default" {{action 'close'}}>{{t "Cancel" key='cancel'}}</a>
  </div>
{{/modal-dialog}}
