{{#modal-dialog desired_width=850 action="close" opening='opening' closing='closing'}}
  <div class="modal-body advanced_selection modal_targets" style='padding-top: 5px; padding-bottom: 5px;'>
    <div class='cursor_holder'>
      <div class='row cursor_area any_size' style='padding: 10px;'>
        <button class='btn btn-default big_btn' {{action 'speak'}} id='full_button'>
          <img src={{path 'images/alarm.svg'}} style='height: calc(100vh / 4);'/><br/>
          <span class="normal">
            {{t "Time's Up!"}}
          </span>
        </button>
      </div>
    </div>
    <div class='row repair_buttons'>
      <div class='col-sm-12'>
        <button class='btn btn-lg btn-default' {{action 'close'}}>
          <span class='glyphicon glyphicon-remove'></span>
          {{t "Close" key='close'}}
        </button>
      </div>
    </div>
  </div>
{{/modal-dialog}}
