<div style={{badge_container_style}} class='badge_earned'>
  <a href="#" {{action 'badge_popup'}}>
    <span style='position: relative; display: inline-block;'>
      {{#if badge.image_url}}
        <img src={{badge.image_url}} style={{image_style}} onerror='button_broken_image(this)' data-fallback={{path 'images/badge-fallback.png'}} />
      {{else}}
        <img src={{path 'images/badge-fallback.png'}} style={{image_style}} onerror='button_broken_image(this)' data-fallback={{path 'images/badge-fallback.png'}} />
      {{/if}}
      {{#unless inline}}
        <div class='sparkle'>✦</div>
      {{/unless}}
    </span>
    <span style={{text_style}}>
      {{t "Great Job!" key='great_job'}}
    </span>
  </a>
</div>
