<div style={{badge_container_style}}>
  <a href="#" {{action 'badge_popup'}}>
    <span style='position: relative; display: inline-block;'>
      <img src={{badge.image_url}} style={{image_style}} onerror='button_broken_image(this)' data-fallback={{path 'images/badge-fallback.png'}} />
      {{#unless inline}}
        <div class='sparkle'>✦</div>
      {{/unless}}
    </span>
    <span style={{text_style}}>
      {{t "Great Job!" key='great_job'}}
    </span>
  </a>
</div>
