<div >
  {{#if status.loading}}
    {{t "Loading Layouts..." key='loading_layouts'}}
  {{else if status.error}}
    {{t "Error Loading Layouts" key='error_loading_layouts'}}
  {{else if boards}}
    {{#if base_level}}
      <button class='btn btn-default btn-lg' disabled={{no_previous}} {{action 'previous'}} style='float: left; position: absolute; left: 5px; top: calc(50vh - 35px); height: 110px; box-shadow: 10px 10px 10px; border-width: 4px; z-index: 2;'>
        <span class='glyphicon glyphicon-chevron-left'></span> 
        {{#if level_select}}
          {{t "Fewer Buttons" key='fewer_buttons'}}
        {{else}}
          {{t "Bigger Buttons" key='bigger_buttons'}}
        {{/if}}
      </button>
      <button class='btn btn-default btn-lg' disabled={{no_next}} {{action 'next'}} style='float: right; position: absolute; right: 5px; top: calc(50vh - 35px); height: 110px; box-shadow: -10px 10px 10px; border-width: 4px; z-index: 2;'>
        {{#if level_select}}
          {{t "More Buttons" key='more_buttons'}}
        {{else}}
          {{t "More Buttons" key='more_buttons'}}
        {{/if}}
        <span class='glyphicon glyphicon-chevron-right'></span>
      </button>
    {{/if}}
    <div style='text-align: center;'>
      {{#if level_select}}
        <button class='btn btn-primary btn-lg' {{action 'select'}} style='position: relative; box-shadow: 0 3px 8px #000;height: 70px; border-width: 4px;'>{{t "Make This My Home Board" key='make_this_my_home_board'}}
        </button>
        <button class='btn btn-default btn-sm' {{action 'deselect'}}>{{t "Change Layouts" key='change_layouts'}}</button>
        <div style='margin-bottom: -60px; position: relative; margin-top: 10px;'>
          <span style='display: inline-block; background: rgba(255, 255, 255, 0.85); padding: 10px; border-radius: 5px; border: 1px solid #aaa;'>
            {{current_board.name}},
            <b>{{t "Level " key='level'}}
              {{#if current_level}}
                {{current_level}}
              {{else if base_level}}
                {{base_level}}
              {{/if}}
            </b>
            {{#if level_buttons}}
              ( {{t "visible button" key='n_buttons' count=level_buttons}}
              {{t "available" key='available'}} )
            {{/if}}
          </span>
        </div>
      {{else}}
        {{#if base_level}}
          <button class='btn btn-primary btn-lg' {{action 'select'}} style='box-shadow: 0 5px 10px #000; position: relative; height: 70px; margin-bottom: -20px; border-width: 4px;'>{{t "Select This Layout" key='select_this_layout'}}</button>
        {{/if}}
        <button class='btn btn-default btn-sm' {{action 'advanced'}}>{{t "Let Me Browse On My Own" key='browse_on_my_own'}}</button>
      {{/if}}
    </div>
  {{else}}
    {{t "No layouts are available" key='no_layouts'}}
  {{/if}}
</div>
{{#if base_level}}
  {{#if prompt}}
    <div style='position: absolute; width: 100%;'>
      <div style='width: 400px; max-width: 80vw; max-height: calc(100vh - 200px); overflow: auto; margin: -20px auto 0; background: #fff; border: 2px solid #aaa; border-radius: 10px; padding: 10px; font-size: 16px; box-shadow: 1px 1px 10px, -1px -1px 10px;'>
        {{#if level_select}}
          {{t "Great! Here's what your home board will look like right now. If you want, you can fine-tune it to show fewer or more button to start off. You can start at a basic level with only a few buttons, or show everything right away.<br/><br/>You can easily change the number of buttons shown later by adjusting the level for the communicator." key='button_count_prompt'}}
        {{else}}
          {{t "Splendid! Next let's figure out what size of buttons will work best! If the buttons are too big then there won't be room to grow over time -- try to find the smallest size that your communicator can reliably use.<br/><br/>Remember that you can always hide buttons if a large board is overwhelming at first, but it's harder to change the grid size later." key='grid_prompt'}}
        {{/if}}
        <div style='text-align: center; margin-top: 15px;'>
          <button class='btn btn-lg btn-primary' {{action 'dismiss'}}>{{t "Got It" key='got_it'}}</button>
        </div>
      </div>
    </div>
  {{/if}}
  {{#if current_board}}
    {{board-preview-canvas board=current_board size='selection' show_links=level_select base_level=base_level current_level=current_level}}
  {{/if}}
{{else}}
  <div style='margin: 10px auto; max-width: 600px;'>
    <p class='prompt'>{{t "Let's get you a home board! First thing, how comfortable is the communicator with speech apps and tapping to make choices? Don't worry, this will be easy to adjust later." key='base_level_prompt'}}</p>
    <div class='row' class='grid_choices' style='margin-top: 30px;'>
      <div class='col-sm-4'>
        <button class='btn btn-default' {{action 'set_base_level' 1}}>
          <img src={{path 'images/grid-few.svg'}} />
          {{t "Brand New User" key='brand_new_user'}}
        </button>
      </div>
      <div class='col-sm-4'>
        <button class='btn btn-default' {{action 'set_base_level' 4}}>
          <img src={{path 'images/grid-some.svg'}} />
          {{t "Some Experience" key='some_experience'}}
        </button>
      </div>
      <div class='col-sm-4'>
        <button class='btn btn-default' {{action 'set_base_level' 10}}>
          <img src={{path 'images/grid-full.svg'}} />
          {{t "Very Experienced" key='very_experienced'}}
        </button>
      </div>
    </div>
  </div>
{{/if}}