<a href={{board_record.key}} {{action 'pick_board' board_record}} class={{display_class}}>
  {{#unless noinfo}}
    <a {{action 'board_preview' board_record bubbles=false}} class='info'><span class='glyphicon glyphicon-info-sign'></span></a>
  {{/unless}}
  <img src={{board_record.icon_url_with_fallback}} onerror="button_broken_image(this);"/>
  <div class={{if noinfo 'name compact' 'name'}}>
  {{board_record.name}}
  </div>
  <div class='author'>
    {{#if children}}
      {{t "board" key='n_boards' count=children.length}}
    {{else}}
      {{t "by" key='by'}} {{board_record.user_name}}
    {{/if}}
  </div>
</a>
