<a href="/{{board_record.key}}" {{action 'pick_board' board_record}} class={{display_class}}>
  {{#unless noinfo}}
    <a {{action 'board_preview' board_record bubbles=false}} class='info'>
      {{#if override_count}}
        <span class="label label-default" style='border-radius: 20px;'>
          {{override_count}}
        </span>
      {{else}}
        <span class='glyphicon glyphicon-info-sign'></span>
        {{#if board_record.grid.rows}}
          <span class='size'>{{board_record.grid.rows}} x {{board_record.grid.columns}}</span>
        {{/if}}
      {{/if}}
    </a>
  {{/unless}}
  {{#if override_count}}
    <img src={{board_record.style.image_url}} onerror="button_broken_image(this);"/>
  {{else}}
    <img src={{board_record.icon_url_with_fallback}} onerror="button_broken_image(this);"/>
  {{/if}}
  <div class={{if noinfo 'name compact' 'name'}}>
  {{best_name}}
  </div>
  <div class='author'>
    {{#if children}}
      {{t "board" key='n_boards' count=children.length}}
    {{else}}
      {{t "by" key='by'}} {{board_record.user_name}}
    {{/if}}
  </div>
</a>
