<div style='height: 50px;'>
  {{#if status.loading}}
    {{t "Loading Layouts..." key='loading_layouts'}}
  {{else if status.error}}
    {{t "Error Loading Layouts" key='error_loading_layouts'}}
  {{else if boards}}
    <button class='btn btn-default btn-lg' disabled={{no_previous}} {{action 'previous'}} style='float: left;'><span class='glyphicon glyphicon-chevron-left'></span> Fewer Buttons</button>
    <button class='btn btn-default btn-lg' disabled={{no_next}} {{action 'next'}} style='float: right;'>More Buttons <span class='glyphicon glyphicon-chevron-right'></span></button>
    <div style='text-align: center;'>
      <button class='btn btn-primary btn-lg' {{action 'select'}}>{{t "Select This Layout" key='select_this_layout'}}</button>
      <button class='btn btn-default btn-sm' {{action 'advanced'}}>{{t "Let Me Browse On My Own" key='browse_on_my_own'}}</button>
    </div>
  {{else}}
    {{t "No layouts are available" key='no_layouts'}}
  {{/if}}
</div>
{{#if prompt}}
  <div style='position: absolute; width: 100%;'>
    <div style='width: 400px; max-width: 80vw; margin: -20px auto 0; background: #fff; border: 2px solid #aaa; border-radius: 10px; padding: 10px; font-size: 16px; box-shadow: 1px 1px 10px, -1px -1px 10px;'>
      {{t "Let's get you a home board! First thing, how many buttons can the communicator reliably use? Too few and it won't grow with them, but too many may be hard as well.<br/><br/>Remember that you can always turn off buttons if a large board is overwhelming at first, but it's harder to change the grid size later." key='grid_prompt'}}
      <div style='text-align: center; margin-top: 15px;'>
        <button class='btn btn-lg btn-primary' {{action 'dismiss'}}>{{t "Got It" key='got_it'}}</button>
      </div>
    </div>
  </div>
{{/if}}
<canvas style='width: 100%; height: calc(100% - 55px); display: none;'></canvas>
