<div style='margin-top: 10px;'>
  <div style='float: left; width: 60%;'>
    <strong>{{t "Dwell Status" key='dwell_status'}}</strong><br/>
    {{#if pending}}
      {{t "waiting for data..." key='waiting_for_data'}}
    {{else if current_dwell}}
      {{#if hardware}}
        {{t "receiving data" key='receiving_data'}}
      {{else}}
        {{t "receiving data" key='receiving_data'}}
      {{/if}}
    {{else if has_coords}}
      {{t "not receiving data" key='no_recent_data'}}
    {{else}}
      {{t "no events detected" key='no_hardware_detected'}}
    {{/if}}
    {{#if has_coords}}
      <br/><br/>
      <strong>{{t "Source" key='source'}}</strong><br/>
      {{#if hardware_type}}
        {{#if hardware_type.eyex}}
          {{t "EyeX Hardware" key='eyex_hardware'}}
        {{else if hardware_type.eyetribe}}
          {{t "EyeTribe Hardware" key='eyetribe_hardware'}}
        {{else if hardware_type.mygaze}}
          {{t "MyGaze Hardware" key='mygaze_hardware'}}
        {{else if hardware_type.eyegaze_edge}}
          {{t "Eyegaze Edge Hardware" key='eyegaze_edge_hardware'}}
        {{else}}
          {{t "Unspecified Eye Tracker" key='unspecified_eye_tracker'}}
        {{/if}}
      {{else if source.keyboard}}
        {{t "arrow keys" key='keyboard_arrow_keys'}}
      {{else if source.head}}
        {{t "head-tracking" key='head_tracking_lower'}}
      {{else if source.eyegaze}}
        {{t "eye-gaze-tracking" key='eye_gaze_tracking'}}
      {{else if source.cursor}}
        {{t "cursor-based events" key='cursor_based_events'}}
      {{else}}
        {{t "cursor-based events" key='cursor_based_events'}}
      {{/if}}
    {{/if}}
    <br/>
    {{#if eye_tracking}}
      {{#if advanced}}
        <br/>
        {{#if with_status}}
          {{#each with_status as |status|}}
            <strong>{{status.name}}</strong>
            {{status.status}}<br/>
          {{/each}}
        {{else}}
          {{t "No eye tracking hardware has been initialized" key='no_tracking_hardware_found'}}
        {{/if}}
      {{else}}
        <a href="#" {{action 'advanced'}}>{{t "advanced" key='advanced'}}</a>
      {{/if}}
    {{/if}}
  </div>
  <div style='float: left; width: 35%; margin-left: 5%;'>
    <div style="position: relative; width: 100%; height: 66%; padding: 66%; margin-bottom: -36%;">
      <canvas width="400" height="300" style="position: absolute; top: 0; left: 0; width: 100%;" class="preview">
      </canvas>
    </div>
  </div>
  <div style='clear: left;'></div>
</div>