<iframe style={{board_style}} frameborder='0' src={{embed_url}} tabindex='-1' id='integration_frame' data-code={{code}} data-user_token={{user_token}}></iframe>
<div id='integration_overlay' class='advanced_selection pending' style={{overlay_style}}>
  <div class='status'></div>
</div>
