<div class='row' style="touch-action: none;">
  {{#if prompt}}
    <p>{{t "You may need to log in to access this information" key='login_needed'}}</p>
  {{/if}}
  <div class={{box_class}}>
    {{#if login_followup}}
      {{#if login_followup_already_long_token}}
        <h2>{{t "Approve This Device" key='approve_this_device'}}</h2>
        <p>{{t "Currently this device is set to log out after a short period of inactivity. Would you like to change this?" key='confirm_device_long_token_with_long_token'}}</p>
      {{else}}
        <h2>{{t "Activate New Device" key='activate_new_device'}}</h2>
        <p>{{t "It looks like you haven't logged in before on this device. How would you like to proceed?" key='confirm_device_long_token'}}</p>
      {{/if}}
      <button {{action 'login_followup' true}} class={{if browserless 'btn btn-primary' 'btn btn-default'}} style='width: 100%;'><div style='font-size: 25px;'>{{t "Trust this Device" key='trust_this_device'}}</div>{{t "Keep me logged in" key='keep_me_logged_in'}}</button>
      <button {{action 'login_followup' false}} class='btn btn-default' style='width: 100%; margin-top: 10px;'><div style='font-size: 25px;'>{{t "This is a Shared Device" key='not_trust_this_device'}}</div>{{t "Log me out after a period of inactivity" key='log_me_out_when_inactive'}}</button>
    {{else if login_single_assertion}}
      <h2>{{t "Approve This Device" key='approve_this_device'}}</h2>
      <p>{{t "This account is only allowed to log in to one dedicated device at a time. If you log in on this device it will force a log out on your other device. How would you like to proceed?" key='confirm_device_force_logout'}}</p>
      <button {{action 'login_force_logut' true}} class='btn btn-default' style='width: 100%;'><div style='font-size: 25px;'>{{t "Log In on this Device" key='log_in_on_this_device'}}</div>{{t "Any other device will be logged out" key='other_device_logged_out'}}</button>
      <button {{action 'login_force_logut' false}} class='btn btn-default' style='width: 100%; margin-top: 10px;'><div style='font-size: 25px;'>{{t "Never Mind, Don't Log In" key='do_not_log_in'}}</div>{{t "Keep me logged in on the other device" key='keep_logged_in'}}</button>
    {{else if stashes.enabled}}
      <form {{action "authenticate" on='submit'}} autocomplete="off" class="form-horizontal" id="login_form">
        {{#unless prompt}}
          {{#unless force_logout}}
            {{#if app_state.feature_flags.emergency_boards}}
              <div style='font-size: 18px; text-align: right; margin-bottom: 10px; margin-top: -20px;'>
                <a href="#">emergency boards</a>
              </div>
            {{/if}}
          {{/unless}}
        {{/unless}}
        <div class="form-group">
          {{lowercase-text-field id='identification' class="form-control input-lg touchy" value=identification placeholder='username'}}
        </div>
        <div class="form-group">
          {{input type='password' id='password' class='form-control input-lg touchy' value=password placeholder='password'}}
        </div>
        {{#unless browserless}}
          <div class="form-group" style='display: none;'>
            <div class="checkbox big_checkbox">
              <label>
                {{input type="checkbox" checked=long_token id="long_token"}}
                Keep me logged in on this device
              </label>
            </div>
          </div>
        {{/unless}}
        {{#if login_error}}
          <div class="form-group">
            <p class="text-danger">
              {{ login_error }}
            </p>
          </div>
        {{/if}}
        <div class="form-group">
          <button type="submit" class='btn btn-primary btn-lg' disabled={{noSubmit}}>
            {{#if noSecret}}
              {{#if requesting}}
                <span class="glyphicon glyphicon-refresh spinning"></span>
              {{/if}}
              {{#if checking_for_secret}}
                {{t "Initializing..." key='initializing'}}
              {{else}}
                {{#if persistence.online}}
                  <span style='font-size: 14px;'>{{t "Can't Reach %app_name% Cloud,<br/>Check Your Signal Quality" key='cant_reach_coughdrop'}}</span>
                {{else}}
                  {{t "Not Online" key='not_connected'}}
                {{/if}}
              {{/if}}
            {{else}}
              {{#if logging_in}}
                {{t "Signing In..." key='logging_in'}}
              {{else}}
                {{#if logged_in}}
                  {{t "Success! One Moment..." key='success'}}
                {{else}}
                  {{t "Sign In" key='login'}}
                {{/if}}
              {{/if}}
            {{/if}}
          </button>
          {{#if force_logout}}
            <button type='button' class='btn btn-default btn-lg' {{action 'logout'}}>{{t "Log Out" key='log_out'}}</button>
          {{/if}}
          <span style="padding-left: 10px;">
            {{#if force_logout}}<br/>{{/if}}
            {{#if app_state.no_linky}}
              {{#link-to 'forgot_login'}}{{t "need help?" key='forgot_login'}}{{/link-to}}
            {{else}}
              {{#link-to 'forgot_password'}}{{t "forgot password" key='forgot_password'}}{{/link-to}}
              {{#if app_state.domain_settings.full_domain}}
                | 
                {{#link-to 'register'}}{{t "sign up" key='register'}}{{/link-to}}
              {{/if}}
            {{/if}}
          </span>
        </div>
      </form>
    {{else}}
      <h2>{{t "Can't Log In" key='cant_login'}}</h2>
      {{partial "bad-privacy-settings"}}
    {{/if}}
  </div>
</div>
