<%= @user.settings['name'] %> just signed up for <%= app_name %>!<br/><br/>
User name: <b><a href="<%= JsonApi::Json.current_host %>/<%= @user.user_name %>"><%= @user.user_name %></a></b><br/>
Email: <b><%= @user.settings['email'] %></b><br/>
Type: <b><%= @user.registration_type %></b><br/><br/>
<% if (@user.settings['activations'] || []).length > 0 %>
  Start Code: <a href="<%= JsonApi::Json.current_host %>/start_codes/<%= URI.encode(@user.settings['activations'][0]['code'] || 'none') %>"><%= @user.settings['activations'].map{|a| a['code'] || 'none' }.join(', ') %></a><br/>
<% end %>
<%if @location%>Location: <%= @location %><br/><% end %>
<%if @user.settings['referrer']%>Source: <%= @user.settings['referrer'] %><br/><% end %>
<%if @user.settings['ad_referrer']%>Ad Key: <%= @user.settings['ad_referrer'] %><br/><% end %>
Thanks!<br/>
<%= email_signature %>
