<% if @user %>
The password for the <%= app_name %> login, <b><%= @user.display_user_name %></b> was recently updated.<br/><br/>
If this was intentional feel free to ignore this message. If you were not aware of this
password change please 
<a href="<%= JsonApi::Json.current_host %>/contact">notify <%= app_name %> support</a> immediately.<br/><br/>
Thanks!<br/>
<%= email_signature %>
<% end %>