<% if @user %>
The valet credentials for the <%= app_name %> login, <b><%= @user.display_user_name %></b> were recently enabled.<br/><br/>
Valet credentials are a special, secondary user name and password that work as a temporary
login when you need immediate access to your communication boards but you don't have a
trusted device available. These credentials can be shared with less risk, since they 
provide a read-only login without access to reports and logging data.<br/><br/>
If the valet credentials are ever used, they will only work for up to 24 hours after
the first successful login, or until you subsequently log in with your normal credentials. After
that you will need to re-enable the valet login before it will work again.<br/><br/>
If your valet credentials were enabled in error, please <a href="<%= JsonApi::Json.current_host %>/<%= @user.user_name %>/edit">disable them in your
profile settings</a> to prevent any unintentional access to your account. If you were not aware of this
change please 
<a href="<%= JsonApi::Json.current_host %>/contact">notify <%= app_name %> support</a> immediately.<br/><br/>
Thanks!<br/>
<%= email_signature %>
<% end %>