<% if @user %>
The valet credentials for the <%= app_name %> login, <b><%= @user.display_user_name %></b> were recently used to log in to your account.<br/><br/>
Valet credentials allow temporary, read-only access to your boards. They will work for
24 hours after first being used, or until you log in again using your regular user name
and password. After that you will need to re-enable them in your profile settings
before they can be used again (please consider changing your valet password each time
you re-enable valet logins).<br/><br/>
If your were not aware of your valet credentials being used, please
<a href="<%= JsonApi::Json.current_host %>/contact">notify <%= app_name %> support</a> immediately.<br/><br/>
Thanks!<br/>
<%= email_signature %>
<% end %>