{{#modal-dialog action="close" opening='opening' closing='closing'}}
  <div class="modal-header">
      <button type="button" class="close" {{action 'close'}}>&times;</button>
    <h3>
      {{#if selected_tool}}
        {{t "Add %{tool}" tool=selected_tool.name key='add_tool'}}
      {{else}}
        {{t "Browse Tools" key='browse_tools'}}
      {{/if}}
    </h3>
  </div>
  <div class="modal-body">
    {{#if selected_tool}}
      <h3>
        <img src={{selected_tool.icon_url}} style='height: 50px; max-width: 70px; padding-right: 10px;'/>
        {{selected_tool.name}}
      </h3>
      <span style='white-space: pre-line'>{{safe selected_tool.description}}</span>
      {{#if user_parameters}}
        <form class="form-horizontal" {{action "nothing" on="submit"}}>
          <div class="form-group">
            <div class='col-sm-8 col-sm-offset-3'>
              <h4 class='form-control-static'>{{t "Tool Settings" key='tool_settings'}}</h4>
            </div>
          </div>
          {{#each user_parameters as |param|}}
            <div class="form-group">
              <label for={{param.name}} class="col-sm-3 control-label">{{param.label}}</label>
              <div class="col-sm-6">
                {{input type=param.type value=param.value class="form-control" id=param.name placeholder=param.hint}}
              </div>
            </div>
          {{/each}}
        </form>
      {{/if}}
    {{else}}
      {{#if tools.loading}}
        <p>{{t "Loading tools..." key='loading_tools'}}</p>
      {{else if tools.error}}
        <p>{{t "Error loading tools" key='error_loading_tools'}}</p>
      {{else if tools}}
        {{#each tools as |tool|}}
          <div class='well' {{action 'select_tool' tool}}>
            <img src={{tool.icon_url}} style='height: 30px; max-width: 50px;'/>
            {{tool.name}}<br/><br/>
            {{safe tool.description}}
          </div>
        {{/each}}
      {{else}}
        <p>{{t "No tools available" key='no_tools_available'}}</p>
      {{/if}}
    {{/if}}
  </div>
  <div class="modal-footer">
    {{#if selected_tool}}
      <button {{action 'install'}} disabled={{not_ready}} class='btn btn-primary'>
        {{#if selected_tool.installing}}
          {{t "Installing Tool..." key='installing_tool'}}
        {{else if selected_tool.error}}
          {{t "Error Installing Tool" key='error_installing_tool'}}
        {{else}}
          {{t "Install Tool" key='install_tool'}}
        {{/if}}
      </button>
      {{#unless hide_list}}
        <button {{action 'browse'}} class='btn btn-default'>{{t "Back to List" key='back_to_list'}}</button>
      {{/unless}}
    {{/if}}
    <button {{action "close"}} class="btn btn-default">{{t "Cancel" key='cancel'}}</button>
    {{#if selected_tool.error}}
      <div>
        {{#if selected_tool.error.bad_credentials}}
          <em class='text-danger'>{{t "Please check that you have entered the correct settings" key='please_check_settings'}}</em>
        {{else if selected_tool.error.credential_collision}}
          <em class='text-danger'>{{t "It looks like those settings are already being used by a different CoughDrop user" key='credentials_already_in_use'}}</em>
        {{/if}}
      </div>
    {{/if}}
  </div>
{{/modal-dialog}}
