<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2>{{t "Download %app_name%" key='download_coughdrop'}}</h2>
    {{#if app_state.domain_settings.ios_store_url}}
      <h4>{{t "iOS" key='ios'}}</h4>
        <div style='margin-left: 20px; margin-bottom: 20px;'>
          <a href={{app_state.domain_settings.ios_store_url}} target="_blank">
            <img src={{path "images/ios_app_store.svg"}} alt="ios app store" style="height: 50px; margin-top: 5px;"/>
          </a>
        </div>
    {{/if}}
    {{#if app_state.domain_settings.play_store_url}}
      <h4>{{t "Android" key='android'}}</h4>
        <div style='margin-left: 20px; margin-bottom: 20px;'>
          <a href={{app_state.domain_settings.play_store_url}} target="_blank">
            <img src={{path "images/google_play.png"}} alt="google play" style="height: 50px; margin-top: 5px;"/>
          </a>
        </div>
    {{/if}}
    {{#if app_state.domain_settings.kindle_store_url}}
    <h4>{{t "Amazon Kindle" key='amazon_kindle'}}</h4>
      <div style='margin-left: 20px; margin-bottom: 20px;'>
        <a href={{app_state.domain_settings.kindle_store_url}} target="_blank">
          <img src={{path "images/amazon.png"}} alt="amazon" style="height: 50px; margin-top: 5px;"/>
        </a>
      </div>
    {{/if}}
    <h4>{{t "Windows" key='window'}}</h4>
      <div style='margin-left: 20px; margin-bottom: 20px;'>
        <p>{{t "You can install %app_name% as a Windows desktop app on your computer or Windows device. CoughDrop on Windows has some eye-tracking integrations that will help it work better with more devices. Please make sure to download the right version for your operating system." key='windows_explainer'}}</p>
        <p><a href="https://s3.amazonaws.com/coughdrop/installer/windows/x64/coughdrop-setup.exe">64-Bit Windows Download</a></p>
        <p><a href="https://s3.amazonaws.com/coughdrop/installer/windows/ia32/coughdrop-setup.exe">32-Bit Windows Download</a></p>
      </div>
    <h4>{{t "Web Browser" key='web_browser'}}</h4>
      <div style='margin-left: 20px; margin-bottom: 20px;'>
        <img src={{path "images/web_version.svg"}} alt="web version" style="height: 50px; margin-top: 5px;"/>
        <p>{{t "%app_name% is a web-first application, and should work with many modern web browsers. Some browsers may have quirks that prevent certain features from working, if this happens please let us know. Please consider using Chrome as your default browser if you are running into compatibility issues." key='browser_explainer'}}</p>
      </div>
  </div>
</div>