{{#modal-dialog action="close" opening='opening' closing='closing'}}
  <div class="modal-header">
    <button type="button" class="close" {{action 'close'}}>&times;</button>
    <h3>
      {{t "Batch Recording" key='batch_recording'}}
    </h3>
  </div>
  <div class="modal-body">
    {{#if model.user}}
      {{#if phrase}}
        <button class='btn btn-default' {{action 'select_phrase'}} style='float: left; margin-right: 5px; height: 50px;'><span class='glyphicon glyphicon-arrow-left'></span><span class='sr-only'>{{t "Back to %{category}" key='back_to_category' category=category.name}}</span></button>
        <h4 style='margin-bottom: 0;'>
          "{{phrase.text}}"
        </h4>
        <span class='text-muted' style='overflow: hidden; width: 100%;'>
         {{category.name}}, <span style='color: #aaa;'>{{repository.name}}</span>
        </span>
        <div style='clear: both; margin-bottom: 10px;'></div>
        {{audio-recorder id=phrase.id pending_sound=phrase.pending_sound text=phrase.text next_phrase=next_phrase sound=phrase.sound decide_on_recording="decide_on_recording" select_phrase="select_phrase" audio_ready="audio_ready" audio_not_ready="audio_not_ready"}}
      {{else if category}}
        <button class='btn btn-default' {{action 'select_category'}} style='float: left; margin-right: 5px; height: 50px; vertical-align: top;'><span class='glyphicon glyphicon-arrow-left'></span><span class='sr-only'>{{t "Back to List" key='back_to_list'}}</span></button>
        <h4 style='margin-bottom: 0;'>
          {{category.name}}
        </h4>
        <span class='text-muted' style='overflow: hidden; width: 100%;'>{{repository.name}}</span>
        <div style='clear: both; margin-bottom: 10px;'></div>
        <div class='btn-group-vertical' style='width: 100%;'>
          {{#each category.phrases as |p|}}
            <button class='btn btn-default' style='height: 50px; text-align: left;' {{action 'select_phrase' p.id}}>
              {{#if p.pending_sound}}
                <span class='glyphicon glyphicon-warning-sign'></span>&nbsp;&nbsp;
              {{else if p.sound}}
                <span class='glyphicon glyphicon-ok'></span>&nbsp;&nbsp;
              {{/if}}
              {{p.text}}
            </button>
          {{/each}}
          {{#if custom_phrase}}
            <span class='btn btn-default' style='text-align: left; height: 50px;'>
              <span style='display: inline-block; width: 300px;'>
                {{input insert-newline='confirm_add_phrase' escape-press='cancel_add_phrase' id='custom_phrase_text' type='text' class='form-control' value=custom_phrase.text}}
              </span>
              <button class='btn btn-default' {{action 'confirm_add_phrase'}}>{{t "Add" key='add'}}</button>
            </span>
          {{else}}
            <button class='btn btn-default' style='height: 50px; text-align: left; color: #888;' {{action 'add_phrase'}}>
              <span class='glyphicon glyphicon-plus'></span>
              {{t "Add another phrase" key='add_another_phrase'}}
            </button>
          {{/if}}
        </div>
        {{#if next_category}}
          <div style='text-align: right; margin-top: 10px;'>
            <button class='btn btn-default' {{action 'select_category' next_category.id}} style='margin-left: 5px; height: 50px;'>{{t "Next Category" key='next_category'}}</button>
          </div>
        {{/if}}
      {{else if repository}}
        {{#if repository.loading}}
          <p>{{t "Loading repository..." key='loading_repository'}}</p>
        {{else if repository.error}}
          <p>{{t "Error loading repository" key='error_loading_repository'}}</p>
        {{else }}
          <h4>{{repository.name}}</h4>
          <div class='text-muted' style='font-size: 10px;'>
            {{repository.description}}
            {{#if repository.url}}
              <a href={{repository.url}} target="_blank">{{t "learn more" key='learn_more'}}</a>
            {{/if}}
          </div>
          <div class="btn-group-vertical" style="width: 100%; margin-top: 20px;">
            {{#each repository.categories as |cat|}}
              <button class='btn btn-default' style='height: 50px; text-align: left;' {{action 'select_category' cat.id}}>
                {{#if cat.pending_sound}}
                  <span class='glyphicon glyphicon-warning-sign'></span>
                {{/if}}
                {{cat.name}}
                ( {{cat.recordings}} / {{cat.phrases.length}} )
              </button>
            {{/each}}
          </div>
        {{/if}}
      {{else}}
        ho hum, not working
      {{/if}}
    {{else}}
      <p>
        {{t "Select the user to record audio for" key='select_recording_user'}}
        {{user-select select_id="for_user_id" buttons=true selection=for_user_id action=(action (mut for_user_id)) }}
      </p>
    {{/if}}
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" {{action 'close'}}>{{t "Close" key='close'}}</a>
  </div>
{{/modal-dialog}}
