<div class="row">
  <div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">
    <h2>
      {{#if gift.loading}}
        {{t "Loading..." key='loading'}}
      {{else if gift.gift_types.multi_code}}
        {{t "Gift Codes for" key='gift_codes'}}
      {{else if gift.gift_types.discount}}
        {{t "Discount Redemptions for" key='discounts_for'}}
      {{else if gift.gift_types.user_gift}}
        {{t "Gift Code"}}
        {{#if gift.giver}}
          {{t "from" key='from'}}
          {{#if gift.giver.name}}
            {{gift.giver.name}}
          {{else if gift.giver.email}}
            {{gift.giver.email}}
          {{else}}
            {{t "Unknown User" key='unknown_user'}}
          {{/if}}
        {{/if}}
      {{else}}
        {{t "CoughDrop Purchase, " key='coughdrop_purchase'}}
      {{/if}}

      {{#if gift.organization}}
        {{gift.organization}}
      {{/if}}
    </h2>
    {{#if gift.gift_types.multi_code}}
      <span class="glyphicon glyphicon-th" style="font-size: 50px; float: left; margin: 5px 15px 5px 0;"></span>
      <p style='margin-bottom: 20px;'>
        {{t "Thank you for using CoughDrop! This organization" key='multi_code_intro'}}
        {{#if gift.organization}}
          <b>( {{gift.organization}} )</b>
        {{/if}}
        {{t "has been set up with multiple gifts code for use within CoughDrop. You can distribute these gift codes to users who can enter them when they sign up to get free access to CoughDrop's communication features." key='multi_code_intro2'}}
        {{t "Each gift code includes <b>%{dur}</b> of free access to CoughDrop's cloud extras features." dur=gift.duration key='cloud_extras_duration'}}
      </p>
    {{else if gift.gift_types.discount}}
      <span class="glyphicon glyphicon-scissors" style="font-size: 50px; float: left; margin: 5px 15px 5px 0;"></span>
      <p style='margin-bottom: 20px;'>
        {{t "Thank you for using CoughDrop! This organization" key='discounts_intro'}}
        {{#if gift.organization}}
          <b>( {{gift.organization}} )</b>
        {{/if}}
        {{t "has been granted a discounted rate to offer to its users. When people purchase a long-term license with CoughDrop they can enter the provided code to receive a discount on their purchase amount." key='discounts_intro2'}}
      </p>
    {{else if gift.gift_types.user_gift}}
      <span class="glyphicon glyphicon-gift" style="font-size: 50px; float: left; margin: 5px 15px 5px 0;"></span>
      <p style='margin-bottom: 20px;'>
        {{t "The code you entered is tied to a one-time gift code," key='user_gift_intro'}}
        {{t "and code includes <b>%{dur}</b> of free access to CoughDrop's cloud extras features." dur=gift.duration key='cloud_extras_gift_duration'}}
        {{#if gift.active}}
          {{t "This gift code has not yet been redeemed." key='gift_still_active'}}
        {{else if gift.recipient}}
          {{t "This gift code has been redeemed by" key='gift_redeemed_by'}}
          {{#link-to 'user' gift.recipient.user_name}}
            <b>{{gift.recipient.user_name}}</b>
          {{/link-to}}{{t "." key='period'}}
          {{#if gift.recipient.redeemed_at}}
              {{t "It was redeemed" key='it_was_redeemed'}}
              {{date gift.recipient.redeemed_at 'day'}}
          {{/if}}
        {{else}}
          {{t "This gift code is no longer active or redeemable." key='gift_not_active'}}
        {{/if}}
      </p>
    {{else}}
      {{#unless gift.loading}}
        <span class="glyphicon glyphicon-paperclip" style="font-size: 50px; float: left; margin: 5px 15px 5px 0;"></span>
        <p style='margin-bottom: 20px;'>
          {{t "Thank you for your interest in purchasing CoughDrop! CoughDrop is a powerful tool for developing communicators, and the support team around them. We are confident that CoughDrop can make a difference for the communicators you work with. Please enter the following information to complete your purchase. If you have any questions, feel free to contact our support team." key='bulk_purchase_intro'}}
        </p>
      {{/unless}}
    {{/if}}
    {{#if gift.loading}}
      <p>{{t "Loading purchase information..." key='loading_purchase'}}</p>
    {{else if gift.error}}
      <p>{{t "This purchase link appears to have been disabled or is an invalid link. If you believe there is an error, please contact our support team." key='invalid_gift'}}</p>
    {{else if gift.gift_types.multi_code}}
      <h4>{{t "Gift Codes" key='gift_codes'}}</h4>
      <div style='margin-top: -5px; margin-bottom: 15px;'>
        {{gift.redeemed_codes}} {{t "out of" key='out_of'}} {{gift.total_codes}} {{t "redeemed" key='redeemed'}}
      </div>
      <ul class='list-group'>
      {{#each gift.codes as |code|}}
        <li class='list-group-item'>
          {{#if code.redeemed}}
            <span style='text-decoration: line-through;'>{{code.code}}</span>
            <span class='text-muted'>
              {{#link-to 'user' code.receiver.user_name}}
                {{#if code.receiver.avatar_url}}
                  <img src={{code.receiver.avatar_url}} style='height: 20px; opacity: 0.5;' />
                {{/if}}
                {{code.receiver.user_name}}
              {{/link-to}}
              {{t "redeemed" key='redeemed'}}
              {{date code.redeemed_at 'day'}}
            </span>
          {{else}}
            <span style='font-size: 20px;'>{{code.code}}</span>
            <span class='text-muted'>{{t " - not redeemed" key='not_redeemed'}}</span>
          {{/if}}
        </li>
      {{/each}}
      </ul>
    {{else if gift.gift_types.discount}}
      <dl class='dl-horizontal'>
        <dt>{{t "Organization" key='organizaton'}}</dt>
          <dd>{{gift.organization}}</dd>
        {{#if gift.email}}
          <dt>{{t "Email" key='org_email'}}</dt>
            <dd>{{gift.email}}</dd>
        {{/if}}
        <dt>{{t "Code" key='code'}}</dt>
          <dd>{{gift.code}}</dd>
        <dt>{{t "Discount" key='discount'}}</dt>
          <dd>{{gift.discount_hundred}}% {{t "off" key='off'}}</dd>
        {{#if gift.expires}}
          <dt>{{t "Expires" key='expires'}}</dt>
            <dd>{{date gift.expires 'day'}}</dd>
        {{/if}}
        <dt>{{t "Redeemed" key='redeemed'}}</dt>
          <dd>
            {{gift.activated_discounts}}
            {{#if gift.limit}}
              / {{gift.limit}}
            {{/if}}
            {{t "activations" key='activations'}}
          </dd>
        
      </dl>
      <ul class='list-group'>
      {{#each gift.activations as |activation|}}
        <li class='list-group-item'>
          <span class='text-muted'>
            {{#link-to 'user' code.receiver.user_name}}
              {{#if code.receiver.avatar_url}}
                <img src={{code.receiver.avatar_url}} style='height: 20px; opacity: 0.5;' />
              {{/if}}
              {{code.receiver.user_name}}
            {{/link-to}}
            {{t "redeemed" key='redeemed'}}
            {{date code.activated_at 'day'}}
          </span>
        </li>
      {{/each}}
      </ul>
    {{else if gift.gift_types.user_gift}}
    {{else if gift.active}}
      {{#if subscription.purchase_complete}}
        <div style="margin: 50px 0;">
          <h4>
            <span class="glyphicon glyphicon-ok"></span>
            {{t "Purchase complete! Thank you!" key='purchase_complete'}}
          </h4>
          <p>{{t "You should receive an email with the details of this purchase. Make sure to check your spam box if you're not seeing the email come through within a few minutes." key='purchase_in_email'}}</p>
        </div>
      {{else if subscription.finalizing_purchase}}
        <div style="margin: 50px 0;">
          <h4>
            <span class="glyphicon glyphicon-refresh spinning"></span>
            {{t "Confirming purchase..." key='finalizing_subscription'}}
          </h4>
        </div>
      {{else}}
        <form {{action "purchase" on="submit"}}>
          {{#if purchase_error}}
            <div class="form-group">
              <div class="col-sm-9" style="padding-top: 30px;">
                <p class='text-danger'>{{purchase_error}}</p>
              </div>
            </div>
          {{/if}}
          <div class="form-group">
            <div class="col-sm-9" style="padding-top: 30px;">
              <label>{{t "Your Email" key='your_email'}}</label><br/>
              <span style="display: inline-block; width: 300px;">
                {{input type='text' value=subscription.email class='form-control input-lg' placeholder='email@example.com'}}
              </span>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12" style="padding-top: 30px;">
              <label>{{t "Total Licenses" key='total_licenses'}}</label><br/>
              <p style='font-size: 30px;'>
                {{t "license" count=subscription.purchase_licenses key='n_licenses'}}
              </p>
              {{#if gift.memo}}
                <div style='font-size: 16px; margin-top: -10px;' class='text-muted'>{{gift.memo}}</div>
              {{/if}}
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12" style="padding-top: 30px;">
              <label>{{t "Purchase Amount" key='purchase_amount'}}</label><br/>
              <p style='font-size: 30px;'>
                {{t "$" key='dollars'}}{{delimit subscription.subscription_custom_amount 'full'}}
              </p>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-9" style='margin-top: 20px;'>
              <button type="submit" class="btn btn-lg btn-primary">{{t "Purchase Now" key='purchase_now'}}</button>
            </div>
          </div>
        </form>
      {{/if}}
    {{else}}
      <p>{{t "This purchase link appears to have been disabled. If you believe there is an error, please contact our support team." key='invalid_gift'}}</p>
    {{/if}}
  </div>
</div>