<form class="form-horizontal">
<div class={{if languageState 'active' 'hidden'}}>
  {{#each model.translations as |locale|}}
    <div class="form-group">
      <label for="label" class="col-sm-2 control-label">{{t "Language" key='language'}}</label>
      <div class="col-sm-10">
        <p class='form-control-static'>{{locale.locale}}</p>
      </div>
    </div>
    <div class="form-group">
      <label for={{locale.label_id}} class="col-sm-4 control-label">{{t "Label" key='label'}}</label>
      <div class="col-sm-8">
        {{input value=locale.label class="form-control" id=locale.label_id}}
      </div>
    </div>
    <div class="form-group">
      <label for={{locale.vocalization_id}} class="col-sm-4 control-label">{{t "Speech" key='speech'}}</label>
      <div class="col-sm-8">
        {{input value=locale.vocalization class="form-control" id=locale.vocalization_id placeholder="matches label if empty"}}
      </div>
    </div>
    {{#if app_state.feature_flags.inflections_overlay}}
      <div class='form-group'>
        <label for="inflections" class="col-sm-4 control-label">{{t "Inflections" key='inflections'}}</label>
        <div class='col-sm-8'>
          <p class='form-control-static'>{{t "When users enable inflections and long-press on the button, these are the options they will see:" key='inflections_overlay_description'}}</p>
        </div>
        <div class='col-sm-10 col-sm-offset-2'>
          <div>
            <div style='float: left; width: calc(33% - 10px); margin: 5px;'>
              {{input class='form-control' value=locale.inflections_hash.nw placeholder=locale.inflections_suggestions.nw}}
            </div>
            <div style='float: left; width: calc(33% - 10px); margin: 5px;'>
              {{input class='form-control' value=locale.inflections_hash.n placeholder=locale.inflections_suggestions.n}}
            </div>
            <div style='float: left; width: calc(33% - 10px); margin: 5px;'>
              {{input class='form-control' value=locale.inflections_hash.ne placeholder=locale.inflections_suggestions.ne}}
            </div>
            <div style='float: left; width: calc(33% - 10px); margin: 5px;'>
              {{input class='form-control' value=locale.inflections_hash.w placeholder=locale.inflections_suggestions.w}}
            </div>
            <div style='float: left; width: calc(33% - 10px); margin: 5px; text-align: center; overflow: hidden;'>
              {{locale.label}}
            </div>
            <div style='float: left; width: calc(33% - 10px); margin: 5px;'>
              {{input class='form-control' value=locale.inflections_hash.e placeholder=locale.inflections_suggestions.e}}
            </div>
            <div style='float: left; width: calc(33% - 10px); margin: 5px;'>
              {{input class='form-control' value=locale.inflections_hash.sw placeholder=locale.inflections_suggestions.sw}}
            </div>
            <div style='float: left; width: calc(33% - 10px); margin: 5px;'>
              {{input class='form-control' value=locale.inflections_hash.s placeholder=locale.inflections_suggestions.s}}
            </div>
            <div style='float: left; width: calc(33% - 10px); margin: 5px;'>
              {{input class='form-control' value=locale.inflections_hash.se placeholder=locale.inflections_suggestions.se}}
            </div>
          </div>
        </div>
      </div>
    {{/if}}
  {{/each}}
</div>
</form>