{{#modal-dialog action="close" opening='opening' closing='closing'}}
  <div class="modal-header">
    <button type="button" class="close" {{action 'close'}}>&times;</button>
    <h3>{{t "Button Settings" key='button_settings'}} - {{model.label}}</h3>
  </div>
  <div class="modal-body" id="button_settings">
    <div class="row">
      <div class="col-sm-3">
        <ul class="nav nav-pills nav-stacked">
          <li class={{if helpState 'active' 'inactive'}} {{action 'setState' "help"}}><a href="#">{{t "Help" key='help'}}</a></li>
          <li class={{if generalState 'active' 'inactive'}} {{action 'setState' "general"}}><a href="#">{{t "General" key='general'}}</a></li>
          <li class={{if pictureState 'active' 'inactive'}} {{action 'setState' "picture"}}><a href="#">{{t "Picture" key='picture'}}</a></li>
          <li class={{if actionState 'active' 'inactive'}} {{action 'setState' "action"}}><a href="#">{{t "Action" key='action'}}</a></li>
          <li class={{if soundState 'active' 'inactive'}} {{action 'setState' "sound"}}><a href="#">{{t "Sound" key='sound'}}</a></li>
          {{#if board.translations}}
            <li class={{if languageState 'active' 'inactive'}} {{action 'setState' "language"}}><a href="#">{{t "Language" key='language'}}</a></li>
          {{/if}}
          {{#if app_state.feature_flags.board_levels}}
            <li class={{if extrasState 'active' 'inactive'}} {{action 'setState' "extras"}}><a href="#">{{t "Extras" key='extras'}}</a></li>
          {{/if}}
        </ul>
      </div>
      <div class="col-sm-9 content">
        {{partial "button-settings-help"}}
        {{partial "button-settings-general"}}
        {{partial "button-settings-picture"}}
        {{partial "button-settings-action"}}
        {{partial "button-settings-sound"}}
        {{partial "button-settings-language"}}
        {{partial "button-settings-extras"}}
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" {{action 'close'}}>{{t "Close" key='close'}}</a>
  </div>
{{/modal-dialog}}
