<form class="form-horizontal" {{action "nothing" on='submit'}}>
<div class={{if soundState 'active' 'hidden'}}>
  <div class="form-group">
    <label for="vocalization" class="col-sm-2 control-label">{{t "Speak" key='speak'}}</label>
    <div class="col-sm-10 options">
      <span class="vocalization_field">
        {{input value=model.vocalization class="form-control inline" id="vocalization" placeholder=label}}
      </span>
      <button type="button" {{action "record_sound" on="click"}} disabled={{recorder_unavailable}} class="btn btn-default">
        <img src="{{path 'images/microphone.svg'}}" style="height: 20px; margin: -15px -3px -13px -3px;" alt="record_a_sound"/>
      </button>
      <span class="file_select_holder">
        <button type="button" class='btn btn-default'>
          <img src="{{path 'images/upload.svg'}}" style="height: 30px; margin: -10px -6px -6px;" alt="upload"/>
        </button>
        <input type="file" name="sound_upload" id="sound_upload" accept="audio/*"/>
      </span>
      {{#unless sound_preview}}
        {{#unless model.sound.url}}
          {{#unless browse_audio}}
            <div>
              <a href="#" {{action 'browse_audio'}}>{{t "browse stored audio" key='browse_audio'}}</a>
            </div>
          {{/unless}}
        {{/unless}}
      {{/unless}}
    </div>
  </div>
  <div class="form-group">
    <label for="blocking_speech" class="col-sm-2 control-label">{{t "Hold" key='hold'}}</label>
    <div class="col-sm-10">
      <div class="checkbox">
        <label>
          {{input checked=model.blocking_speech type="checkbox"}}
          {{t "Hold other speech until this button completes" key='hold_other_speech_until_this_button_completes'}}
        </label>
      </div>
    </div>
  </div>
  {{#if browse_audio}}
    <div class="col-sm-10 col-sm-offset-2">
    {{#if browse_audio.loading}}
      <p>{{t "Loading stored audio..." key='loading_stored_audio'}}</p>
    {{else if browse_audio.error}}
      {{#if persistence.online}}
        <p>{{t "Error loading stored audio" key='error_loading_stored_audio'}}</p>
      {{else}}
        <p>{{t "Stored audio files not available offline" key='audio_not_available_offline'}}</p>
      {{/if}}
    {{else}}
      <div style='margin-bottom: 5px;'>
        {{input type='text' class='form-control' value=browse_audio.filter_string placeholder='filter results'}}
      </div>
      {{# if browse_audio.results}}
        <div style='max-height: 200px; overflow: auto;'>
          {{#each browse_audio.results as |sound|}}
            {{#if sound.url}}
              <div class='sound-hover'>
                <div style='float: right;'>
                  <button class='btn btn-default btn' {{action 'play_audio' sound}} style='margin-right: 5px; height: 40px;'>
                    {{#if sound.playing}}
                      <span class='glyphicon glyphicon-pause'></span>
                      <span class='sr-only'>{{t "pause" key='pause'}}</span>
                    {{else}}
                      <span class='glyphicon glyphicon-play'></span>
                      <span class='sr-only'>{{t "play" key='play'}}</span>
                    {{/if}}
                  </button>
                  <button class='btn btn-default btn-sm' {{action 'select_audio' sound}} style='height: 40px;'>{{t "select" key='select'}}</button>
                </div>
                {{sound.name}} {{t "created" key='created'}} {{date sound.created 'short_day'}}
                <div style='padding-left: 20px;' class='text-muted'>
                  {{#if sound.transcription}}
                    {{duration sound.duration}} -
                    {{sound.transcription}}
                  {{else}}
                    {{t "duration:" key='duration'}}
                    {{duration sound.duration}}
                  {{/if}}
                </div>
                <audio id={{sound.id}} src={{sound.url}}></audio>
                <div style='clear: right;'></div>
              </div>
            {{/if}}
          {{/each}}
        </div>
      {{else}}
        <p>{{t "No audio found" key='no_audio_found'}}</p>
      {{/if}}
    {{/if}}
    {{#if more_audio_results}}
      <button class='btn btn-default' {{action 'more_browsed_audio'}}>{{t "More" key='more'}}</button>
    {{/if}}
    <button class='btn btn-default' {{action 'clear_sound_work'}}>{{t "Clear Sound" key='clear_sound'}}</button>
    </div>
  {{else if sound_preview}}
    <div style="text-align: center;">
      Selected sound{{#if sound_preview.name}} ({{sound_preview.name}}){{/if}}:<br/>
      <audio controls src={{sound_preview.url}}></audio>
    </div>
    <div style="margin-top: 10px;">
      {{pick-license license=sound_preview.license}}
    </div>
    <div style="margin-top: 10px;">
      <button {{action "select_sound_preview"}} class='btn btn-primary'>{{t "Use This" key='use_this'}}</button>
      {{#if sound_preview.from_recording}}
        <button {{action "record_sound"}} class='btn btn-default'>
          {{t "Try Again" key='try_again'}}
        </button>
      {{/if}}
      <button {{action "clear_sound_work"}} class='btn btn-default'>{{t "Cancel" key='cancel'}}</button>
    </div>
  {{else}}
    {{#if sound_recording.ready}}
      <button id="recording_status" {{action "toggle_recording_sound"}} class={{if sound_recording.recording 'recording'}}>
        <span class="sub_status">
          <span>Start</span>
        </span>
      </button>
      <canvas id="sound_levels" width="400" height="300" style="display: none;"></canvas>
      <button {{action "toggle_recording_sound"}} class='btn btn-primary'>
        {{#if sound_recording.recording}}
          {{t "Stop" key='stop'}}
        {{else}}
          {{t "Start" key='start'}}
        {{/if}}
      </button>
      <button class='btn btn-default' {{action "clear_sound_work"}}>{{t "Cancel" key='cancel'}}</button>
    {{else}}
      {{#if model.sound.url}}
        <div style="margin-bottom: 10px; text-align: center;">
          {{t "Played sound:" key='played_sound_colon'}}<br/>
          <audio controls src={{model.sound.url}}></audio>
        </div>
        {{pick-license license=model.sound.license}}
        <br/>
        <button class='btn btn-default' {{action "clear_sound"}}>{{t "Clear Sound" key='clear_sound'}}</button>
      {{else}}
        <div style="margin-bottom: 10px; text-align: center;">
          {{#if special_modifier}}
            <strong>{{special_modifier}}</strong> {{t "when selected" key='when_selected'}}
          {{else if modifier}}
            <strong>{{modifier}}</strong> {{t "modifier via Text-To-Speech" key='modifying_via_tts'}}
            <span class="modifier_example_field">
              {{input value=modifier_text class="form-control" id="modifier" placeholder="enter a word to hear it modified"}}
            </span>
          {{else}}
            {{#if model.vocalization}}
              <strong>"{{model.vocalization}}"</strong> {{t "via Text-To-Speech" key='via_tts'}}
            {{else}}
              <strong>"{{model.label}}"</strong> {{t "via Text-To-Speech" key='via_tts'}}
            {{/if}}
          {{/if}}
        </div>
        {{#unless special_modifier}}
          <div style="text-align: center;">
            <button type="button" {{action "testVocalization" this}} class="btn btn-default">{{t "Listen" key='listen'}}</button>
          </div>
        {{/unless}}
      {{/if}}
    {{/if}}
  {{/if}}
</div>
</form>
