{{#modal-dialog action="close" opening='opening' closing='closing'}}
  <div class="modal-header">
    <button type="button" class="close" {{action 'close'}}>&times;</button>
    <h3>{{t "Board Ideas" key='board_ideas'}}</h3>
  </div>
  <div class="modal-body">
    <p>{{t "Sometimes it's hard to know what words or phrases to add. Below are some suggestions for things to add to the user's board set." key='button_suggestions_explainer'}}</p>
    PICK USER<br/>
    {{#if full}}
      <p class='text-danger'>{{t "There's nowhere on the board to add buttons. You can add rows/columns or find another board to add to." key='add_buttons'}}</p>
    {{else}}
      <p>{{t "button" count=empty key='n_buttons'}} {{t "available" key='available'}}</p>
    {{/if}}
    <ul class="nav nav-pills" style='margin-bottom: 10px;'>
      <li role="presentation" class={{if core 'active'}}><a href="#" {{action 'select_list' 'core'}}>{{t "Core Words" key='core_words'}}</a></li>
      <li role="presentation" class={{if fringe 'active'}}><a href="#" {{action 'select_list' 'fringe'}}>{{t "Fringe Words" key='fringe_words'}}</a></li>
      <li role="presentation" class={{if recordings 'active'}}><a href="#" {{action 'select_list' 'recordings'}}>{{t "Recordings" key='recordings'}}</a></li>
      <li role="presentation" class={{if requests 'active'}}><a href="#" {{action 'select_list' 'requests'}}>{{t "Requests" key='requests'}}</a></li>
    </ul>
    {{#if list.loading}}
      <p>{{t "Loading data..." key='loading_data'}}</p>
    {{else if list.error}}
      <p>{{t "Error loading data" key='error_loading_data'}}</p>
    {{else if list}}
      <div style='margin-bottom: 10px;'>
        {{#if core}}
          {{t "Core words are frequently-used words that often have multiple meanings or intents. They are useful in lots of different settings, and are valuable high-frequency words for many communicators. Browse the list for any core words that might make sense for the current board." key='core_explainer'}}
        {{else if fringe}}
          {{#unless category}}
            {{t "Fringe words are specialized or specific words, like people or types of food. Communicators should have access to fringe words that represent their interests, connections, and things they are learning about. Browse the categories to find words or get ideas for words that could be added to the current board." key='fringe_explainer'}}
          {{/unless}}
        {{else if recordings}}
          {{#unless category}}
            {{t "It can be useful for some communicators to record words or phrases that they will want to use more easily in the future. You can select phrases from the list of recordings to have them quickly added to the current board." key='recordings_explainer'}}
          {{/unless}}
        {{else if requests}}
          {{t "Communicators and supervisors can request to have words added to their vocabulary set. This list includes all the words that have been requested for a communicator. You can select any to have them added to the current board." key='requests_explainer'}}
        {{/if}}
      </div>
      {{#if category.items}}
        {{#if list.name}}
          <button class='btn btn-default' {{action 'select_category'}} style='float: left; margin-right: 5px; height: 50px;'><span class='glyphicon glyphicon-arrow-left'></span><span class='sr-only'>{{t "Back to %{list}" key='back_to_list' list=list.name}}</span></button>
          <h4 style='margin-bottom: 0;'>
            {{category.name}}
          </h4>
          <span class='text-muted' style='overflow: hidden; width: 100%;'>
           {{list.name}}
          </span>
        {{/if}}
        <div style='clear: both; margin-bottom: 10px;'></div>
        <div class='btn-group-vertical' style='width: 100%; cursor: default;'>
          {{#each category.items as |item|}}
            <span class='btn btn-default' style='height: 50px; text-align: left;'>
              <span style='float: right;'>
                <button class='btn btn-default' disabled={{full}} {{action 'add_item' item}}>{{t "add" key='add'}}</button>
              </span>
              <span class={{if item.used 'text-muted'}} style='font-size: 20px;'>
                {{#if item.used}}
                  <span class='glyphicon glyphicon-ok'></span>&nbsp;&nbsp;
                {{/if}}
                {{item.text}}
              </span>
              <span style='clear: right;'></span>
            </span>
          {{/each}}
        </div>
      {{else if list.categories}}
        <div class='btn-group-vertical' style='width: 100%;'>
          {{#each list.categories as |category|}}
            <button class='btn btn-default' style='height: 50px; text-align: left;' {{action 'select_category' category}}>
              {{category.name}}
            </button>
          {{/each}}
        </div>
      {{else}}
        <p>{{t "No results available" key='no_results_available'}}</p>
      {{/if}}
    {{else}}
      <p>{{t "No data available" key='no_data_available'}}</p>
      <p style='white-space: pre;'>
        - pick a user, if supervisor
          - if only in one user's board, default to them
          - otherwise default to first matching user
          - otherwise self
        - missing core words
        - suggestions for fringe words
        - recorded phrases
          - organize by categories if used, with fallback cluster
        - show a check or something for items already used
        - show an add button
      </p>
    {{/if}}
  </div>
{{/modal-dialog}}
