{{#modal-dialog action="close" opening='opening' closing='closing'}}
  <div class="modal-header">
    <button type="button" class="close" {{action 'close'}}>&times;</button>
    <h3>{{t "Delete this Board" key='delete_this_board'}}</h3>
  </div>
  <div class="modal-body">
    <p>
      {{t "Are you sure you want to delete this board?" key='confirm_delete_board'}}
    </p>
    <img src={{ model.board.icon_url_with_fallback }} style="width: 40px; float: left; margin-right: 10px;"/>
    <strong>{{model.board.name}}</strong><br/>
    {{model.board.grid.rows}} x {{model.board.grid.columns}}
    {{#if model.board.non_author_uses}}
      <div style='margin: 20px 0;'>
        {{t "Keep in mind that this board is currently being used by" key='board_used_by_1'}}
        {{t "user" count=model.board.non_author_uses key='n_users'}}{{#if model.board.using_user_names}}{{t ", including:" key='comma_including'}}{{else}}{{t "." key='period'}}{{/if}}
        {{#if model.board.using_user_names}}
          <div style='margin: 10px 20px; max-height: 50px; overflow: auto;'>
            {{using_user_names}}
          </div>
        {{/if}}
      </div>
    {{/if}}
    {{#if model.board.downstream_boards}}
      <div style='margin: 30px 0 10px;'>
        <label>
          {{input type='checkbox' checked=delete_downstream}}
          {{t "Also delete any of my boards that are linked from this board" key='delete_downstream_boards'}}
        </label>
        {{#if delete_downstream}}
          <p class='text-danger'>
            {{t "Please double-check that this is what you want to do, this action could delete up to" key='confirm_downstream_delete'}}
            {{t "additional board" key='n_boards' count=model.board.downstream_boards}}{{t "." key='period'}}
          </p>
        {{/if}}
      </div>
    {{/if}}
    {{#if model.deleting}}
      <p>{{t "Deleting Board..." key='deleting_board'}}</p>
    {{else if model.error}}
      <p class='text-danger'>{{t "There was an error trying to delete the board" key='error_deleting_board'}}</p>
    {{/if}}
  </div>
  <div class="modal-footer">
    <button class='btn btn-primary' {{action 'deleteBoard' "delete"}}>
      {{#if delete_downstream}}
        {{t "Delete Board Set" key='delete_boards'}}
      {{else}}
        {{t "Delete Board" key='delete_board'}}
      {{/if}}
    </button>
    <button class='btn btn-default' {{action 'close'}}>{{t "Cancel" key='cancel'}}</button>
  </div>
{{/modal-dialog}}

