{{#modal-dialog action="close" opening='opening' closing='closing'}}
  <div class="modal-header">
    <button type="button" class="close" {{action 'close'}}>&times;</button>
    {{#if model.for_editing}}
      <h3>{{t "Edit a Copy of this Board" key='edit_a_copy_of_board'}}</h3>
    {{else}}
      <h3>{{t "Make a Copy of this Board" key='make_a_copy_of_board'}}</h3>
    {{/if}}
  </div>
  <div class="modal-body">
    <h4>{{t "Copy of " key='copy_of'}} {{ model.board.name }}</h4>
    <div>
      <label class='form-control-static' style='display: inline-block;' for='board_name'>{{t "Name:" key='name'}}</label>
      <span style='width: 200px; display: inline-block;'>
        {{input type='text' class='form-control' id='board_name' value=board_name placeholder="Name for board copy"}}
      </span>
    </div>
    {{#if model.known_supervisees}}
      <p>{{t "For which user would you like to make a copy of this board? If you are planning to use this board for multiple communicators, you should probably copy it for yourself and manually add it for each communicator." key='which-user'}}</p>
      {{user-select select_id="currently_selected_id" buttons=true selection=currently_selected_id action=(action (mut currently_selected_id)) }}
    {{/if}}
    <p>
      {{#if loading}}
        {{t "Checking user..." key='checking_user'}}
      {{else if error}}
        {{t "User lookup failed, please try again" key='user_lookup_failed'}}
      {{else if home_board}}
        {{t "This board is currently the user's home board. Do you want to use the new copy as the user's new home board?" key='copy_home_board'}}
      {{else if in_board_set}}
        {{t "This board is part of the user's communication set. Do you want to use the new copy in the communication set instead of the original?" key='copy_upstream_board_links'}}
        {{t "This action could make copies of other boards in the communication set as well." key='more_copies_warning'}}
      {{else if sidebar_board}}
        {{t "This board is currently on the user's sidebar. Do you want to update the sidebar with the new copy?" key='copy_home_board'}}
      {{else if in_sidebar_set}}
        {{t "This board is part of the user's sidebar set. Do you want to use the new copy in the sidebar instead of the original?" key='copy_upstream_sidebar_links'}}
        {{t "This action could make copies of other boards in the sidebar set as well." key='more_sidebar_copies_warning'}}
      {{else if linked}}
        {{t "This board is linked to other boards. Do you want to make a copy of these linked boards as well, or just copy this board without changing any of the links?" key='copy_downstream_board_links'}}
      {{/if}}
    </p>
    {{#if self_currently_selected}}
      {{#if model.known_supervisees}}
        <p>
          {{t "Select any users to share this board and any links with them." key='select_sharing_supervisees'}}
          <ul class='list-unstyled' style='margin-top: 10px; margin-left: 30px;'>
            {{#each model.known_supervisees as |supervisee|}}
              <li>
                <label style={{if supervisee.share 'font-weight: bold;' 'font-weight: normal;'}}>
                  {{input type='checkbox' checked=supervisee.share}}
                  <img src={{supervisee.avatar_url}} style="height: 30px; max-width: 30px;"/>
                  {{supervisee.user_name}}
                </label>
              </li>
            {{/each}}
          </ul>
        </p>
      {{/if}}
    {{/if}}

    <div class="row" style='margin-top: 20px;'>
      <label style='font-weight: normal; color: #888;' class="col-sm-12">
        {{input type='checkbox' checked=public}}
        &nbsp;&nbsp;{{t "Make the copied board(s) public to share changes with others" key='make_copies_public'}}
      </label>
    </div>
    <div class="row" style='margin-top: 20px;'>
      <label style='font-weight: normal; color: #888;' class="col-sm-12">
        {{input type='checkbox' checked=translate}}
        &nbsp;&nbsp;{{t "Translate the copied board(s) into a different language" key='translate_boards'}}
      </label>
    </div>
    {{#if translate}}
      <div class="row">
        <label class="col-sm-2 control-label" for="translate_locale">
          Language:
        </label>
        <div class="col-sm-4">
          {{bound-select select_class="form-control" select_id="translate_locale" content=locales selection=translate_locale action=(action (mut translate_locale)) }}
        </div>
      </div>
    {{/if}}
    {{#if model.board.protected_material}}
      <p class='text-warning'>{{t "NOTE: This board has premium content, any users who access it without the same premium access will see free alternatives instead." key='premium_content_reminder'}}</p>
    {{/if}}
  </div>
  <div class="modal-footer">
    {{#if home_board}}
      <div class="btn-group dropup">
        <button class='btn btn-primary' {{action 'tweakBoard' "links_copy_as_home"}}>{{t "Copy as New Home Board" key='copy_linked_boards'}}</button>
      </div>
      {{partial 'copy-just-this-board'}}
    {{else if sidebar_board}}
      <div class="btn-group dropup">
        <button class='btn btn-primary' {{action 'tweakBoard' "links_copy_as_sidebar"}}>{{t "Copy To  The Sidebar" key='copy_linked_boards'}}</button>
      </div>
      {{partial 'copy-just-this-board'}}
    {{else if in_board_set}}
      <div class="btn-group dropup">
        <button class='btn btn-primary dropdown-toggle' data-toggle="dropdown" aria-expanded="false">
          {{t "Copy Into the Communication Set" key='use_new_copy'}} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#" {{action 'tweakBoard' "modify_links_copy"}}><strong>{{t "Make Brand New Copies of Everything" key='update_replace'}}</strong></a></li>
          <li><a href="#" {{action 'tweakBoard' "modify_links_update"}}>{{t "Use Existing Copies if I Have Any" key='update_in_place'}}</a></li>
        </ul>
      </div>
      {{partial 'copy-just-this-board'}}
    {{else if in_sidebar_set}}
      <div class="btn-group dropup">
        <button class='btn btn-primary dropdown-toggle' data-toggle="dropdown" aria-expanded="false">
          {{t "Copy Into the Sidebar Set" key='use_new_sidebar_copy'}} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#" {{action 'tweakBoard' "modify_links_copy"}}><strong>{{t "Make Brand New Copies of Everything" key='update_replace'}}</strong></a></li>
          <li><a href="#" {{action 'tweakBoard' "modify_links_update"}}>{{t "Use Existing Copies if I Have Any" key='update_in_place'}}</a></li>
        </ul>
      </div>
      {{partial 'copy-just-this-board'}}
    {{else if linked}}
      <button class='btn btn-primary' {{action 'tweakBoard' "links_copy"}}>{{t "Copy the Full Board Set" key='copy_linked_boards'}}</button>
      {{partial 'copy-just-this-board'}}
    {{else}}
      {{partial 'copy-just-this-board'}}
    {{/if}}
    <button class='btn btn-default' {{action 'close'}}>{{t "Cancel" key='cancel'}}</button>
  </div>
{{/modal-dialog}}
