{{#if model.board.linked_boards}}
  <div class="btn-group dropup">
    <button class='btn btn-default dropdown-toggle' data-toggle="dropdown" aria-expanded="false">
      {{t "Copy Just This Board" key='copy_just_this_board'}} <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="#" {{action 'tweakBoard' "remove_links"}}><strong>{{t "Remove Links While Copying" key='remove_links_while_copying'}}</strong></a></li>
      <li><a href="#" {{action 'tweakBoard' "keep_links"}}>{{t "Copy with Links to Original Boards" key='copy_as_is'}}</a></li>
    </ul>
  </div>
{{else}}
  <button class='btn btn-default' {{action 'tweakBoard' "keep_links"}}>{{t "Copy Just This Board" key='copy_just_this_board'}}</button>
{{/if}}
