{{#modal-dialog action="close" opening='opening' closing='closing'}}
  <div class="modal-header">
    <button type="button" class="close" {{action 'close'}}>&times;</button>
    <h3>{{t "Edit Organization Details" key='edit_org_details'}}</h3>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" {{action "save" on="submit"}}>
      <div class="form-group">
        <label for="name" class="col-sm-3 control-label">{{t "Name" key='name'}}</label>
        <div class="col-sm-7">
          {{#if model.org.permissions.update_licenses}}
            {{input value=model.org.name class="form-control" id="name" placeholder="Recording Name"}}
          {{else}}
            <p class='form-control-static'>{{model.org.name}}</p>
          {{/if}}
        </div>
      </div>
      <div class="form-group">
        <label for="name" class="col-sm-3 control-label">{{t "Home Board" key='home_board'}}</label>
        <div class="col-sm-7">
          {{input value=model.org.home_board_key class="form-control" id="name" placeholder="board key or URL"}}
          <div class='text-muted'>
            <em>{{t "any users you add that don't have a home board set will be automatically set with this board" key='default_home_board_explainer'}}</em>
          </div>
        </div>
      </div>
      {{#if model.org.custom_domain}}
        <div class="form-group">
          <div class="col-sm-7 col-sm-offset-3">
            <p class='form-control-static' style='font-weight: bold;'>
              {{t "Customization Settings For" key='customization_settings_for'}}
              {{#if model.org.hosts}}
                {{#each model.org.hosts as |host|}}
                  {{host}}&nbsp;&nbsp;
                {{/each}}
              {{else}}
                {{t "custom domains" key='custom_domains'}}
              {{/if}}
            </p>
          </div>
        </div>
        <div class="form-group">
          <label for="app_name" class="col-sm-3 control-label">{{t "App Name" key='app_name'}}</label>
          <div class="col-sm-7">
            {{input value=model.org.host_settings.app_name class="form-control" id="app_name" placeholder="name for the application"}}
          </div>
        </div>
        <div class="form-group">
          <label for="company_name" class="col-sm-3 control-label">{{t "Organization Name" key='company_name'}}</label>
          <div class="col-sm-7">
            {{input value=model.org.host_settings.company_name class="form-control" id="company_name" placeholder="shown in the app"}}
          </div>
        </div>
        <div class="form-group">
          <label for="admin_email" class="col-sm-3 control-label">{{t "Admin Email" key='admin_email'}}</label>
          <div class="col-sm-7">
            {{input value=model.org.host_settings.admin_email class="form-control" id="admin_email" placeholder="for alerts and messages"}}
          </div>
        </div>
        <div class="form-group">
          <label for="logo_url" class="col-sm-3 control-label">{{t "Logo Image URL" key='logo_url'}}</label>
          <div class="col-sm-7">
            {{input value=model.org.host_settings.logo_url class="form-control" id="logo_url" placeholder="100px x 100px"}}
          </div>
        </div>
        <div class="form-group">
          <label for="css_url" class="col-sm-3 control-label">{{t "CSS Override URL" key='css_url'}}</label>
          <div class="col-sm-7">
            {{input value=model.org.host_settings.css_url class="form-control" id="css_url" placeholder="https://"}}
          </div>
        </div>
        <div class="form-group">
          <label for="support_url" class="col-sm-3 control-label">{{t "Customer Support URL" key='support_url'}}</label>
          <div class="col-sm-7">
            {{input value=model.org.host_settings.support_url class="form-control" id="support_url" placeholder="https://"}}
          </div>
        </div>
        <div class="form-group">
          <label for="board_user_name" class="col-sm-3 control-label">{{t "Suggest Boards User Name" key='board_user_name'}}</label>
          <div class="col-sm-7">
            {{input value=model.org.host_settings.board_user_name class="form-control" id="board_user_name" placeholder="user_name"}}
          </div>
        </div>
        <div class="form-group">
          <label for="ios_store_url" class="col-sm-3 control-label">{{t "iOS App Store URL" key='ios_store_url'}}</label>
          <div class="col-sm-7">
            {{input value=model.org.host_settings.ios_store_url class="form-control" id="ios_store_url" placeholder="https://"}}
          </div>
        </div>
        <div class="form-group">
          <label for="play_store_url" class="col-sm-3 control-label">{{t "Google Play Store URL" key='play_store_url'}}</label>
          <div class="col-sm-7">
            {{input value=model.org.host_settings.play_store_url class="form-control" id="play_store_url" placeholder="https://"}}
          </div>
        </div>
        <div class="form-group">
          <label for="kindle_store_url" class="col-sm-3 control-label">{{t "Amazon Kindle Store URL" key='kindle_store_url'}}</label>
          <div class="col-sm-7">
            {{input value=model.org.host_settings.kindle_store_url class="form-control" id="kindle_store_url" placeholder="https://"}}
          </div>
        </div>
        <div class="form-group">
          <label for="windows_64_bit_url" class="col-sm-3 control-label">{{t "Windows 64-bit URL" key='windows_64_bit_url'}}</label>
          <div class="col-sm-7">
            {{input value=model.org.host_settings.windows_64_bit_url class="form-control" id="windows_64_bit_url" placeholder="https://"}}
          </div>
        </div>
        <div class="form-group">
          <label for="windows_32_bit_url" class="col-sm-3 control-label">{{t "Windows 32-bit Download URL" key='windows_32_bit_url'}}</label>
          <div class="col-sm-7">
            {{input value=model.org.host_settings.windows_32_bit_url class="form-control" id="windows_32_bit_url" placeholder="https://"}}
          </div>
        </div>
        <div class="form-group">
          <label for="blog_url" class="col-sm-3 control-label">{{t "Blog URL" key='blog_url'}}</label>
          <div class="col-sm-7">
            {{input value=model.org.host_settings.blog_url class="form-control" id="blog_url" placeholder="https://"}}
          </div>
        </div>
        <div class="form-group">
          <label for="twitter_url" class="col-sm-3 control-label">{{t "Twitter URL" key='twitter_url'}}</label>
          <div class="col-sm-7">
            {{input value=model.org.host_settings.twitter_url class="form-control" id="twitter_url" placeholder="https://"}}
          </div>
        </div>
        <div class="form-group">
          <label for="twitter_handle" class="col-sm-3 control-label">{{t "Twitter Handle" key='twitter_handle'}}</label>
          <div class="col-sm-7">
            {{input value=model.org.host_settings.twitter_handle class="form-control" id="twitter_handle" placeholder="don't include the @"}}
          </div>
        </div>
        <div class="form-group">
          <label for="facebook_url" class="col-sm-3 control-label">{{t "Facebook URL" key='facebook_url'}}</label>
          <div class="col-sm-7">
            {{input value=model.org.host_settings.facebook_url class="form-control" id="facebook_url" placeholder="https://"}}
          </div>
        </div>
        <div class="form-group">
          <label for="youtube_url" class="col-sm-3 control-label">{{t "YouTube URL" key='youtube_url'}}</label>
          <div class="col-sm-7">
            {{input value=model.org.host_settings.youtube_url class="form-control" id="youtube_url" placeholder="https://"}}
          </div>
        </div>
      {{/if}}
      <div class="form-group">
        <div class="col-sm-9 col-sm-offset-3">
          <button class='btn btn-primary' type='submit' disabled={{status.saving}}>
            {{#if status.saving}}
              {{t "Updating Organization..." key='updating_org'}}
            {{else}}
              {{t "Update Organization" key='update_org'}}
            {{/if}}
          </button>
          <button class='btn btn-default' {{action 'close'}}>{{t "Cancel" key='cancel'}}</button>
          {{#if error}}
            <p class='text-danger'>{{t "There was an unexpected error while updating the organization" key='error_updating_org'}}</p>
          {{/if}}
        </div>
      </div>
    </form>
  </div>
{{/modal-dialog}}
