{{#modal-dialog action="close" opening='opening' closing='closing'}}
  <div class="modal-header">
    <button type="button" class="close" {{action 'close'}}>&times;</button>
    <h3>
      {{t "Edit Board Details" key='edit_board_details'}}
    </h3>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" {{action "saveProfile" on="submit"}}>
      <div class="form-group">
        <label for="name" class="col-sm-3 control-label">{{t "Name" key='name'}}</label>
        <div class="col-sm-7">
          {{input value=model.name class="form-control" id="name" placeholder="Board Name"}}
        </div>
      </div>
      <div class="form-group">
        <label for="decription" class="col-sm-3 control-label">{{t "Description" key='description'}}</label>
        <div class="col-sm-7">
          <!-- TODO: placeholder i18n magic for textarea too -->
          {{textarea value=model.description class="form-control" id="decription" placeholder="Details about this board"}}
        </div>
      </div>
      <div class="form-group">
        <label for="image_url" class="col-sm-3 control-label">{{t "Icon" key='icon'}}</label>
        <div class="col-sm-7">
          {{input value=model.image_url class="form-control" id="image_url" placeholder="URL or pick from the list"}}
          <div style="margin-top: 12px; float: left; height: 42px; width: 42px; border: 1px solid #ccc; overflow: hidden;">
            {{#if model.image_url}}
              <img src={{model.image_url}} {{action "pickImageUrl" model.image_url}} style="width: 40px; height: 40px;" alt="current image"/>
            {{/if}}
          </div>
          <div class="icon_urls">
            {{#each iconUrls as |icon|}}
              <img src={{icon.url}} {{action "pickImageUrl" icon.url}} alt={{icon.alt}} />
            {{/each}}
          </div>
          <div style="clear: left;"></div>
        </div>
      </div>
      <div class="form-group">
        <label for="license" class="col-sm-3 control-label">{{t "License" key='license'}}</label>
        <div class="col-sm-7">
          {{bound-select select_class="form-control" select_id="license" content=licenseOptions selection=model.license.type action=(action (mut model.license.type)) }}
        </div>
      </div>
      {{#if attributable_license_type}}
        <div class="form-group">
          <label for="author" class="col-sm-3 control-label">{{t "Author" key='author'}}</label>
          <div class="col-sm-4">
            {{input value=model.license.author_name class="form-control" id="author" placeholder="Name"}}
          </div>
          <div class="col-sm-5">
            {{input value=model.license.author_url class="form-control" title="Author URL" placeholder="Author URL"}}
          </div>
        </div>
      {{/if}}
      <div class="form-group">
        <label for="locale" class="col-sm-3 control-label">{{t "Language" key='locale'}}</label>
        <div class="col-sm-9">
          {{bound-select select_class="form-control" select_id="locale" content=locales selection=model.locale action=(action (mut model.locale)) }}
        </div>
      </div>
      <div class="form-group">
        <label for="suggestions" class="col-sm-3 control-label">{{t "Suggestions" key='word_suggestions'}}</label>
        <div class="col-sm-9">
          <div class="checkbox big_checkbox">
            <label>
              {{input type="checkbox" checked=model.word_suggestions}}
              {{t "Show word completion suggestions" key='show_word_suggestions'}}
            </label>
          </div>
          <em style="padding-left: 20px;">{{t "(helpful for keyboard-style boards)" key='helpful_for_keyboard_boards'}}</em>
        </div>
      </div>
      <div class="form-group">
        <label for="home_board" class="col-sm-3 control-label">{{t "Home Board" key='home_board'}}</label>
        <div class="col-sm-9">
          <div class= big_checkbox>
            <label>
              {{input type="checkbox" checked=model.home_board}}
              {{t "This board can be used as a home board" key='is_home_board'}}
            </label>
          </div>
        </div>
      </div>
      {{#if model.home_board}}
      <div class="form-group">
        <div class="col-sm-9 col-sm-offset-3">
          {{t "Select any categories that this home board may fit well into." key='select_categories'}}
          {{#each board_categories as |category|}}
            <label>
              {{input type='checkbox' checked=category.selected}}
              {{category.name}}
            </label><br/>
          {{/each}}
        </div>
      </div>
      {{/if}}
      <div class="form-group">
        <label for="public" class="col-sm-3 control-label">{{t "Visibility" key='visibility'}}</label>
        <div class="col-sm-9">
          {{#if model.no_sharing}}
            <em class='form-control-static'>{{t "Boards with protected content can't be made public" key='protected_boards_no_public'}}</em>
          {{else}}
            {{bound-select select_class="form-control" select_id="license" content=public_options selection=model.visibility action=(action (mut model.visibility)) }}
            {{#unless model.visibility_setting.private}}
              {{#if model.protected_material}}
                <em>{{t "NOTE: Users who do not have access to premium content on this board will see free alternatives instead, which may not exactly match the author's intent." key='premium_public_fallbacks_warning'}}</em>
              {{/if}}
            {{/unless}}
          {{/if}}
        </div>
      </div>
      {{#if model.home_board}}
        {{#if app_state.feature_flags.find_multiple_buttons}}
          <div class="form-group">
            <label for="board_intro" class="col-sm-3 control-label">{{t "Board Intro" key='board_intro'}}</label>
            {{#unless model.intro.sections}}
              <div class="col-sm-9" style='margin-bottom: 10px;'>
                <em class='form-control-static'>{{t "You can build a short lesson that people will walk through when they choose this board set, including explanations and practice phrases for them to find using the board set." key='board_intro_explainer'}}</em>
              </div>
            {{/unless}}
            {{#each model.intro.sections as |section index|}}
              <div class={{if index 'col-sm-7 col-sm-offset-3' 'col-sm-7'}}>
                {{textarea value=section.description class="form-control" placeholder="Explanation, notes, etc."}}
                <div style='margin-top: 3px; margin-bottom: 15px;'>
                  {{input type='text' value=section.prompt class='form-control' placeholder="optional button sequence to find"}}
                </div>
              </div>
              <div class='col-sm-2'>
                <button class='btn btn-default' {{action 'delete_board_intro_section' section}}><span class='glyphicon glyphicon-remove'></span></button>
              </div>
            {{/each}}
            <div class='col-sm-9 col-sm-offset-3'>
              <button class='btn btn-default' {{action 'add_board_intro_section'}}>{{t "Add Intro Section" key='add_intro_section'}}</button>
            </div>
          </div>
        {{/if}}
      {{/if}}
    </form>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" {{action 'close'}}>{{t "Close" key='close'}}</a>
  </div>
{{/modal-dialog}}
