{{#modal-dialog action="close" opening='opening' closing='closing'}}
  <div class="modal-header">
    <button type="button" class="close" {{action 'close'}}>&times;</button>
    <h3>{{t "Logging is Enabled" key='enable_logging'}}</h3>
  </div>
  <div class="modal-body">
    <!-- details about trends page added April 18, 2018 -->
    <!-- details about anonymized research being made public added January 13, 2021 -->
    <p><strong>{{t "Please make sure the communicator understands why you are logging their communication, and get their permission before proceeding." key='check_logging_with_user_first'}}</strong></p>
    <p>{{t "When you enable logging, additional usage information including buttons pressed, time of day, hardware characteristics like screen size and orientation are all <b>collected and stored in the cloud on your behalf</b>. Some of these reports use Google Charts to render anonymized information like buttons pressed per day and parts of speech frequency by type. This data is used to generate reports to help the support team track progress and set effective goals, and can be disabled at any time." key='logging_1'}}</p>
    <p>{{t "To help support improvements through research in AAC, %app_name% uses <b>anonymized summaries of all logged usage information to share general trends with the community</b>. This includes summary data like most common core words, total session time and typical frequency of modeling. %app_name% also collaborates with research organizations by providing anonymized communication information from %app_name% users who have enabled anonymous research support. User profiles and identifiable information are not shared, but <b>the anonymized data may be published publicly</b>, and if you're not comfortable sharing this user's AAC communication with public researchers, you can opt out here or on the user's preferences page. Note that inactive users who have opted in will not be deleted from our system for an extended period of time, to continue to provide support to researchers." key='logging_2'}}</p>
    <p>{{t "Additionally, if you'd like, %app_name% can track GPS data to provide better insights into how user communication changes based on location. All logging data can be manually cleared from the system from a user's Preferences page. If you would like to opt-out of aggregate data collection or disable %app_name% administrators from seeing your logs while troubleshooting you can choose \"Completely Restrict Log Access\" on the user's Preferences" key='logging_3'}}</p>
    <div style='margin-top: 20px;'>
      <label style='padding: 10px 0; font-size: 16px;'>
        {{input type='checkbox' checked=research}}
        <span style='padding-left: 5px;'>{{t "Share anonymized usage data with researchers and the community" key='allow_research'}}</span>
      </label>
      {{#if research}}
        <label style='padding: 10px 0; font-size: 16px;'>
          {{input type='checkbox' checked=publishing}}
          <span style='padding-left: 5px;'>{{t "Allow anonymized logs to be included in public data sets for automated research and analysis" key='allow_publishing'}}</span>
        </label>
      {{/if}}
      <label style='padding: 10px 0; font-size: 16px;'>
        {{input type='checkbox' checked=model.user.preferences.geo_logging}}
        <span style='padding-left: 5px;'>{{t "Include geolocation in logs" key='include_geolocation'}}</span>
      </label>
    </div>
  </div>
  <div class="modal-footer">
    <button class='btn btn-default' {{action "close" }}>{{t "Close" key='close'}}</button>
  </div>
{{/modal-dialog}}
