{{#modal-dialog action="close" opening='opening' closing='closing'}}
  <div class="modal-header">
    <button type="button" class="close" {{action 'close'}}>&times;</button>
    <h3>{{t "Logging is Enabled" key='enable_logging'}}</h3>
  </div>
  <div class="modal-body">
    <p><strong>{{t "Please make sure the communicator understands why you are logging their communication, and get their permission before proceeding." key='check_logging_with_user_first'}}</strong></p>
    <p>{{t "To help support improvements through research in AAC, CoughDrop collaborates with research organizations by providing anonymized communication information from CoughDrop users who have enabled logging. User profiles and identifiable information is not shared, but if you're still not comfortable sharing this user's AAC communication with researchers, you can opt out here or on the user's preferences page." key='logging_2'}}</p>
    <p>{{t "Additionally, if you'd like, CoughDrop can track GPS data to provide better insights into how user communication changes based on location." key='logging_3'}}</p>
    <div style='margin-top: 20px;'>
      <label style='padding: 10px 0; font-size: 16px;'>
        {{input type='checkbox' checked=research}}
        <span style='padding-left: 5px;'>{{t "Share anonymized usage data with researchers" key='allow_research'}}</span>
      </label>
      <label style='padding: 10px 0; font-size: 16px;'>
        {{input type='checkbox' checked=model.user.preferences.geo_logging}}
        <span style='padding-left: 5px;'>{{t "Include geolocation in logs" key='include_geolocation'}}</span>
      </label>
    </div>
  </div>
  <div class="modal-footer">
    <button class='btn btn-default' {{action "close" }}>{{t "Close" key='close'}}</button>
  </div>
{{/modal-dialog}}
