<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2>{{t "Inflections Review Tool" key='inflections_review_tool'}}</h2>
    <p>{{t "CoughDrop is an open source tool that supports multiple languages and interactions. This Inflections Review Tool allows us to collect information from multiple sources as we build out language word lists. Having accurate information on word forms helps us better support our communities. <b>Remember</b>, all information collected by this tool will be released for free online with an open license for others to use and benefit from." key='inflections_tool_explainer'}}</p>
    <p>{{t "TIPS: Some words have multiple types. Some alternate types are so obscure that they're not really worth including, think about what an average speaker might say. If the word is alreeady inflected (\"looking\") make sure to enter its root (\"look\") in the first box. Some inflections for certain verbs/adverbs don't make sense, please put \"N/A\" in the box. For opposites, just do the most obvious if any. If you're unsure about a word, don't be afraid to skip it!" key='inflections_tips'}}</p>
  </div>
  <div class='col-sm-8 col-sm-offset-2' style='margin-top: 50px;'>
    {{#if word.loading}}
      <p>{{t "Loading next word..." key='loading_next_word'}}</p>
    {{else if word.error}}
      <p>{{t "There was an error loading words" key='error_loading_words'}}</p>
    {{else if word}}
      
      <form class="form-horizontal" {{action "save" on="submit"}}>
        <div class='form-group'>
          <div class='col-sm-9 col-sm-offset-3'>
            <h3>{{word.word}} - {{word.locale}}</h3>
            <div>
              <a href={{lookup_link}} target='_blank'>look up definition</a>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="type" class="col-sm-3 control-label">{{t "Word Type" key='word_type'}}</label>
          <div class="col-sm-8">
            <div style={{word_type_style}}>
              <div style='max-width: 400px;'>
                {{bound-select select_class="form-control" select_id="type" content=word_types selection=word.primary_part_of_speech action=(action (mut word.primary_part_of_speech)) }}
              </div>
              <em class='text-muted'>{{t "If the word matches more than one type, use the most common" key='use_most_common_type'}}</em>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="parts_of_speech" class="col-sm-3 control-label">{{t "All Word Types" key='all_word_types'}}</label>
          <div class="col-sm-8">
            <ul class='list-group'>
              {{#each word_types as |type|}}
                {{#if type.id}}
                  <li class='list-group-item' style={{type.style}}>
                    <label>{{input type='checkbox' checked=type.checked}} {{type.name}}</label>
                  </li>
                {{/if}}
              {{/each}}
            </ul>
          </div>
        </div>
        {{#if parts_of_speech.noun}}
          <div class="form-group">
            <label for="base" class="col-sm-3 control-label">{{t "Root Noun" key='base'}}</label>
            <div class="col-sm-7">
              {{input value=inflection_options.base class="form-control" id="base" placeholder="root word"}}
              <em class='text-muted'>{{t "I would like to own a <b>%{word}</b>." word=inflection_options.base key='base_noun_example'}}</em>
            </div>
          </div>
        {{else if parts_of_speech.adjective}}
          <div class="form-group">
            <label for="base" class="col-sm-3 control-label">{{t "Root Adjective" key='root_adjective'}}</label>
            <div class="col-sm-7">
              {{input value=inflection_options.base class="form-control" id="base" placeholder="root word"}}
              <em class='text-muted'>{{t "That looks very <b>%{word}</b> to me." word=inflection_options.base key='base_adjective_example'}}</em>
            </div>
          </div>
        {{else if parts_of_speech.adverb}}
          <div class="form-group">
            <label for="base" class="col-sm-3 control-label">{{t "Root Adverb" key='root_adverb'}}</label>
            <div class="col-sm-7">
              {{input value=inflection_options.base class="form-control" id="base" placeholder="root word"}}
              <em class='text-muted'>{{t "He stood there <b>%{word}</b> waiting." word=inflection_options.base key='base_adverb_example'}}</em>
            </div>
          </div>
        {{else if parts_of_speech.verb}}
          <div class="form-group">
            <label for="base" class="col-sm-3 control-label">{{t "Root Verb" key='root_verb'}}</label>
            <div class="col-sm-7">
              {{input value=inflection_options.base class="form-control" id="base" placeholder="root word"}}
              <em class='text-muted'>{{t "I <b>%{word}</b> in the face of danger!" word=inflection_options.base key='base_verb_example'}}</em>
            </div>
          </div>
        {{else if parts_of_speech.pronoun}}
          <div class="form-group">
            <label for="base" class="col-sm-3 control-label">{{t "Root Pronoun" key='root_pronoun'}}</label>
            <div class="col-sm-7">
              {{input value=inflection_options.base class="form-control" id="base" placeholder="root"}}
              <em class='text-muted'>{{t "That is not what <b>%{word}</b> said." word=inflection_options.base key='base_pronoun_example'}}</em>
            </div>
          </div>
        {{else}}
          <div class="form-group">
            <label for="inflections" class="col-sm-3 control-label">{{t "Inflections" key='inflections'}}</label>
            <div class="col-sm-7">
              <p class='form-control-static'>
                {{t "No inflections expected for words of type" key='no_inflections_for_words_of'}}
                <b>{{word.primary_part_of_speech}}</b>
              </p>
            </div>
          </div>
        {{/if}}
        {{#if parts_of_speech.noun}}
          <div class="form-group">
            <label for="plural" class="col-sm-3 control-label">{{t "Plural" key='plural'}}</label>
            <div class="col-sm-7">
              {{input value=inflection_options.plural class="form-control" id="plural" placeholder="plural"}}
              <em class='text-muted'>{{t "Can I have two <b>%{word}</b>, please?" word=inflection_options.plural key='plural_noun_example'}}</em>
            </div>
          </div>
          <div class="form-group">
            <label for="possessive" class="col-sm-3 control-label">{{t "Possessive" key='possessive'}}</label>
            <div class="col-sm-7">
              {{input value=inflection_options.possessive class="form-control" id="possessive" placeholder="possessive"}}
              <em class='text-muted'>{{t "The <b>%{word}</b> age is starting to show." word=inflection_options.possessive key='possessive_noun_example'}}</em>
            </div>
          </div>
        {{/if}}
        {{#if parts_of_speech.adjective}}
          <div class="form-group">
            <label for="comparative" class="col-sm-3 control-label">{{t "Comparative" key='comparative'}}</label>
            <div class="col-sm-7">
              {{input value=inflection_options.comparative class="form-control" id="comparative" placeholder="comparative"}}
              <em class='text-muted'>{{t "Yours is much <b>%{word}</b> than mine." word=inflection_options.comparative key='comparative_adjective_example'}}</em>
            </div>
          </div>
          <div class="form-group">
            <label for="superlative" class="col-sm-3 control-label">{{t "Superlative" key='superlative'}}</label>
            <div class="col-sm-7">
              {{input value=inflection_options.superlative class="form-control" id="superlative" placeholder="superlative"}}
              <em class='text-muted'>{{t "His is <b>%{word}</b> of all!" word=inflection_options.superlative key='superlative_adjective_example'}}</em>
            </div>
          </div>
          <div class="form-group">
            <label for="negative_comparative" class="col-sm-3 control-label">{{t "Negative Comparative" key='negative_comparative'}}</label>
            <div class="col-sm-7">
              {{input value=inflection_options.negative_comparative class="form-control" id="negative_comparative" placeholder="negative_comparative"}}
              <em class='text-muted'>{{t "Oh well, mine is <b>%{word}</b> than I hoped it would be." word=inflection_options.negative_comparative key='negative_comparative_adjective_example'}}</em>
            </div>
          </div>
          <div class="form-group">
            <label for="plural_adj" class="col-sm-3 control-label">{{t "Plural" key='plural'}}</label>
            <div class="col-sm-7">
              {{input value=inflection_options.plural class="form-control" id="plural_adj" placeholder="plural"}}
              <em class='text-muted'>{{t "I like how the <b>%{word}</b> stand out in that picture." word=inflection_options.plural key='plural_adjective_example'}}</em>
            </div>
          </div>
        {{/if}}
        {{#if parts_of_speech.adverb}}
          <div class="form-group">
            <label for="comparative_adv" class="col-sm-3 control-label">{{t "Comparative" key='comparative'}}</label>
            <div class="col-sm-7">
              {{input value=inflection_options.comparative class="form-control" id="comparative_adv" placeholder="comparative"}}
              <em class='text-muted'>{{t "She waved her arms <b>%{word}</b> than last time." word=inflection_options.comparative key='comparative_adverb_example'}}</em>
            </div>
          </div>
          <div class="form-group">
            <label for="superlative_adv" class="col-sm-3 control-label">{{t "Superlative" key='superlative'}}</label>
            <div class="col-sm-7">
              {{input value=inflection_options.superlative class="form-control" id="superlative_adv" placeholder="superlative"}}
              <em class='text-muted'>{{t "They looked up <b>%{word}</b>." word=inflection_options.superlative key='superlative_adverb_example'}}</em>
            </div>
          </div>
          <div class="form-group">
            <label for="negative_comparative_adv" class="col-sm-3 control-label">{{t "Negative Comparative" key='negative_comparative'}}</label>
            <div class="col-sm-7">
              {{input value=inflection_options.negative_comparative class="form-control" id="negative_comparative_adv" placeholder="negative_comparative"}}
              <em class='text-muted'>{{t "The ball rolled <b>%{word}</b> today than yesterday." word=inflection_options.negative_comparative key='negative_comparative_adverb_example'}}</em>
            </div>
          </div>
        {{/if}}
        {{#if parts_of_speech.verb}}
          <div class="form-group">
            <label for="infinitive" class="col-sm-3 control-label">{{t "Infinitive" key='infinitive'}}</label>
            <div class="col-sm-7">
              {{input value=inflection_options.infinitive class="form-control" id="infinitive" placeholder="infinitive"}}
              <em class='text-muted'>{{t "I do not want <b>%{word}</b> until next week." word=inflection_options.infinitive key='infinitive_verb_example'}}</em>
            </div>
          </div>
          <div class="form-group">
            <label for="present" class="col-sm-3 control-label">{{t "Personal Present" key='present'}}</label>
            <div class="col-sm-7">
              {{input value=inflection_options.present class="form-control" id="present" placeholder="present"}}
              <em class='text-muted'>{{t "Next time I <b>%{word}</b> I will include you." word=inflection_options.present key='present_verb_example'}}</em>
            </div>
          </div>
          <div class="form-group">
            <label for="simple_present" class="col-sm-3 control-label">{{t "Simple Present" key='simple_present'}}</label>
            <div class="col-sm-7">
              {{input value=inflection_options.simple_present class="form-control" id="simple_present" placeholder="simple_present"}}
              <em class='text-muted'>{{t "I think he <b>%{word}</b> a little too often." word=inflection_options.simple_present key='simple_present_verb_example'}}</em>
            </div>
          </div>
          <div class="form-group">
            <label for="plural_present" class="col-sm-3 control-label">{{t "Plural Present" key='plural_present'}}</label>
            <div class="col-sm-7">
              {{input value=inflection_options.plural_present class="form-control" id="plural_present" placeholder="plural_present"}}
              <em class='text-muted'>{{t "They <b>%{word}</b> when they should be doing something else." word=inflection_options.plural_present key='plural_present_verb_example'}}</em>
            </div>
          </div>
          <div class="form-group">
            <label for="past" class="col-sm-3 control-label">{{t "Personal Past" key='past'}}</label>
            <div class="col-sm-7">
              {{input value=inflection_options.past class="form-control" id="past" placeholder="past"}}
              <em class='text-muted'>{{t "I can't remember when I last <b>%{word}</b> like that." word=inflection_options.past key='past_verb_example'}}</em>
            </div>
          </div>
          <div class="form-group">
            <label for="simple_past" class="col-sm-3 control-label">{{t "Simple Past" key='simple_past'}}</label>
            <div class="col-sm-7">
              {{input value=inflection_options.simple_past class="form-control" id="simple_past" placeholder="simple_past"}}
              <em class='text-muted'>{{t "Yesterday they <b>%{word}</b> before lunch." word=inflection_options.simple_past key='simple_past_verb_example'}}</em>
            </div>
          </div>
          <div class="form-group">
            <label for="present_participle" class="col-sm-3 control-label">{{t "Present Participle" key='present_participle'}}</label>
            <div class="col-sm-7">
              {{input value=inflection_options.present_participle class="form-control" id="present_participle" placeholder="present_participle"}}
              <em class='text-muted'>{{t "I plan on <b>%{word}</b> after I finish this sandwich." word=inflection_options.present_participle key='present_participle_verb_example'}}</em>
            </div>
          </div>
          <div class="form-group">
            <label for="past_participle" class="col-sm-3 control-label">{{t "Past Participle" key='past_participle'}}</label>
            <div class="col-sm-7">
              {{input value=inflection_options.past_participle class="form-control" id="past_participle" placeholder="past_participle"}}
              <em class='text-muted'>{{t "She has <b>%{word}</b> several times already." word=inflection_options.past_participle key='past_participle_verb_example'}}</em>
            </div>
          </div>
        {{/if}}
        {{#if parts_of_speech.pronoun}}
          <div class="form-group">
            <label for="subjective" class="col-sm-3 control-label">{{t "Subjective" key='subjective'}}</label>
            <div class="col-sm-7">
              {{input value=inflection_options.base class="form-control" id="subjective" placeholder="subjective"}}
              <em class='text-muted'>{{t "Why did <b>%{word}</b> eat so many of those?" word=inflection_options.base key='subjective_pronoun_example'}}</em>
            </div>
          </div>
          <div class="form-group">
            <label for="objective" class="col-sm-3 control-label">{{t "Objective" key='objective'}}</label>
            <div class="col-sm-7">
              {{input value=inflection_options.objective class="form-control" id="objective" placeholder="objective"}}
              <em class='text-muted'>{{t "Someone should probably talk to <b>%{word}</b>." word=inflection_options.objective key='objective_pronoun_example'}}</em>
            </div>
          </div>
          <div class="form-group">
            <label for="possessive" class="col-sm-3 control-label">{{t "Possessive" key='possessive'}}</label>
            <div class="col-sm-7">
              {{input value=inflection_options.possessive class="form-control" id="possessive" placeholder="possessive"}}
              <em class='text-muted'>{{t "Are you sure that monkey isn't <b>%{word}</b>?" word=inflection_options.possessive key='possessive_pronoun_example'}}</em>
            </div>
          </div>
          <div class="form-group">
            <label for="possessive_adjective" class="col-sm-3 control-label">{{t "Possessive Adj." key='possessive_adjective'}}</label>
            <div class="col-sm-7">
              {{input value=inflection_options.possessive_adjective class="form-control" id="possessive_adjective" placeholder="possessive_adjective"}}
              <em class='text-muted'>{{t "That sounds like one of <b>%{word}</b> songs." word=inflection_options.possessive_adjective key='possessive_adjective_pronoun_example'}}</em>
            </div>
          </div>
          <div class="form-group">
            <label for="reflexive" class="col-sm-3 control-label">{{t "Reflexive" key='reflexive'}}</label>
            <div class="col-sm-7">
              {{input value=inflection_options.reflexive class="form-control" id="reflexive" placeholder="reflexive"}}
              <em class='text-muted'>{{t "Wow, %{word_base} solved the maze all by <b>%{word}</b>!" word_base=inflection_options.base word=inflection_options.reflexive key='reflexive_pronoun_example'}}</em>
            </div>
          </div>
          <!-- TODO: relative/demonstrative pronouns, https://owl.excelsior.edu/grammar-essentials/parts-of-speech/pronouns/relative-and-demonstrative-pronouns/ -->
          <!-- TODO: indefinite pronouns, https://owl.excelsior.edu/grammar-essentials/parts-of-speech/pronouns/definite-and-indefinite-pronouns/ -->
        {{/if}}
        {{#if parts_of_speech.oppositable}}
          <div class="form-group">
            <label for="antonyms" class="col-sm-3 control-label">{{t "Opposite(s)" key='opposites'}}</label>
            <div class="col-sm-7">
              {{input value=antonyms class="form-control" id="antonyms" placeholder="comma, for, multiple"}}
            </div>
          </div>
        {{/if}}
        {{#each extra_inflections as |extra|}}
          <div class="form-group">
            <div class="col-sm-3">
              {{input value=extra.type class="form-control" placeholder="N, S, E, W, etc."}}
            </div>
            <div class="col-sm-7">
              {{input value=extra.value class="form-control" placeholder="inflection"}}
            </div>
          </div>
        {{/each}}
        <div class="form-group">
          <div class="col-sm-9 col-sm-offset-3">
            <button class='btn btn-default' {{action 'add_extra'}}>{{t "Add Other Inflection" key='add_other_inflection'}}</button>
          </div>
        </div>
        <div class="form-group">
          <label for="type" class="col-sm-3 control-label">{{t "Word Type" key='word_type'}}</label>
          <div class="col-sm-7">
            <div style={{word_type_style}}>
              most common: 
              <span style='font-size: 20px; font-weight: bold;'>
                {{word.primary_part_of_speech}}
              </span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-9 col-sm-offset-3">
            <button class='btn btn-primary' type='submit' disabled={{status.saving}}>
              {{#if status.saving}}
                {{t "Updating Word..." key='updating_word'}}
              {{else}}
                {{t "Confirm Inflections" key='confirm_inflections'}}
              {{/if}}
            </button>
            <button type='button' class='btn btn-default' {{action 'skip'}}>{{t "Skip" key='skip'}}</button>
            {{#if status.error}}
              <p class='text-danger'>{{t "There was an unexpected error while updating the word" key='error_updating_word'}}</p>
            {{/if}}
          </div>
        </div>
        
      </form>
    {{else}}
      <p>{{t "No words found for review, please check back again later!" key='no_words_for_now'}}</p>
    {{/if}}
  </div>
</div>
