<div style='position: fixed; z-index: 3; top: 0; left: 0; right: 0; bottom: 0; background: #fff;'>
  <div style='position: fixed; top: 0; left: 0; right: 0; height: 70px; background: #000; color: #eee;'>
    <img src={{if app_state.domain_settings.logo_url app_state.domain_settings.logo_url (path 'images/logo-big.png')}} alt="CoughDrop"/ style='float: left; padding-right: 5px; margin-top: 10px;height: 50px; width: 50px; object-fit: contain;'>
    <h4 style='margin-top: 20px; margin-bottom: 0; white-space: nowrap; overflow: hidden; max-width: calc(50% - 150px);'>
      {{model.title}}
    </h4>
    <a href='#' {{action 'toggle_description'}} style='color: #ccc; display: inline-block; white-space: nowrap; max-width: calc(50% - 150px); min-width: 50px; overflow: hidden;'>
      {{#if model.time_estimate}}
        {{t "~%{n} mins - " n=model.time_estimate key='about_n_minutes'}}
      {{/if}}
      {{#if model.description}}
        {{model.description}}
      {{else}}
        {{t "please review the material and then hit \"Finished Lesson\"" key='review_material'}}
      {{/if}}
    </a>
    <div style='width: 200px; text-align: center; position: absolute; top: 14px; left: calc(50% - 100px);'>
      <button class='btn btn-default btn-lg' {{action 'done'}}>
        {{#if model.user.avatar_url}}
          <img src={{model.user.avatar_url}} style='width: 30px; height: 30px; object-fit: contain;' />
        {{/if}}
        {{t "Finished Lesson" key='finished_lesson'}}
      </button>
    </div>
    {{#if player.duration}}
      {{#if player.time}}
        <div style='width: 200px; text-align: left; margin-left: 10px; position: absolute; top: 28px; left: calc(50% + 100px);'>
          {{duration player.time}} / {{duration player.duration}}
        </div>
      {{/if}}
    {{/if}}

    <div style='position: absolute; right: 10px; top: 20px;'>
      <button {{action 'new_window'}} class='btn btn-default' style='background: #444; color: #fff; border-color: #aaa;'>{{t "Open in New Window" key='open_in_new_window'}}</button>
    </div>
  </div>
  <iframe id='lesson_embed' src={{model.url}} frameborder='0' style='position: fixed; width: 100%; height: calc(100% - 70px); top: 70px; bottom: 0; right: 0; lefT: 0; background: #fff;'></iframe>
  {{#if show_description}}
    <div {{action 'toggle_description' on='click'}} style='position: fixed; left: 10px; top: 70px; background: #fff; min-height: 50px; width: 300px; border: 1px solid #000; border-top-width: 0; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; padding: 10px 10px 5px 10px; box-shadow: inset 0 7px 9px -7px #888, 3px 3px 15px #000;'>
      {{#if model.time_estimate}}
        <b>{{t "Complete in about %{n} minutes" n=model.time_estimate key='complete_in_n_minutes'}}</b><br/>
      {{/if}}
      {{#if model.description}}
        {{model.description}}
      {{else}}
        {{t "please review the material and then hit \"Finished Lesson\"" key='review_material'}}
      {{/if}}
    </div>
  {{/if}}
  {{#if show_rating}}
    <div style='position: fixed; left: calc(50% - 150px); top: 80px; background: #fff; min-height: 50px; width: 300px; border: 1px solid #000; border-radius: 5px; padding: 10px; box-shadow: 3px 3px 15px #000;'>
      <p>
        {{#if model.user}}
          <b>{{model.user.user_name}} - </b>
        {{/if}}
        {{t "Thank you for taking time to complete this lesson! Please rate your experience to mark the lesson as completed:" key='mark_complete'}}
      </p>
      {{#if finished_at}}
        <p><em>{{t "Last completed " key='last_completed'}} {{date_ago finished_at 'day'}}</em></p>
      {{/if}}
      <div style='margin-top: 15px;'>
        {{#if status.done}}
          <p>{{t "Lesson complete!" key='lesson_complete'}}</p>
        {{else}}
          {{#if status.error}}
            <p class='text-danger'>{{t "Error saving status" key='error_saving_status'}}</p>
          {{/if}}
          <button class="btn btn-default face_button" style='width: 90px;' {{action 'rate' 3}}>
            <span class="face laugh"></span>
            {{t "Useful &<br/>informative!" key='useful_and_informative'}}
          </button>
          <button class="btn btn-default face_button" style='width: 90px;' {{action 'rate' 2}}>
            <span class="face neutral"></span>
            {{t "It was<br/>okay" key='it_was_okay'}}
          </button>
          <button class="btn btn-default face_button" style='width: 90px;' {{action 'rate' 1}}>
            <span class="face sad"></span>
            {{t "Confusing/<br/>complicated" key='confusing_complicated'}}
          </button>
        {{/if}}
      </div>

    </div>
  {{/if}}
</div>