{{#modal-dialog action="close" opening='opening' closing='closing' uncloseable='true'}}
  <div class="modal-header">
    <button type="button" class="close" {{action 'close'}}>&times;</button>
    <h3>
      {{t "Premium Membership Required" key='premium_required'}}
    </h3>
  </div>
  <div class="modal-body">
    <span class="glyphicon glyphicon-info-sign" style="float: left; margin-right: 10px; font-size: 30px;"></span>
    {{#if model.remind_to_upgrade}}
      <p>
        {{#if model.limited_supervisor}}
          {{#if app_state.sessionUser.modeling_only}}
            {{t "This account is limited to modeling-only, and so will not have full access to this feature except when working with premium communicators." key='limited_modeling_only'}}
          {{else}}
            {{t "This account is not currently tied to any premium communicator accounts, and as a result will currently have limited access to this feature." key='limited_supervisor_limited_accesss'}}
          {{/if}}
          {{t "If you need personal access to this feature, please" key='please_subscribe_a1'}}
          {{#if app_state.sessionUser.modeling_only}}
            {{#link-to 'user.subscription' model.user_name}}{{t "purchase a premium supporter account" key='please_subscribe_a2'}}{{/link-to}}
          {{else}}
            {{#link-to 'user.subscription' model.user_name}}{{t "purchase a premium communicator account" key='please_subscribe_2'}}{{/link-to}}
          {{/if}}
          {{t "to support this good cause." key='please_subscribe_3'}}
        {{else}}
          {{t "This user's premium access has ended. %app_name% is a powerful service that helps many users communicate. Please " key='please_subscribe_1'}}
          {{#link-to 'user.subscription' model.user_name}}{{t "purchase a premium communicator account" key='please_subscribe_2'}}{{/link-to}}
          {{t "to support this good cause." key='please_subscribe_3'}}
        {{/if}}
      </p>
      {{#if model.user.limited_paid_supervisor}}
        <p>
          {{t "Are you a professional using %app_name% to do evals for your clients? We want you to be able to show your clients everything %app_name% can do! Please consider purchasing a discounted eval account to show off all of CoughDrop's features." key='update_to_eval_if_needed'}}
        </p>
      {{else}}
        <p>
          {{t "Therapists, parents and other supporting users can also sign up for a free modeling-only account used for supporting premium communicators. If you need help with your account, please don't hesitate to reach out to us." key='please_subscribe_4'}}
        </p>
      {{/if}}
    {{else}}
      <p>
        {{t "%app_name% is a powerful, flexible communication tool with lots of great features. Some features, including this one, are only available to users who have a paid communicator account. Please " key='purchase_subscription_1'}}
        {{#if model.user_name}}
          {{#link-to 'user.subscription' model.user_name}}{{t "purchase a premium account" key='purchase_subscription_2'}}{{/link-to}}
        {{else}}
          {{t "purchase a premium account" key='purchase_subscription_2'}}
        {{/if}}
        {{t "to support this good cause and to unlock this feature." key='purchase_subscription_3'}}
      </p>
      <p>
        {{t "Therapists, parents and other supporting users can also sign up for a free modeling-only account used for supporting communicators." key='purchase_subscription_4'}}
      </p>
    {{/if}}
    <div style="clear: left;"></div>
  </div>
  <div class="modal-footer">
    {{#if model.remind_to_upgrade}}
      <a href="#" class="btn btn-default btn-lg" {{action 'close'}}>{{t "Okay" key='okay'}}</a>
    {{else}}
      <a href="#" class="btn btn-default btn-lg" {{action 'close'}}>{{t "Close" key='close'}}</a>
    {{/if}}
    {{#link-to 'user.subscription' model.user_name class='btn btn-lg btn-primary'}}{{t "Update Account Settings" key='update_my_subscription'}}{{/link-to}}
  </div>
{{/modal-dialog}}
