<div class='row' id="setup_container" style={{if no_scroll 'margin-bottom: 0;'}}>
  <a class={{if reading 'btn btn-lg btn-success throb' 'btn btn-lg btn-default'}} {{action 'toggle_speaking'}} href="#" style='position: absolute; top: 5px; right: 5px;'>
    {{#if reading}}
      <span class='glyphicon glyphicon-volume-off'></span>
      <span class='sr-only'>{{t "Stop Reading This Step" key='stop_reading_this_step'}}</span>
    {{else}}
      <span class='glyphicon glyphicon-volume-up'></span>
      <span class='sr-only'>{{t "Read This Step" key='read_this_step'}}</span>
    {{/if}}
  </a>
  {{partial partial}}
</div>
<div style='white-space: pre-wrap; display: none;'>
  additional preferences:
  - background color
  - button spacing
  - skip settings pages if not logged in
</div>
