{{#modal-dialog action="close" opening='opening' closing='closing' desired_width=900}}
  <div class="modal-header" style='padding: 5px 10px;'>
    <button type="button" class="close" {{action 'close'}}>&times;</button>
    <h3>{{t "Share Text" key='share_text'}}</h3>
  </div>
  <div class="modal-body">
    <p>"<span style='font-size: 20px; display: inline-block; max-width: 90%; overflow: hidden; text-overflow: ellipsis; vertical-align: middle; white-space: nowrap;'>{{sentence}}</span>"</p>
    <div style='position: absolute; left: -1000px;'>{{input type='text' value=sentence id='utterance_sentence'}}</div>
    <div class="row share_buttons modal_targets advanced_selection" style="margin: 10px 0;">
      {{#unless app_state.sessionUser.expired_or_limited_supervisor}}
        {{#each contacts as |sup|}}
          <div class='col-sm-2 col-xs-4'>
            <button class='btn btn-default' {{action 'message' sup}}>
              {{#if sup.reply}}
                <span id='reply_icon' class='label-info' style='position: absolute; top: 3px; left: 18px;'><span class='glyphicon glyphicon-envelope' style='font-size: 14px;'></span></span>
              {{/if}}
              <img src={{sup.avatar_url}} />
              {{sup.user_name}}
            </button>
          </div>
        {{/each}}
      {{else}}
        <p class='text-muted'>{{t "In addition to sharing using the device's build-in tools, %app_name% can be set up for two-way text or email to custom contacts and supervisors. Please consider purchasing %app_name% to gain access to this feature." key='consider_buying_for_contacts'}}</p>
      {{/unless}}
      <div style='clear: both; border-top: 2px solid #ccc; margin: 10px 0;'></div>
      {{#if shares.clipboard}}
      <div class='col-md-2 col-sm-3 col-xs-4'>
        <button class={{clipboard_class}} {{action 'share_via' 'clipboard'}}>
          <span class="glyphicon glyphicon-copy"></span>
          {{t "Copy" key='copy'}}
        </button>
      </div>
      {{/if}}
      <div class='col-md-2 col-sm-3 col-xs-4'>
        <button class='btn btn-default' {{action 'share_via' 'big_text'}}>
          <span class="glyphicon glyphicon-modal-window"></span>
          {{t "Button" key='copy'}}
        </button>
      </div>
      {{#if shares.email}}
        <div class='col-md-2 col-sm-3 col-xs-4'>
          <button class='btn btn-default' {{action 'share_via' 'email'}}>
            <span class="glyphicon glyphicon-envelope"></span>
            {{t "Email" key='email'}}
          </button>
        </div>
      {{/if}}
      {{#if utterance_record.link}}
        <div class='col-md-2 col-sm-3 col-xs-4'>
          <a class='btn btn-default' {{action 'share_via' 'link'}} target='_blank'>
            <span class="glyphicon glyphicon-hand-up"></span>
            {{t "Link" key='link'}}
          </a>
        </div>
      {{/if}}
      {{#if shares.facebook}}
        <div class='col-md-2 col-sm-3 col-xs-4'>
          <button class='btn btn-default' {{action 'share_via' 'facebook'}}>
            <img src={{path 'images/logos/facebook.png'}} alt={{t "Share via Facebook" key='share_via_facebook'}} style='filter: grayscale(0.8);'/>
            {{t "Facebook" key='facebook'}}
          </button>
        </div>
      {{/if}}
      {{#if shares.twitter}}
        <div class='col-md-2 col-sm-3 col-xs-4'>
          <button class='btn btn-default' {{action 'share_via' 'twitter'}}>
            <img src={{path 'images/logos/twitter.png'}} alt={{t "Share via Twitter" key='share_via_twitter'}} style='filter: grayscale(0.8);' />
            {{t "Twitter" key='twitter'}}
          </button>
        </div>
      {{/if}}
      {{#if shares.instagram}}
        <div class='col-md-2 col-sm-3 col-xs-4'>
          <button class='btn btn-default' {{action 'share_via' 'instagram'}}>
            <img src={{path 'images/logos/instagram.png'}} alt={{t "Share via Instagram" key='share_via_instagram'}} style='filter: grayscale(0.8);' />
            {{t "Instagram" key='instagram'}}
          </button>
        </div>
      {{/if}}
      {{#if shares.generic}}
        <div class='col-md-2 col-sm-3 col-xs-4'>
          <button class='btn btn-default' {{action 'share_via' 'generic'}}>
            <span class="glyphicon glyphicon-share"></span>
            {{t "Other" key='other'}}
          </button>
        </div>
      {{/if}}
    </div>
    {{#if copy_result.succeeded}}
      <p class='text-success'>{{t "Text copied to the clipboard!" key='copied_to_clipboard'}}</p>
    {{else if copy_result.failed}}
      <p class='text-danger'>{{t "Copying to the clipboard failed." key='copy_failed'}}</p>
    {{/if}}
  </div>
{{/modal-dialog}}
