{{#modal-dialog action="close" opening='opening' closing='closing'}}
  <div class="modal-header">
    <button type="button" class="close" {{action 'close'}}>&times;</button>
    <h3>{{t "Switch Languages" key='switch_languages'}}
</h3>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" {{action "nothing" on="submit"}}>
      <div class="form-group">
        <div class="col-sm-8 col-sm-offset-4">
          <p class='form-control-static'>
            {{t "This board supports multiple languages. You can quickly switch between languages for both the text labels and the system-generated speech." key='select_a_language_for_switching'}}
          </p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label" for="translate_locale">
          {{#if same_locale}}
            {{t "Language" key='language'}}
          {{else}}
            {{t "Button Labels" key='labels'}}
          {{/if}}
        </label>
        <div class="col-sm-8">
          {{bound-select select_class="form-control" select_id="label_locale" content=locales selection=label_locale action=(action (mut label_locale)) }}
        </div>
      </div>
      <div class="form-group">
        <div class='col-sm-8 col-sm-offset-4'>
          <div class="checkbox">
            <label>
              {{input type="checkbox" checked=same_locale}}
              {{t "Use the same language for button labels and speech generation" key='use_same_language'}}
            </label>
          </div>
        </div>
      </div>
      {{#unless same_locale}}
        <div class="form-group">
          <label class="col-sm-4 control-label" for="translate_locale">
            {{t "Speech Generation" key='speech_generation'}}
          </label>
          <div class="col-sm-8">
            {{bound-select select_class="form-control" select_id="vocalization_locale" content=locales selection=vocalization_locale action=(action (mut vocalization_locale)) }}
          </div>
        </div>
      {{/unless}}
    </form>
  </div>
  <div class="modal-footer">
    <button class='btn btn-primary' {{action 'set_languages'}}>{{t "Switch Languages" key='switch_languages'}}</button>
    <a href="#" class="btn btn-default" {{action 'close'}}>{{t "Cancel" key='cancel'}}</a>
  </div>
{{/modal-dialog}}
