<!-- 
  TODO: 
  - List of core words with a slider showing what words X% of users have access to
  - List of words sorted by difficulty of access (travel) (prolly needs to factor in frequency of use since if I go to sticky sub-board and hit two buttons, the second will have minimal travel)
-->
<div class='row'>
  <div class='col-sm-8 col-sm-offset-2'>
    <h2 style='margin-bottom: 30px;'>{{t "%app_name% Usage Trends" key='coughdrop_usage_trends'}}</h2>

    <p style='margin-bottom: 20px;'>{{t "Curious how %app_name% is being used? We have a large number of communicators using %app_name%, and thought it might help to see how those communicators are benefitting from our cloud-based, team-enabling AAC app. The following data is based on activity by active %app_name% users over the past few months." key='trends_explainer'}}</p>
    {{#if trends.loading}}
      {{t "Loading trends..." key='loading_trends'}}
    {{else if trends.error}}
      {{t "Error loading trends." key='error_loading_trends'}}
    {{else if trends}}
      <p><em style='font-weight: bold; font-size: 18px;'>{{t "Data for %{start} to %{end}" start=trends.started_at end=trends.ended_at key='data_for_start_to_end'}}</em></p>
      <div class="col-sm-3 col-xs-6" style={{elem_style}}>
        <div class="panel panel-default summary">
          <div class="panel-heading">
            {{t "Time Logged" key='total_session_time'}}
          </div>
          <div class="panel-body" style='font-size: 23px; padding: 9px 0;'>
            {{seconds_ago trends.total_session_seconds}}
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-xs-6">
        <div class="panel panel-default summary">
          <div class="panel-heading">
            {{t "Modeling Frequency" key='percent_modeling'}}
          </div>
          <div class="panel-body">
            {{trends.modeled_percent}}%
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-xs-6">
        <div class="panel panel-default summary">
          <div class="panel-heading">
            {{t "Core Buttons" key='core_buttons'}}
          </div>
          <div class="panel-body">
            {{trends.core_percent}}%
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-xs-6">
        <div class="panel panel-default summary">
          <div class="panel-heading">
            {{t "Avg. Words per Minute" key='words_per_minute'}}
          </div>
          <div class="panel-body">
            {{trends.words_per_minute}}
          </div>
        </div>
      </div>

      <div class="col-sm-3 col-xs-6">
        <div class="panel panel-default summary">
          <div class="panel-heading">
            {{t "Avg. Sessions per User" key='average_sessions_per_user'}}
          </div>
          <div class="panel-body">
            {{trends.sessions_per_user}}
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-xs-6">
        <div class="panel panel-default summary">
          <div class="panel-heading">
            {{t "Total Words" key='total_words'}}
          </div>
          <div class="panel-body">
            {{delimit trends.total_words}}
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-xs-6">
        <div class="panel panel-default summary">
          <div class="panel-heading">
            {{t "Auto-Home Enabled" key='auto_home_enabled'}}
          </div>
          <div class="panel-body">
            {{auto_home_pct}}%
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-xs-6">
        <div class="panel panel-default summary">
          <div class="panel-heading">
            {{t "Touch-Based Hits" key='touch-based hits'}}
          </div>
          <div class="panel-body">
            {{touch_pct}}%
          </div>
        </div>
      </div>

      {{#if trends.total_users}}
        {{#unless showing_private_info}}
          <div class='col-sm-12' style='margin-bottom: 5px; text-align: right;'>
            <a href="#" {{action 'show_private_info'}}>{{t "show internal metrics" key='show_internal_metrics'}}</a>
          </div>
        {{else}}
          <div class='col-sm-12'>
            <span class='label label-danger'>{{t "Not Public Information:" key='not_public_information'}}</span>
          </div>
          <div class="col-sm-3 col-xs-6" style={{elem_style}}>
            <div class="panel panel-default summary">
              <div class="panel-heading">
                {{t "Total Logged Users" key='total_logged_users'}}
              </div>
              <div class="panel-body">
                {{delimit trends.total_users}}
              </div>
            </div>
          </div>
          <div class="col-sm-3 col-xs-6">
            <div class="panel panel-default summary">
              <div class="panel-heading">
                {{t "Total Sessions" key='total_sessions'}}
              </div>
              <div class="panel-body">
                {{delimit trends.total_sessions}}
              </div>
            </div>
          </div>
          <div class="col-sm-3 col-xs-6">
            <div class="panel panel-default summary">
              <div class="panel-heading">
                {{t "Active Researchable" key='active_researchable'}}
              </div>
              <div class="panel-body">
                {{delimit trends.research_active_users}}
              </div>
            </div>
          </div>
        {{/unless}}
      {{/if}}

      <div class='col-sm-12' style='margin-bottom: 50px;'>
        <h4>{{t "Most-Common Words" key='most_common_words'}}</h4>
        {{stats/word-cloud stats=word_cloud_stats zoom=1}}
      </div>

      {{stats/core-usage trends=trends}}
      {{stats/modeling-frequency trends=trends}}

      <div class='col-sm-6' style='margin-bottom: 50px;'>
        <h4>{{t "Common Home Boards" key='common_home_boards'}}</h4>
        {{#if home_boards}}
          <div style='height: 300px; overflow: auto;'>
            <div class="list-group">
              {{#each home_boards as |board|}}
                {{#link-to 'board' board.key class='list-group-item'}}
                  {{board.key}}
                  {{#if showing_private_info}}
                    <span class='text-muted'>({{board.pct}}%)</span>
                  {{/if}}
                {{/link-to}}
              {{/each}}
            </div>
          </div>
        {{else}}
          {{t "None available" key='none_available'}}
        {{/if}}
      </div>

      {{#if showing_private_info}}
        <div class='col-sm-6' style='margin-bottom: 50px;'>
          <h4>{{t "Most-Commonly-Used Boards" key='most_common_boards'}}</h4>
          {{#if common_boards}}
            <div style='height: 300px; overflow: auto;'>
              <div class="list-group">
                {{#each common_boards as |board|}}
                  {{#link-to 'board' board.key class='list-group-item'}}
                    {{board.key}}
                    {{#if showing_private_info}}
                      <span class='text-muted'>({{delimit board.pct}})</span>
                    {{/if}}
                  {{/link-to}}
                {{/each}}
              </div>
            </div>
          {{else}}
            {{t "None available" key='none_available'}}
          {{/if}}
        </div>
      {{/if}}

      <div class='col-sm-6' style='margin-bottom: 50px;'>
        <h4>{{t "Hardware Device" key='hardware_device'}}</h4>
        {{#if systems}}
          <div style='height: 300px; overflow: auto;'>
            <div class="list-group">
              {{#each systems as |system|}}
                <span class='list-group-item'>
                  {{system.name}}
                  <span class='text-muted'>
                    {{#if showing_private_info}}
                      ({{delimit system.total}})
                    {{else}}
                      ({{system.percent}}%)
                    {{/if}}
                  </span>
                </span>
              {{/each}}
            </div>
          </div>
        {{else}}
          {{t "None available" key='none_available'}}
        {{/if}}
      </div>

      <div class='col-sm-6' style='margin-bottom: 50px;'>
        <h4>{{t "Access Method" key='access_method'}}</h4>
        {{#if access_methods}}
          <div style='height: 300px; overflow: auto;'>
            <div class="list-group">
              {{#each access_methods as |access|}}
                <span class='list-group-item'>
                  {{access.name}}
                  <span class='text-muted'>
                    {{#if showing_private_info}}
                      ({{delimit access.total}})
                    {{else}}
                      ({{access.percent}}%)
                    {{/if}}
                  </span>
                </span>
              {{/each}}
            </div>
          </div>
        {{else}}
          {{t "None available" key='none_available'}}
        {{/if}}
      </div>

      <div class='col-sm-6' style='margin-bottom: 50px;'>
        <h4>{{t "Board Languages" key='board_languages'}}</h4>
        {{#if locales}}
          <div style='height: 300px; overflow: auto;'>
            <div class="list-group">
              {{#each locales as |loc|}}
                <span class='list-group-item'>
                  {{loc.name}} <span class='text-muted'>{{loc.locale}}</span>
                  <span class='text-muted'>
                    {{#if showing_private_info}}
                      ({{delimit loc.total}})
                    {{else}}
                      ({{loc.percent}}%)
                    {{/if}}
                  </span>
                </span>
              {{/each}}
            </div>
          </div>
        {{else}}
          {{t "None available" key='none_available'}}
        {{/if}}
      </div>

      {{#if showing_private_info}}
        <div class='col-sm-6' style='margin-bottom: 50px;'>
          <h4>{{t "Voice Output" key='voice_output'}}</h4>
          {{#if voices}}
            <div style='height: 300px; overflow: auto;'>
              <div class="list-group">
                {{#each voices as |voice|}}
                  <span class='list-group-item'>
                    {{voice.name}}
                    <span class='text-muted'>
                      {{#if showing_private_info}}
                        ({{delimit voice.total}})
                      {{else}}
                        ({{voice.percent}}%)
                      {{/if}}
                    </span>
                  </span>
                {{/each}}
              </div>
            </div>
          {{else}}
            {{t "None available" key='none_available'}}
          {{/if}}
        </div>
      {{/if}}


      <div class='col-sm-6' style='margin-bottom: 50px;'>
        <h4>{{t "Button Hit Levels" key='button_hit-levels'}}</h4>
        {{#if depths}}
          <div style='height: 300px; overflow: auto;'>
            <div class="list-group">
              {{#each depths as |depth|}}
                <span class='list-group-item'>
                  {{t "button hit" count=depth.level key='n_button_hits'}}
                  <span class='text-muted'>
                    {{#if showing_private_info}}
                      ({{delimit depth.total}})
                    {{else}}
                      ({{depth.percent}}%)
                    {{/if}}
                  </span>
                </span>
              {{/each}}
            </div>
          </div>
        {{else}}
          {{t "None available" key='none_available'}}
        {{/if}}
      </div>

      <div class='col-sm-6' style='margin-bottom: 50px; clear: both;'>
        <h4>{{t "Common Words" key='common_words'}}</h4>
        {{#if words}}
          <div style='height: 300px; overflow: auto;'>
            <div class="list-group">
              {{#each words as |word|}}
                <span class='list-group-item'>
                  {{word.name}}
                  <span class='text-muted' style='margin-left: 20px; font-size: 12px;'>
                    <br/>
                    {{t "freq:" key='frequency'}} {{word.pct}}%&nbsp;&nbsp;
                    {{#if word.travel}}
                      {{t "avg. travel:" key='avg_travel'}} {{word.travel}}&nbsp;&nbsp;
                    {{/if}}
                    {{#if word.available}}
                      {{t "available:" key='available'}} {{word.available}}%
                    {{/if}}
                  </span>
                </span>
              {{/each}}
            </div>
          </div>
        {{else}}
          {{t "None available" key='none_available'}}
        {{/if}}
      </div>

      <div class='col-sm-6' style='margin-bottom: 50px; clear: both;'>
        <h4>{{t "Common Word Pairings" key='common_word_pairs'}}</h4>
        {{#if word_pairs}}
          <div style='height: 300px; overflow: auto;'>
            <div class="list-group">
              {{#each word_pairs as |pair|}}
                <span class='list-group-item'>
                  {{pair.a}} - {{pair.b}}
                  <span class='text-muted'>
                    {{#if showing_private_info}}
                      ({{pair.pct}}%)
                    {{/if}}
                  </span>
                </span>
              {{/each}}
            </div>
          </div>
        {{else}}
          {{t "None available" key='none_available'}}
        {{/if}}
      </div>
      
      <div class='col-sm-6'>
        <p>{{t "Isn't data great? Usually when we see a little bit, it makes us think of more questions to ask, and we want to dig in deeper. There's always more to learn, more research we can do to help communicators succeed." key='data_summary_1'}}</p>
        <p>{{t "Did you know we have over <b>%{cnt}</b> communicators who have opted in to sharing their anonymized usage data with researchers? We work with AAC research organizations and institutions to discover valuable trends and insights that can help move the industry forward." key='data_summary_2' cnt=trends.research_communicators}}</p>
        <p>{{#link-to 'contact'}}{{t "Please contact us" key='please_contact_us'}}{{/link-to}} {{t "if you'd like to collaborate on an AAC research project." key='for_research_project'}}</p>
      </div>

    {{else}}
      {{t "No data to show." key='no_data_to_show'}}
    {{/if}}
  </div>
</div>