{{#if model.admin}}
  {{#if model.permissions.manage}}
    <h2>{{t "Admin Actions" key='admin_actions'}}</h2>
    <h4>{{t "Blocked Emails" key='blocked_emails'}}</h4>
    {{#if blocked_emails.loading}}
      <p>{{t "Loading..." key='loading'}}</p>
    {{else if blocked_emails.error}}
      <p>{{t "There was an error loading blocked emails" key='error_loading_blocked_emails'}}</p>
    {{else if blocked_emails}}
      <div class='list-group' style='max-width: 400px; margin-bottom: 5px;'>
        {{#each blocked_emails as |email|}}
          <a class='list-group-item'>{{email}}</a>
        {{/each}}
      </div>
    {{else}}
      <p>{{t "No data available" key='no_data_available'}}</p>
    {{/if}}
    <div>
      {{input value=blocked_email_address placeholder="email address" class="form-control inline inline-masquerade input-sm"}}
      <button class="btn btn-default btn-sm" {{action "block_email"}}>{{t "Block Email Address" key='block_email_address'}}</button>
    </div>
    <h4 style='margin-top: 20px;'>{{t "Custom Purchases" key='custom_purchases'}}</h4>
    {{#if gifts.loading}}
      <p>{{t "Loading..." key='loading'}}</p>
    {{else if gifts.error}}
      <p>{{t "Error loading custom purchases" key='error_loading_gifts'}}</p>
    {{else if gifts}}
      <div style='max-width: 400px; margin-bottom: 2px;'>
        {{input type='text' value=code_lookup placeholder="Find code" class='form-control inline inline-masquerade input-sm'}}
        <button {{action 'find_code'}} class='btn btn-default'>{{t "Find" key='find'}}</button>
      </div>
      <div class='list-group' style='max-width: 400px; margin-bottom: 5px;'>
        {{#each gifts as |gift|}}
          <a class='list-group-item'>
            <span style='float: left; font-size: 30px; padding-right: 10px;'>
              {{#if gift.gift_types.bulk_purchase}}
                {{#if gift.active}}
                  <span class='glyphicon glyphicon-usd'></span>
                {{else}}
                  <span class='glyphicon glyphicon-ok'></span>
                {{/if}}
              {{else if gift.gift_types.multi_code}}
                {{#if gift.active}}
                  <span class='glyphicon glyphicon-th'></span>
                {{else}}
                  <span class='glyphicon glyphicon-ok'></span>
                {{/if}}
              {{else if gift.gift_types.discount}}
                {{#if gift.active}}
                  <span class='glyphicon glyphicon-scissors'></span>
                {{else}}
                  <span class='glyphicon glyphicon-ok'></span>
                {{/if}}
              {{else}}
                {{#if gift.active}}
                  <span class='glyphicon glyphicon-heart'></span>
                {{else}}
                  <span class='glyphicon glyphicon-ok'></span>
                {{/if}}
              {{/if}}
            </span>
            {{#if gift.gift_types.bulk_purchase}}
              <a href="/purchase/{{gift.code}}">
                {{#if gift.organization}}{{gift.organization}}<br/>{{/if}}
                {{t "$" key='dollar_sign'}}{{delimit gift.amount 'full'}}
                {{t "license" count=gift.licenses key='n_licenses'}}
              </a>
              <div class='text-muted' style='font-size: 12px; margin-left: 15px;'>
                {{#if gift.active}}
                  {{t "pending," key='pending'}}
                {{else}}
                  {{t "purchased," key='purchased'}}
                {{/if}}
                {{t "created" key='created'}}
                {{date gift.created 'day'}}
              </div>
            {{else if gift.gift_types.multi_code}}
              <a href="/purchase/{{gift.code}}">
                {{#if gift.organization}}{{gift.organization}}<br/>{{/if}}
                {{t "code" count=gift.total_codes key='n_codes'}}
                {{#if gift.org_connected}}
                  {{t "(org-connected)" key='org_connected'}}
                {{/if}}
              </a>
              <div class='text-muted' style='font-size: 12px; margin-left: 15px;'>
                {{#if gift.active}}
                  {{gift.redeemed_codes}} {{t "redeemed" key='redeemed'}}
                {{else}}
                  {{t "fully redeemed," key='fully_redeemed'}}
                {{/if}}
                {{t "created" key='created'}}
                {{date gift.created 'day'}}
              </div>
            {{else if gift.gift_types.discount}}
              <a href="/purchase/{{gift.id}}">
                {{gift.code}}
                ({{gift.organization}})<br/>
                {{#if gift.discount}}{{gift.discount_hundred}}% {{t "off" key='off'}}{{/if}}
                {{#if gift.expires}}{{t "exp" key='expires'}} {{date gift.expires 'day'}}{{/if}}
              </a>
              <div class='text-muted' style='font-size: 12px; margin-left: 15px;'>
                {{#if gift.active}}
                  {{gift.activated_discounts}}{{#if gift.limit}} / {{gift.limit}}{{/if}} {{t "redeemed" key='redeemed'}}
                {{else}}
                  {{t "fully redeemed," key='fully_redeemed'}}
                {{/if}}
                {{t "created" key='created'}}
                {{date gift.created 'day'}}
              </div>
            {{else}}
              {{#if gift.gift_name}}{{gift.gift_name}}{{else}}{{t "User-generated Gift" key='user_generated_gift'}}{{/if}}<br/>
              {{gift.code}} - {{gift.duration}}
              <div class='text-muted' style='font-size: 12px; margin-left: 15px;'>
                {{#if gift.active}}
                  {{t "pending," key='pending'}}
                {{else}}
                  {{t "redeemed," key='redeemed'}}
                {{/if}}
                {{t "created" key='created'}}
                {{date gift.created 'day'}}
              </div>
            {{/if}}
          </a>
        {{/each}}
      </div>
      <label>{{t "Create a Gift or Bulk Purchase" key='create_a_gift_or_bulk_purchase'}}</label>
      <div style='width: 300px;'>
        {{bound-select select_class="form-control" select_id="license" content=gift_types selection=gift_type action=(action (mut gift_type)) }}
      </div>
      {{#if current_gift_type.user_gift}}
        <div style='margin-top: 15px;'>
          {{input value=gift_name placeholder="gift name" class="form-control inline inline-masquerade input-sm"}}
          {{input value=duration placeholder="# of years" class="form-control inline inline-masquerade input-sm"}}
          <button class="btn btn-default btn-sm" {{action "add_gift" 'gift'}}>{{t "Create Gift Code" key='create_gift_code'}}</button>
        </div>
      {{else if current_gift_type.bulk_purchase}}
        <div style='margin-top: 15px;'>
          <div style='margin-bottom: 5px;'>
            {{input value=org placeholder="client name" class="form-control inline inline-masquerade input-sm"}}
            {{input value=email placeholder="client email" class="form-control inline inline-masquerade input-sm"}}
          </div>
          <div style='margin-bottom: 5px;'>
            {{input value=amount placeholder="dollars" class="form-control inline inline-masquerade input-sm"}}
            {{input value=licenses placeholder="# of licenses" class="form-control inline inline-masquerade input-sm"}}
          </div>
          <span style='display: inline-block; width: 304px;'>
            {{input value=memo placeholder="memo" class="form-control inline input-sm"}}
          </span>
          <button class="btn btn-default btn-sm" {{action "add_gift" 'purchase'}}>{{t "Create Purchase Page" key='create_purchase_page'}}</button>
        </div>
      {{else if current_gift_type.discount}}
        <div style='margin-top: 15px;'>
          <div style='margin-bottom: 5px;'>
            {{input value=org placeholder="org name" class="form-control inline inline-masquerade input-sm"}}
            {{input value=email placeholder="org email" class="form-control inline inline-masquerade input-sm"}}
          </div>
          <div style='margin-bottom: 5px;'>
            {{input value=code placeholder="code" class="form-control inline inline-masquerade input-sm"}}
            {{input value=discount_pct placeholder="10%" class="form-control inline inline-masquerade input-sm"}}
          </div>
          <div style='margin-bottom: 5px;'>
            {{input value=limit placeholder="limit # of uses" class="form-control inline inline-masquerade input-sm"}}
          </div>
          <span style='display: inline-block; width: 304px;'>
            <span style='width: 150px; display: inline-block; text-align: right; padding-right: 5px;'>{{t "expires (optional)" key='expires_optional'}}</span>
            {{input type='date' value=expires placeholder="(optional)" class="form-control inline inline-masquerade input-sm"}}
          </span>
          <button class="btn btn-default btn-sm" {{action "add_gift" 'discount'}}>{{t "Create Discount Code" key='create_discount_code'}}</button>
        </div>
      {{else if current_gift_type.multi_code}}
        <div style='margin-top: 15px;'>
          <div style='margin-bottom: 5px;'>
            {{input value=org placeholder="org name" class="form-control inline inline-masquerade input-sm"}}
            {{input value=email placeholder="org email" class="form-control inline inline-masquerade input-sm"}}
          </div>
          <div style='margin-bottom: 5px;'>
            {{input value=total_codes placeholder="# of codes" class="form-control inline inline-masquerade input-sm"}}
            {{input value=years placeholder="years" class="form-control inline inline-masquerade input-sm"}}
          </div>
          <div style='margin-bottom: 5px;'>
            {{input value=org_id placeholder="org_id" class="form-control inline inline-masquerade input-sm"}}
            {{input value=memo placeholder="memo" class="form-control inline inline-masquerade input-sm"}}
            <button class="btn btn-default btn-sm" {{action "add_gift" 'multi_code'}}>{{t "Create Multi-Code Batch" key='create_multi_code_batch'}}</button>
          </div>
        </div>
      {{/if}}
    {{else}}
      <p>{{t "No data available" key='no_data_available'}}</p>
    {{/if}}
  {{else}}
    <p>{{t "Not authorized" key='not_authorized'}}</p>
  {{/if}}
{{else}}
  {{t "No information available" key='no_information_available'}}
{{/if}}
