<div class={{elem_class}} style={{elem_style}}>
  <table class="table table-hover table-condensed" style="margin-bottom: 0;">
    <thead>
      <tr>
        <th colspan="2">
          {{#if usage_stats.modeling}}<span class='glyphicon glyphicon-hand-up'></span>{{/if}}
          {{t "Most common words" key='most_common_words'}}
          <a href="#" {{action 'word_cloud'}}>{{t "word cloud" key='word_cloud'}}</a>
        </th>
      </tr>
    </thead>
    <tbody>
      {{#if usage_stats.popular_words}}
        {{#each usage_stats.popular_words as |word|}}
          <tr>
            <td><a href="#" {{action 'word_data' word.text}} style='text-decoration: none; color: #000;'>{{word.text}}</a></td>
            <td>{{word.count}}</td>
          </tr>
        {{/each}}
      {{else}}
        <tr>
          <td>{{t "No data available" key='no_data'}}</td>
        </tr>
      {{/if}}
    </tbody>
  </table>
</div>
