<div class="col-sm-3 col-xs-6" style={{elem_style}}>
  <div class="panel panel-default summary">
    <div class="panel-heading">
      {{t "Total Sessions" key='total_sessions'}}
    </div>
    <div class="panel-body">
      {{delimit usage_stats.total_sessions}}
    </div>
  </div>
</div>
<div class="col-sm-3 col-xs-6">
  <div class="panel panel-default summary">
    <div class="panel-heading">
      {{t "Total Words" key='total_words'}}
    </div>
    <div class="panel-body">
      {{delimit usage_stats.total_words}}
    </div>
  </div>
</div>
