  <div>
    {{#each sizes as |size|}}
      <div class='bar_box' style={{size.box_style}}>
        <div class='bar_holder' title={{size.title}}>
          <div class={{size.bar_class}} style={{size.bar_style}}>
            <div class='inner'>
              {{size.pct}}%<br/> ({{size.count}})
              {{#if size.avg_response}}
                <br/> {{seconds_ago size.avg_response 'brief'}}
              {{/if}}
            </div>
          </div>
        </div>
        <div class='bar_label'>{{size.name}}</div>
      </div>
    {{/each}}
    <div style='clear: left;'></div>
  </div>
