<table class="table table-hover">
  <tbody>
    {{#each communicators_with_stats as |user|}}
      <tr>
        <td style='width: 20%; white-space: nowrap;'>
          {{#if user.totals}}
            {{t "room activity" key='room_activity'}}
          {{else}}
            {{#link-to 'user' user.user_name}}
              <img src={{user.avatar_url}} style="height: 30px;"/>
              {{user.user_name}}
            {{/link-to}}
          {{/if}}
        </td>
        <td style='padding: 0;'>
          <div class='user_weeks'>
            {{#each user.week_stats as |stat|}}
              <div class={{stat.class}} title={{stat.tooltip}} data-toggle="tooltip" data-placement="top">
                {{#if stat.goals}}
                  <span class='glyphicon glyphicon-flag'></span>
                {{else}}
                  &nbsp;
                {{/if}}
                <span class='sr-only'>
                  {{stat.count}}
                </span>
              </div>
            {{/each}}
          </div>
        </td>
        <td style='width: 3%;'>
          {{#if deletable}}
            <a href="#" {{action 'delete_action' user.id}}>
              <span class='glyphicon glyphicon-remove'></span>
              <span class='sr-only'>{{t "Remove User" key='remove_user'}}</span>
            </a>
          {{/if}}
        </td>
      </tr>
    {{/each}}
    <tr>
      <td style='width: 20%;' class='text-muted'>{{t "week of" key='week_of'}}</td>
      <td style='padding: 5px 0 0;'>
        <div class='user_weeks'>
          {{#each labeled_weeks as |label|}}
            <div class='week_label'>
              {{label}}
            </div>
          {{/each}}
        </div>
      </td>
      <td style='width: 3%;'>
      </td>
    </tr>
  </tbody>
</table>
