<div id='small_header'><%= render 'shared/static_header' %></div>
<div id="content" style="width: 400px; margin: 50px auto 0 auto;">
      <div style="margin: 20px;">
        <% if @error && @error != 'invalid_login' %>
          <!-- TODO: i18n -->
          <p>There was a problem while trying to grant
          <b><%= @app_name %></b> access to your account
          <div class='alert alert-danger'>
            <% if @error == 'invalid_key' %>
              The client_id provided is not valid
            <% elsif @error == 'bad_redirect_uri' %>
              The redirect_uri provided is not valid
              or does not match the developer key
            <% else %>
              Unexpected error: <%= @error %>
            <% end %>
          </div>
        <% else %>
          <form action="/oauth2/token/login" id='oauth_login' method='POST' autocomplete="off">
            <input type="hidden" name='code' value='<%= @code %>'/>
            <div class='form-group'>
              <img src="<%= @app_icon %>" style="width: 72px; height: 72px; float: left; padding-right: 5px;"/>
              <p>
                <!-- TODO: icon_url -->
                <b><%= @app_name %></b> is requesting permission 
                to access your CoughDrop account. Please login to authorize.
              </p>
            </div>
            <div class='form-group'>
              <input class='form-control input-lg' type='text' name='username' value='<%= params['username'] %>' placeholder="username"/>
            </div>
            <div class='form-group'>
              <input class='form-control input-lg' type='password' name='password' placeholder="password"/>
            </div>
            <% if @error == 'invalid_login' %>
              <div class='form-group' id='invalid_attempt'>
                <div class='alert alert-danger'>
                  invalid username or password
                </div>
              </div>
            <% elsif @error == 'invalid_token' %>
              <div class='form-group' id='invalid_attempt'>
                <div class='alert alert-danger'>
                  approval failed, please try logging in
                </div>
              </div>
            <% end %>
            <div class='form-group'>
              <button class='btn btn-primary btn-lg ' type='submit'>Login & Approve</button>
              <button class='btn btn-lg btn-default' type='submit' name='reject' value='1'>Cancel</button>
            </div>
            <div class='form-group'>
              <a href="/forgot_password" target="_blank">forgot password</a> | 
              <a href="/register" target="_blank">register</a><br/>
            </div>
          </form>
          <form action="/oauth2/token/login" id='oauth_approve' method='POST' autocomplete="off" style='display: none;'>
            <input type="hidden" name='code' value='<%= @code %>'/>
            <input type='hidden' name='username' value='' id='approve_username'/>
            <input type='hidden' name='approve_token' value='' id='approve_token'/>
            <div class='form-group'>
              <img src="<%= @app_icon %>" style="width: 72px; height: 72px; float: left; padding-right: 5px;"/>
              <p>
                <!-- TODO: icon_url -->
                <b><%= @app_name %></b> is requesting permission 
                to access your CoughDrop account. Please approve the app to continue
              </p>
            </div>
            <div class='form-group'>
              You are currently signed in as:
              <div style='font-size: 20px; margin-bottom: 20px;'>
                <img src='/images/settings.png' id='avatar' style='height: 40px; max-width: 50px;'/>
                 <strong><span id='user_name'></span></strong>
               </div>
            </div>
            <div class='form-group'>
              <button class='btn btn-primary btn-lg ' type='submit'>Approve</button>
              <button class='btn btn-lg btn-default' type='submit' name='reject' value='1'>Cancel</button>
            </div>
            <div class='form-group'>
              <a href="#" id='login_instead'>login as a different user</a>
            </div>
          </form>
        <% end %>
      </div>
</div>
<script>
(function() {
  document.getElementById('login_instead').addEventListener('click', function(event) {
    event.preventDefault();
    document.getElementById('oauth_login').style.display = 'block';
    document.getElementById('oauth_approve').style.display = 'none';
  });
  
  var auth = null;
  try {
    auth = JSON.parse(localStorage['cdStash-auth_settings']);
  } catch(e) { }
  if(auth && auth.user_name && auth.access_token && document.getElementById('oauth_login') && !document.getElementById('invalid_attempt')) {
    var xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function() {
      if(this.readyState == 4 && this.status == 200) {
        res = JSON.parse(this.responseText);
        if(res && res.authenticated && res.scopes && res.scopes.indexOf('full') >= 0 && document.getElementById('oauth_approve')) {
          if(res.avatar_image_url) { document.getElementById('avatar').src = res.avatar_image_url; }
          document.getElementById('user_name').innerText = res.user_name;
          document.getElementById('approve_username').value = res.user_name;
          document.getElementById('approve_token').value = auth.access_token;
          document.getElementById('oauth_login').style.display = 'none';
          document.getElementById('oauth_approve').style.display = 'block';
        }
      }
    };
    var path = "/api/v1/token_check?access_token=" + auth.access_token;
    xhr.open('GET', path, true);
    xhr.send();
  }
})();
</script>