Hello from <%= company_name %>! You have an account with <%= app_name %> (user name "<%= @user.user_name %>")
that has been inactive for a long time. We don't need to keep your
information around if it's not useful for you, so your account is
currently scheduled for deletion. This is your <%= @attempt == 1 ? 'first' : 'final' %> warning.<br/><br/>

<b>If you do nothing, your <%= app_name %> account will be deleted soon</b>.
If you would like to prevent this from happening, all you need to do
is 
<a href="<%= JsonApi::Json.current_host %>/login">log in to your account</a> 
and the deletion will be canceled. Alternately, if you would like
to delete your account right away, you can log in, go to your profile
page and hit "Delete My Account" to have it deleted.<br/><br/>

We are grateful to you for giving <%= app_name %> a try. If we can answer
any questions for you please feel free to 
<a href="<%= JsonApi::Json.current_host %>/contact">contact us</a>
and we'll be happy to work with you.<br/><br/>

Thanks!<br/>
<%= email_signature %>


