Thank you for purchasing an <b>evaluator license</b> of <%= app_name %>, <b><%= @user.user_name %></b>! 
We're excited for you to be able to take
advantage of all the great resources that <%= app_name %> users get! <%= app_name %> was
built to provide a simple and flexible interface for communicators, and a powerful set of tools
to help the support team as they work with those communicators. We hope this app
makes a difference for everyone who uses it, including you!<br/><br/>

<%= app_name %> has a lot of great features that help not only the communicator, but the team
around them to stay informed and to work together toward communication goals. Just about
everything is configurable in <%= app_name %>, from eye tracking support, to switch access, to
button sizing, to picture display... there's a lot in here! But don't worry, you can
learn gradually as you go, and there are plenty of videos and walkthroughs available in
our <a href="<%= support_url %>">usage guides</a>.<br/><br/>

If you're unsure where to start, feel free to check out our 
<a href="<%= support_url %>"><%= app_name %> usage guides</a> for walkthroughs of 
common tasks, or to shoot us a message if you need help or think something might be broken.<br/><br/>

Thanks again for signing up for <%= app_name %>! We hope you enjoy using the tool, and please
don't hesitate to let us know if you think of anything we could do to make things easier.<br/><br/>

Thanks!<br/>
<%= email_signature %>
