<% if @gift.bulk_purchase? %>
Thank you for purchasing <%= app_name %> for your group or organization! <%= app_name %> is a powerful
communication tool that we hope can make a difference in the lives of the communicators
you work with. Our sales team will follow up with you soon to finalize the purchase process.
Below are the details of your purchase:<br/><br/>

Organization: <%= @gift.settings['organization'] %><br/>
Email: <%= @gift.settings['email'] %><br/>
Purchase Amount: $<%= @gift.settings['amount'] %><br/>
Licenses: <%= @gift.settings['licenses'] %><br/><br/>
<% else %>
Thank you for purchasing <%= app_name %> as a gift for someone else! <%= app_name %> is a powerful
communication tool that we hope can make a difference in the lives of 
struggling communicators. Below you will find the redemption code you can share
with anyone to give them free access to a premium <%= app_name %> account. This gift
code will provide one user license, and includes "cloud extras" access 
for <b><%= @gift.duration %></b>.<br/><br/>

The gift code is <b><%= @gift.code %></b>, and is also available by
<a href="<%= JsonApi::Json.current_host %>/redeem/<%= @gift.code %>">
accessing this link</a>.<br/><br/>

To share this gift, just forward this email to someone, or copy the
gift code and share that with them. You will receive an email when the
gift code is redeemed.<br/><br/>
<% end %>

Thanks again for sharing <%= app_name %>! Please don't hesitate to let us know if 
you have any questions or concerns.<br/><br/>

Thanks!<br/>
<%= email_signature %>
