<%= @user.settings['name'] %> just updated their <%= app_name %> billing information!<br/><br/>
User name: <b><a href="<%= JsonApi::Json.current_host %>/<%= @user.user_name %>"><%= @user.user_name %></a></b><br/>
Email: <b><%= @user.settings['email'] %></b><br/>
<%if @location%>Location: <%= @location %><br/><% end %>
<%if @user.settings['referrer']%>Source: <%= @user.settings['referrer'] %><br/><% end %>
<%if @user.settings['ad_referrer']%>Ad Key: <%= @user.settings['ad_referrer'] %><br/><% end %>

<% if @subscription['never_expires'] %>
Subscription: Never Expires
<% elsif @user.org_sponsored? %>
Subscription: Org-Sponsored<br/>
Organization: <%= (Organization.attached_orgs(@user).detect{|o| o['sponsored'] } || {})['name'] %>
<% elsif @subscription['started'] %>
Subscription: Recurring<br/>
Plan: <%= @subscription['plan_id'] %>
<% if @user.subscription_hash['extras_enabled'] %>
Extras: Purchased Premium Symbols
<% end %>
<% elsif @subscription['eval_account'] %>
Plan: Evaluator Account
<% if @user.settings['subscription'] && @user.settings['subscription']['purchase_amount'] %>
Purchase Amount: $<%= @user.settings['subscription']['purchase_amount'] %><br/>
<% end %>
<% if @user.subscription_hash['extras_enabled'] %>
Extras: Purchased Premium Symbols
<% end %>
<% elsif @subscription['premium_supporter'] %>
Plan: Premium Supporter Account
<% if @user.settings['subscription'] && @user.settings['subscription']['purchase_amount'] %>
Purchase Amount: $<%= @user.settings['subscription']['purchase_amount'] %><br/>
<% end %>
<% if @user.subscription_hash['extras_enabled'] %>
Extras: Purchased Premium Symbols
<% end %>
<% elsif @subscription['purchased'] %>
Subscription: Purchase<br/>
Plan: <%= @subscription['plan_id'] %><br/>
<% if @user.settings['subscription'] && @user.settings['subscription']['purchase_amount'] %>
Purchase Amount: $<%= @user.settings['subscription']['purchase_amount'] %><br/>
<% end %>
<% if @user.subscription_hash['extras_enabled'] %>
Extras: Purchased Premium Symbols
<% end %>
<% if @user.settings['subscription'] && @user.settings['subscription']['discount_code'] %>
Discount Code: <%= @user.settings['subscription']['discount_code'] %>
<% end %>
<% else %>
Subscription: No subscription information provided (what the?) (<%= @user.billing_state %>)
<% end %>
<br/><br/>

Thanks!<br/>
<%= email_signature %>
