This is a notice that the user account <b><%= @user.user_name %></b> needs updated
billing information. There was an error handling the current billing information, either
the card failed multiple times or the account was manually canceled, or something
unexpected occurred.<br/><br/>

To address this problem please 
<a href="<%= JsonApi::Json.current_host %>/<%= @user.user_name %>/subscription?confirmation=<%= @user.registration_code %>">update your billing settings in <%= app_name %></a>.<br/><br/>

If you need more time on your trial or think this message was sent in error, please let us know
and we'll help get to the bottom of things. Just 
<a href="<%= JsonApi::Json.current_host %>/contact">contact us</a>
to make a request.<br/><br/>

Thanks!<br/>
<%= email_signature %>
